# Python Data, 2024

---

* [√övod k pand√°m](#√övod-k-pand√°m),
* [z√°kladn√≠ objekty](#Z√°kladn√≠-datov√©-typy-frameworku),
    - [series](#Series),
    - [dataframe](#DataFrame),
    - [index](#Index).
* [tvo≈ôen√≠ objekt≈Ø](#Tvorba-DataFrame),
    - [naƒçti csv](#Naƒçti-soubor-csv),
    - [naƒçti html](#Naƒçti-tabulku-html),
    - [naƒçti data z SQL](#Naƒçti-v√Ωstup-dotazu-do-tabulky).
* [prohl√≠≈æen√≠ dat](#Prozkoum√°v√°n√≠-dat),
    - [selekce u sloupeƒçk≈Ø](#Selekce-u-sloupeƒçk≈Ø),
    - [selekce u tabulek](#Selekce-u-tabul√°rn√≠ch-hodnot),
    - [dal≈°√≠ metody prohl√≠≈æen√≠](#Metody-pro-nahl√≠≈æen√≠).
* [manipulace s daty](#Manipulace-se-sloupci),
    - [p≈ôejmenov√°n√≠ sloupc≈Ø](#P≈ôejmenov√°n√≠-sloupc≈Ø),
    - [p≈ôid√°v√°n√≠ sloupc≈Ø](#P≈ôid√°v√°n√≠-sloupc≈Ø-do-DataFrame),
    - [odstra≈àov√°n√≠ sloupc≈Ø]().

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.BaZU6gIdwRYQHu4rBBoO-gHaIX%26pid%3DApi&f=1&ipt=1013c975daabd695fcd4ebfc2c0e0b8ba4f10c37780419d8ff56538ec7a7f9ea&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

## √övod k pand√°m

---

Jde o knihovnu, kter√° stav√≠ na jednoduch√Ωch, p≈ôesto v√Ωkonn√Ωch a intuitivn√≠ch n√°stroj√≠ch.

Tyto prost≈ôedky umo≈æ≈àuj√≠ manipulaci, anal√Ωzu a vizualizaci strukturovan√Ωch dat s tabulkov√Ωmi a ƒçasov√Ωmi daty.

Vezme data z r≈Øzn√Ωch zdroj≈Ø, naƒçte je, zpracuje a zap√≠≈°e (pozn. **zdroj v C**).


<br>

### Kde pandy najdu a jak vypadaj√≠?

---

- Odkaz na **ofici√°ln√≠ repozit√°≈ô** [t√©to knihovny](https://github.com/pandas-dev/pandas),
- pokud bude≈° pot≈ôebovat v√≠ce podrobnost√≠, mrkni na [ofici√°ln√≠ dokumentaci](https://pandas.pydata.org/pandas-docs/stable/index.html).

<br>

### Proƒç se ti bude hodit?

---

**Pandas** slou≈æ√≠ pro anal√Ωzu dat.

Data jsou nejƒçastƒõji v SQL datab√°zi, r≈Øzn√Ωch souborech, tabulkov√Ωch procesech atd.

*Pandas* si p≈ôedstav jako Excel, ale s v√≠ce funkcemi a hlavnƒõ mo≈ænost√≠ automatizovat procesy.

<br>

### Jak nainstalovat knihovnu?

---

Instalace **posledn√≠ dostupn√© verze**:

In [ ]:
!pip install pandas  # Mo≈ænost pracovat s jin√Ωm mana≈æerem

<br>

Instalace **konkr√©tn√≠ vybran√© verze**:

In [ ]:
!pip install pandas==1.1.1

<br>

### Jak knihovnu spustit?

---

In [ ]:
import pandas

In [ ]:
pandas.__version__  # FutureWarning

<br>

Pou≈æit√≠ **aliasu**:

In [ ]:
import pandas as pd

In [ ]:
from pandas import DataFrame

<br>

### Souhrn kapitoly
---

- knihovna je tedy *≈°v√Ωcarsk√Ω no≈æ√≠k* pro pr√°ci **s tabel√°rn√≠mi daty** a **ƒçasov√Ωmi ≈ôadami**,
- jde o vƒõt≈°√≠ bal√≠ƒçek, t≈ôet√≠ch stran (pot≈ôeba st√°hnout & instalovat).

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.b2NCTuZRiG8yrmTCF7MogAHaHa%26pid%3DApi&f=1&ipt=f9e6a3811b3a707743134cfb19b2ee4f9c44584f5ea328582b227f14b94fcb1f&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

## Z√°kladn√≠ datov√© typy

---

Knihovna nab√≠z√≠ ≈ôadu u≈æiteƒçn√Ωch n√°stroj≈Ø.

Jde o *metody* a *funkce* nad r√°mec z√°kladn√≠ch (zabudovan√Ωch) **datov√Ωch struktur**.

Hlavn√≠ **t≈ôi struktury**, na kter√Ωch knihovna stoj√≠ jsou:
* `Index`
* `series`,
* `dataFrames`.

<img src="https://i.imgur.com/NNRgONl.png" width="1200" style="margin-left:auto; margin-right:auto"/>

- **Indexes**, je oznaƒçen√≠ (nebo **identifik√°tor**) jednotliv√Ωch ≈ô√°dk≈Ø, kter√© slou≈æ√≠ k jejich jednoznaƒçn√© identifikaci a usnad≈àuje p≈ô√≠stup k dat≈Øm,
- **series**, je *sloupec*, **pole** hodnot s indexem, tedy sloupeƒçek tabulky nebo ƒç√≠slovan√Ω seznam,
- **frames**, jde v podstatƒõ o oznaƒçen√≠ cel√© tabulky.

### Series

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Yp6ZBv9C33_pDfZkJcKbJQHaHa%26pid%3DApi&f=1&ipt=546833b7ce370c5a62bea21079371efd1fa9547765d4eae8e6c9e41f6b25a3af&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

Jde **o jednodimenzion√°ln√≠ pole** (pop≈ô. sloupeƒçek, ≈ôada).

Tento objekt m√° **indexovan√© data** (jsi schopen data vybrat, uchopit).

Opƒõt si jej m≈Ø≈æe≈° p≈ôedstavit jako sloupeƒçek v obyƒçejn√Ωch *Excelovsk√Ωch* tabulk√°ch.

<br>

Na uk√°zku m≈Ø≈æe≈° tyto sloupeƒçky vytvo≈ôit t≈ôeba ze sekvenc√≠:

In [2]:
from pandas import Series

In [3]:
mesta_sl = Series(["Praha", "Brno", "Ostrava", "Hradek Kr√°lov√©"])

In [4]:
type(mesta_sl)

pandas.core.series.Series

In [5]:
mesta_sl

0             Praha
1              Brno
2           Ostrava
3    Hradek Kr√°lov√©
dtype: object

<br>

Jak m≈Ø≈æe≈° vidƒõt v uk√°zce v√Ω≈°e, *sloupec* `Series` obsahuje **jak po≈ôad√≠, tak hodnoty**.

In [6]:
mesta_sl.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
mesta_sl.values

array(['Praha', 'Brno', 'Ostrava', 'Hradek Kr√°lov√©'], dtype=object)

<br>

Obecnƒõ vypad√° jako nƒõjak√© pole, kter√Ω m√° sv≈Øj nativn√≠ datov√Ω typ `object`.

<br>

Aƒçkoliv je `pandas` knihovna Pythonu, datov√© typy nemus√≠ v≈ædy odpov√≠dat z√°kladn√≠m **datov√Ωm typ≈Øm Pythonu**:

| Typy `pandas`| typy `Python`| Pou≈æit√≠ |
| :-: | :-: | :- |
| `object` | `str` nebo smƒõska| text nebo nam√≠chan√© ƒç√≠seln√© a neƒç√≠seln√© hodnoty |
| `int64` | `int`| cel√° ƒç√≠sla |
| `float64` | `float` | desetinn√° ƒç√≠sla |
| `bool` | `bool` | True a False |
| `datetime64` | `-`| Hodnota data a ƒçasu |
| `timedelta` | `-` | ƒåasov√© rozd√≠ly |

<br>

Stejnƒõ jako pole nebo sekvence m≈Ø≈æe≈° indexovat a slicovat hodnoty typu `Series`.

In [ ]:
mesta_sl

#### Indexov√°n√≠ sloupeƒçku

---

In [ ]:
mesta_sl[1]

<br>

#### Slicing sloupeƒçku

---

In [ ]:
mesta_sl[0:3]

Na prvn√≠ pohled nen√≠ tolik odli≈°n√Ω od datov√©ho typu `list` nebo `tuple` (p≈ô√≠padnƒõ pole v `numpy`).

Nejvƒõt≈°√≠ rozd√≠l spoƒç√≠t√° pr√°vƒõ v **indexu**.

A≈• `list`, `tuple` nebo `numpy.array` implicitnƒõ pracuj√≠ **s celoƒç√≠seln√Ωm indexem**.

<br>

Objekt `Series` na druhou stranu nab√≠z√≠ mo≈ænost, zad√°vat vlastn√≠ indexov√© hodnoty:

In [8]:
mesta_sl = Series(["Praha", "Brno", "Ostrava", "Hradek Kr√°lov√©"],
                  index=["1_mesto", "2_mesto", "3_mesto", "4_mesto"])  # Tvoje specifick√© indexy

In [9]:
mesta_sl.index

Index(['1_mesto', '2_mesto', '3_mesto', '4_mesto'], dtype='object')

In [10]:
mesta_sl

1_mesto             Praha
2_mesto              Brno
3_mesto           Ostrava
4_mesto    Hradek Kr√°lov√©
dtype: object

In [11]:
mesta_sl["2_mesto"]

'Brno'

T√≠mto zp≈Øsobem si m≈Ø≈æe≈° p≈ôedstavit ≈ôadu, sloupec (`Series`) jako variantu datov√©ho typu `dict`, v Pythonu.

V√≠≈°, ≈æe ve slovn√≠ku Pythonu jsou hodnoty *mapovan√©* na jednotliv√© kl√≠ƒçe.

<br>

#### Pokroƒçil√©, type-specific
---
V p≈ô√≠padƒõ `Series` jde o mapov√°n√≠ **typovan√Ωch hodnot** na **typovan√© kl√≠ƒçe**. Pr√°vƒõ pojem **typovan√Ω** (~*type-specific*) je z√°sadn√≠.

Pr√°vƒõ *typovan√Ω* zkompilovan√Ω k√≥d od `Series` nab√≠z√≠ nƒõkter√© efektivnƒõj≈°√≠ metody a funkce, kter√© obyƒç. `dict` v Pythonu ne.

In [12]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [13]:
populace_evropa_sl = Series(populace_evropa)

In [14]:
populace_evropa_sl

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
dtype: int64

<br>

Defaultnƒõ ti objekt `Series` nachyst√° index ze se≈ôazen√Ωch kl√≠ƒç≈Ø p≈Øvodn√≠ho datov√©ho typu `dict`.

M≈Ø≈æe≈° prov√©st klasick√© mapov√°n√≠ hodnoty na jm√©no kl√≠ƒçe:

In [15]:
populace_evropa_sl["Ceska_republika"]

10513209

K tomu, ale `Series` nab√≠z√≠ operace jako nap≈ô. *slicing* pro pole:

In [16]:
populace_evropa_sl["Ceska_republika": "Polsko"]

Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
dtype: int64

<br>

**üß† CVIƒåEN√ç üß†, p≈ôepoƒç√≠tej hodnoty ve sloupeƒçku**

In [ ]:
data = {              # Data v milionech, p≈ôeveƒè na jednotky
    "New York": 8.4,  # 8400000
    "London": 9.0,
    "Tokyo": 13.9,
    "Sydney": 5.3,
}

In [39]:
# Zapi≈° ≈ôe≈°en√≠

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "New York": 8.4,
    "London": 9.0,
    "Tokyo": 13.9,
    "Sydney": 5.3,
}


mesta_sl = pd.Series(data)


def preved_na_jednotky(series):
    return series * 1_000_000  # astype(int) -> cel√© ƒç√≠slo


prevedene = preved_na_jednotky(mesta_sl)
```
</details>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP._inpASbq98lGCmZFxPEq7wHaHa%26pid%3DApi&f=1&ipt=ecf1243da46e7ae6341330ae58bda2a6456c95f63a0cd79eda7d561cf3334a57&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

### DataFrame

---


Dal≈°√≠m element√°rn√≠m datov√Ωm typem t√©to knihovny je `DataFrame`.

Analogicky si jej m≈Ø≈æe≈° p≈ôedstavit **jako tabulku** v Excelu.

Tedy objekt slo≈æen√Ω **z ≈ô√°dk≈Ø** (index≈Ø) a **sloupc≈Ø** (`Series`).

In [18]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [19]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

<br>

Nezapome≈à nahr√°t pot≈ôebn√Ω objekt:

In [20]:
from pandas import DataFrame

In [21]:
zeme_evropa_df = DataFrame(  # Zd≈Øraznit "df"
    {
        "populace": populace_evropa,
        "rozloha": rozloha_evropa
    }
)

In [22]:
zeme_evropa_df

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

In [23]:
type(zeme_evropa_df)

pandas.core.frame.DataFrame

<br>

Stejnƒõ jako u `Series` m√° i `DataFrame` svoje *indexy*:

In [24]:
zeme_evropa_df.index

Index(['Dansko', 'Ceska_republika', 'Nemecko', 'Polsko', 'Slovensko',
       'Rakousko'],
      dtype='object')

<br>

Nav√≠c m≈Ø≈æe≈° pracovat s atributem `columns`, kter√Ω dr≈æ√≠ jm√©na **jednotliv√Ωch sloupeƒçk≈Ø**:

In [25]:
zeme_evropa_df.columns

Index(['populace', 'rozloha'], dtype='object')

Proto si m≈Ø≈æe≈° objekt `DataFrame` p≈ôedstavit tak√© jako Pythonovsk√Ω `dict`.

<br>

Ov≈°em s t√≠m rozd√≠lem, ≈æe tentokr√°t mapuje≈° jm√©no sloupeƒçku na `Series`:

In [26]:
zeme_evropa_df["populace"]

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: populace, dtype: int64

In [27]:
populace_z_df = zeme_evropa_df["populace"]

In [28]:
type(populace_z_df)

pandas.core.series.Series

Opatrnƒõ p≈ôi vytv√°≈ôen√≠ nov√©ho `DataFrame`, u chybƒõj√≠c√≠ch kl√≠ƒç≈Ø implictinƒõ zapisuje `Nan` hodnotu (~*not a number*):

In [29]:
chybejici_hodnoty_df = DataFrame(
    [
        {"A": 1, "B": 4},
        {"C": 6, "B": 7}
    ]
)

In [30]:
chybejici_hodnoty_df

     A  B    C
0  1.0  4  NaN
1  NaN  7  6.0

Nav√≠c si m≈Ø≈æe≈° v≈°imnout rozd√≠ln√© definice **datov√©ho typu**:

In [31]:
chybejici_hodnoty_df.dtypes

A    float64
B      int64
C    float64
dtype: object

In [32]:
chybejici_hodnoty_df["A"]

0    1.0
1    NaN
Name: A, dtype: float64

In [33]:
konvertovany_sl_a = chybejici_hodnoty_df["A"].convert_dtypes()

In [34]:
konvertovany_sl_a

0       1
1    <NA>
Name: A, dtype: Int64

V√≠ce si o p≈ôetypov√°n√≠ obecnƒõ a dozv√≠≈° pozdƒõji.

**üß† CVIƒåEN√ç üß†, p≈ôidej nov√Ω sloupeƒçek**

In [ ]:
data = {
    "Mƒõsto": ["New York", "London", "Tokyo", "Sydney"],
    "Populace (v mio)": [8.4, 9.0, 13.9, 5.3],
    "Plocha (km¬≤)": [783, 1572, 2194, 1687],
}

In [54]:
# Z√°pis

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "Mƒõsto": ["New York", "London", "Tokyo", "Sydney"],
    "Populace (v mio)": [8.4, 9.0, 13.9, 5.3],
    "Plocha (km¬≤)": [783, 1572, 2194, 1687],
}

mesta_df = pd.DataFrame(data)

def vypocitej_hustotu_zalidneni(df):
    """
    P≈ôidejte nov√Ω sloupec 'Hustota zalidnƒõn√≠' (poƒçet obyvatel na km¬≤).
    """
    df["Hustota zalidnƒõn√≠ (na km¬≤)"] = (df["Populace (v mio)"] * 1_000_000 / df["Plocha (km¬≤)"]).round().astype(int)
    return df

df = vypocitej_hustotu_zalidneni(mesta_df)
print(df)
```
</details>

<img src="https://imgs.search.brave.com/EQep67dP5UaJDlqkF2HvOQTESVA_LQSZx_SR7FE6JYM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9kMW5o/aW8wb3g3cGdiLmNs/b3VkZnJvbnQubmV0/L19pbWcvb19jb2xs/ZWN0aW9uX3BuZy9n/cmVlbl9kYXJrX2dy/ZXkvNTEyeDUxMi9w/bGFpbi90YWJsZV9z/ZWxlY3Rpb25fcm93/LnBuZw" width="200" style="margin-left:auto; margin-right:auto"/>

### Index

---

Posledn√≠m ze z√°kladn√≠ch objekt≈Ø frameworku `pandas` je tedy **Index** (velk√© "i").

Jak `Series`, tak `DataFrame` v sobƒõ *Index* obsahuj√≠.

Pro jednoduchost, si jej m≈Ø≈æe≈° p≈ôedstavit jako oznaƒçen√≠ jednotliv√Ωch ≈ô√°dk≈Ø v tabulce.

In [40]:
from pandas import Index

In [41]:
indexy = Index([2, 3, 4, 5])

In [42]:
indexy

Index([2, 3, 4, 5], dtype='int64')

<br>

#### Indexov√°n√≠ index≈Ø

---

In [43]:
indexy[2]

4

<br>

#### Slicov√°n√≠ index≈Ø

---

In [44]:
indexy[:3]

Index([2, 3, 4], dtype='int64')

<br>

#### Nezmƒõniteln√Ω objekt

---

In [45]:
indexy[2] = 3

TypeError: Index does not support mutable operations

Tato nezmƒõnitelnost slou≈æ√≠ k vƒõt≈°√≠ bezpeƒçnosti, proto≈æe jednotliv√© indexy, m≈Ø≈æe sd√≠let v√≠ce `DataFrame`.

<br>

#### Index jako se≈ôazen√Ω set

---

In [46]:
indexy_a = Index([1, 2, 3, 4])
indexy_b = Index([3, 4, 5, 6])

In [47]:
indexy_a.intersection(indexy_b)

Index([3, 4], dtype='int64')

In [48]:
indexy_a.union(indexy_b)

Index([1, 2, 3, 4, 5, 6], dtype='int64')

<br>

### Souhrn k z√°kladn√≠m typ≈Øm

---

- **≈ô√°dky**, jako pole, jednorozmƒõrn√©, mo≈ænost selekce index≈Ø i hodnot a jejich rozsah≈Ø,
- **indexy**, jako pole, nezmƒõniteln√©, mo≈ænost selekce jednoho ≈ô√°dk≈Ø i rozsahu ≈ô√°dk≈Ø,
- **tabulka**, v√≠cerozmƒõrn√© pole, v√Ωbƒõr podle sloupc≈Ø.


<img src="https://imgs.search.brave.com/CoDVQW6cpYcV0qJtUejA7WQat4mLN2AOxuK2hXwgGAo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4w/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvcm91bmQtdWkt/aWNvbnMvNTEyL2Fk/ZF9ibHVlLnBuZw" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

## Tvorba DataFrame

---

Vytvo≈ôit nov√Ω `DataFrame` je z√°le≈æitost nƒõkolika m√°lo argument≈Ø.

Nen√≠ ov≈°em velmi ƒçast√©, chystat data *z niƒçeho*.

Vƒõt≈°inou pot≈ôebuje≈° pr√°vƒõ nahr√°t r≈Øzn√© **existuj√≠c√≠ extern√≠ soubory**, do `DataFrame` objekt≈Ø.

* `read_csv`,
* `read_excel`,
* `read_json`,
* `read_html`,
* `read_sql`,
* `read_parquet`,
* `read_sas`.

###  Naƒçti soubor `csv`

---

Knihovna nab√≠z√≠ p≈ô√≠mo specializovanou funkci `read_csv`.

Ta dovede naƒç√≠st obsah souboru do nov√©ho `DataFrame`.

Pro prvn√≠ pou≈æit√≠, p≈ô√≠padnƒõ pozdƒõj≈°√≠ roz≈°√≠≈ôen√≠ je vhodn√©, prozkoumat dokumentaci:

In [ ]:
import pathlib

In [ ]:
from pandas import read_csv

In [ ]:
read_csv?

Naƒçte≈° jm√©no souboru se specifickou p≈ô√≠ponou `csv`:

In [ ]:
zamestnanci_ = !ls ../onsite | grep ".csv"

In [ ]:
zamestnanci_

In [ ]:
zamestnanci_rel = pathlib.Path("../onsite").joinpath(zamestnanci_[0])

In [ ]:
zamestnanci_rel

In [ ]:
zamestnanci = read_csv(zamestnanci_rel)

Prozkoumej samotn√Ω soubor:

In [ ]:
!cat ../onsite/customers_inp.csv

<br>

Nyn√≠ se pod√≠vej jak vypad√° novƒõ vytvo≈ôen√Ω `DataFrame`:

In [ ]:
type(zamestnanci)

In [ ]:
zamestnanci

Je pot≈ôeba pohl√≠dat si (nen√≠ ≈ôazen√© podle priorit):
* indexy,
* z√°hlav√≠,
* strukturu jednotliv√Ωch `Series`,
* datov√© typy.

Pokud nesed√≠ **defaultn√≠ oddƒõlovaƒç** (*sep* nebo *delimiter*):

In [ ]:
!sed -i s"/,/;/g" ../onsite/customers_inp.csv

In [ ]:
!cat ../onsite/customers_inp.csv

In [ ]:
zamestnanci_carka = read_csv(f"../onsite/{zamestnanci_[0]}")

In [ ]:
zamestnanci_carka

M≈Ø≈æe≈° zadat jin√Ω ne≈æ *defaultn√≠* oddƒõlovaƒç:

In [ ]:
zamestnanci_strednik = read_csv(f"../onsite/{zamestnanci_[0]}", sep=";")

In [ ]:
zamestnanci_strednik

**Nevhodn√© datov√© typy** je tak√© mo≈æn√© ≈ôe≈°it p≈ôi nov√© inicializaci `DataFrame`:

In [ ]:
zamestnanci_strednik.dtypes

Pokud pot≈ôebuje≈° *vynutit* konverzi datov√©ho typu:

In [ ]:
zamestnanci_bez_cisel = read_csv(
    f"../onsite/{zamestnanci_[0]}",
    sep=";",
    dtype={
        "customer_id": str,
        "first_name": str,
        "last_name": str,
        "phone": str,
        "email": str
    }
)

In [ ]:
zamestnanci_bez_cisel.dtypes

### Naƒçti tabulku `html`

---

Funkce `read_html` ƒçasto zast√°v√° nƒõkter√© kroky *web scrapov√°n√≠*.

P≈ôesto je jej√≠m uƒçelem "pouze" extrahov√°n√≠ dat v HTML `<table></table>` elementech.

Uk√°zka [zdroj](https://simple.wikipedia.org/wiki/List_of_U.S._states).

**Demo: Uk√°zka v p≈ô√≠kazov√©m ≈ô√°dku**

In [ ]:
!ls -l ../../shared/onsite/

In [ ]:
%run ../../shared/onsite/demo_read_html.py

<br>

### Naƒçti v√Ωstup dotazu do tabulky

---

Dal≈°√≠ mo≈ænost√≠, jak l√©pe pracovat s knihovnou `pandas`, je naƒç√≠t√°n√≠ z datab√°ze.

Prakticky po≈°le≈° dotaz do datab√°zov√©ho syst√©mu a on jej rozdƒõl√≠ na `DataFrame`:

In [ ]:
import pyodbc
from pandas import read_sql

In [ ]:
read_sql?

In [ ]:
database_name = "company_test"

In [ ]:
select_query = "SELECT * FROM employee_test"

In [ ]:
connection_str = 'Driver={ODBC Driver 17 for SQL Server};' \
    'Server=localhost;uid=sa;pwd=csoB2023;' \
    f'port=1443;database={database_name};'

In [ ]:
with pyodbc.connect(connection_str) as connection:
    select_query = read_sql(select_query, connection)

In [ ]:
print(select_query)

Auto≈ôi knihovny vƒõt≈°inou vy≈æaduj√≠ chyst√°n√≠ *connection* objekt≈Ø pomoc√≠ **SQL Alchemy**.

V r√°mci uk√°zky je pou≈æit√Ω dnes ji≈æ netestov√°n√© `dbapi2` p≈ôipojen√≠.

In [ ]:
!pip install ipython-sql

In [ ]:
%load_ext sql

In [ ]:
%sql mssql+pyodbc://sa:csoB2023@localhost:1433/company_test?driver=ODBC+Driver+17+for+SQL+Server

In [ ]:
zamestnanci = %sql SELECT * FROM employee_test;

In [ ]:
type(zamestnanci)

In [ ]:
zamestnanci_df = DataFrame(zamestnanci)

In [ ]:
zamestnanci_df

<br>

**üß† CVIƒåEN√ç üß†, naƒçti data z vlastn√≠ DB a nachystej nov√Ω DataFrame.**

<br>

## Prozkoum√°v√°n√≠ dat

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.ACSOiM-U0Q1dA-4JLXwShAHaHx%26pid%3DApi&f=1&ipt=6d4afed7c3560452103fe53af2bd94638c28007aa3141700570a84c7fab7263a&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>




Jakmile m√°≈° data spr√°vnƒõ naƒçten√° a p≈ôetypovan√°, m≈Ø≈æe≈° s nimi zaƒç√≠t pracovat.

Ne≈æ se do toho vrhne≈°, nen√≠ ≈°patn√©, umƒõt je prohl√≠≈æet.

### Selekce u sloupeƒçk≈Ø

---

In [ ]:
from pandas import Series

In [ ]:
vek_sl = Series(
    [26, 36, 46, 56],
    index=['Petr', 'Pavel', 'Jiri', 'Tomas'] # ??? , 'Jarek', 'Tomas'; , 66, 76
)

<br>

Pro vytvo≈ôen√Ω sloupeƒçek:

In [ ]:
vek_sl

<br>

Pokud prov√°d√≠≈° *slicing* pomoc√≠ *index≈Ø*, implicitnƒõ **vynech√°≈° koneƒçn√Ω index**:

In [ ]:
vek_sl[0:3]

<br>

Pokud ov≈°em zad√°v√°≈° p≈ô√≠mo hodnotu *Indexu*, potom vyb√≠r√°≈° hodnoty **vƒçetnƒõ koneƒçn√©ho indexu**:

In [ ]:
vek_sl["Petr": "Tomas"]

Tento jednoduch√Ω p≈ô√≠stup potom vede **k ƒçast√Ωm chyb√°m a nepochopen√≠m**.

### Atributy `loc`, `iloc`

---

Pr√°vƒõ proto≈æe je *indexov√°n√≠* a *slicing* v r√°mci `Series` matouc√≠, existuj√≠ pomocn√© atributy.

#### loc

Pr√°vƒõ tento atribut zaruƒç√≠, ≈æe bude≈° v≈ædy pracovat pomoc√≠ **explicitn√≠ho zad√°n√≠ hodnoty Index≈Ø**:

In [ ]:
vek_sl

In [ ]:
vek_sl.loc["Petr": "Tomas"]

Jde tedy o explicitn√≠ pr√°ci s Indexy knihovny `pandas`, ne indexy Pythonu:

In [ ]:
jmena_sl = Series(
    ["Matous", "Marek", "Lukas", "Jan"],
    index=[1, 2, 3, 4]
)

In [ ]:
jmena_sl

In [ ]:
jmena_sl.loc[:3]

#### iloc

Naopak atribut `iloc` je proces, kter√Ω funguje v√Ωluƒçnƒõ na **indexov√°n√≠ v r√°mci Pythonu** (po≈ôad√≠, zaƒç√≠n√° nulou):

In [ ]:
jmena_sl

In [ ]:
jmena_sl.iloc[1]

In [ ]:
jmena_sl.iloc[:2]

Kv≈Øli jasnosti a p≈ôehlednosti je obecnƒõ v√Ωhodnƒõj≈°√≠ a doporuƒçov√°n√©, pracovat s atributy `loc` a `iloc`.

### Selekce u tabul√°rn√≠ch hodnot

---

Jeliko≈æ je `DataFrame` slo≈æen√Ω ze sloupeƒçk≈Ø, m≈Ø≈æe≈° aplikovat nƒõkter√© postupy z uplynul√© teorie.

* **slovn√≠kov√Ω kl√≠ƒç**,
* **atributov√Ω p≈ô√≠stup**,
* **slovn√≠kov√Ω n√°hled**,
* `loc`, `iloc`, `ix`, `T`.

In [ ]:
from pandas import DataFrame

In [ ]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [ ]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

In [ ]:
zeme_evropa_df = DataFrame({"populace": populace_evropa, "rozloha": rozloha_evropa})

In [ ]:
zeme_evropa_df

#### P≈ô√≠stup pomoc√≠ kl√≠ƒç≈Ø

In [ ]:
zeme_evropa_df["populace"]

In [ ]:
zeme_evropa_df["rozloha"]

#### P≈ô√≠stup pomoc√≠ atribut≈Ø

In [ ]:
bool(zeme_evropa_df["rozloha"] is zeme_evropa_df.rozloha)

In [ ]:
zeme_evropa_df.populace

In [ ]:
zeme_evropa_df.rozloha

In [ ]:
zeme_evropa_df[zeme_evropa_df.rozloha > 100_000]

In [ ]:
zeme_evropa_df[zeme_evropa_df["rozloha"] > 100_000]

Opatrnƒõ, atributov√Ω p≈ô√≠stup nelze aplikovat, pokud je jm√©no sloupeƒçku shodn√© s nƒõkter√Ωm **z rezerovan√Ωch v√Ωraz≈Ø**.

#### Slovn√≠kov√Ω n√°hled

In [ ]:
zeme_evropa_df.values

#### loc

Stejn√° pravidla jako pro `Series`, nicm√©ne tentokr√°t m≈Ø≈æe≈° vyb√≠rat buƒè jednotliv√© Indexy, nebo pole Index≈Ø:

In [ ]:
zeme_evropa_df

In [ ]:
zeme_evropa_df.loc["Nemecko"]

In [ ]:
zeme_evropa_df.loc[:"Nemecko"]

D√°le m≈Ø≈æe≈° vyb√≠rat sloupce nebo rozsah sloupc≈Ø:

In [ ]:
zeme_evropa_df.loc["Nemecko", "populace"]

In [ ]:
zeme_evropa_df.loc[:"Nemecko", "populace"]

In [ ]:
zeme_evropa_df.loc[:"Nemecko", :"rozloha"]

#### iloc

In [ ]:
zeme_evropa_df.iloc[:3, 1]

#### Transformace

In [ ]:
zeme_evropa_df.T

#### ix

Jde o atribut-hybrid, kter√Ω kombinuje mixov√°n√≠ styl≈Ø z `loc` a `iloc`.

Tento *legacy atribut* se ji≈æ ofici√°lnƒõ nedoporuƒçuje.

In [ ]:
zeme_evropa_df.ix[:"Nemecko", :2]  # iloc + loc

### Metody pro nahl√≠≈æen√≠

---

N√°sleduj√≠c√≠ metody ti ulehƒç√≠ nahl√≠≈æen√≠ a prozkoum√°v√°n√≠ dat.

Jsou to metody:
* `info()`,
* `describe()`,
* `head()`,
* `tail()`,

In [ ]:
from pandas import DataFrame

In [ ]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [ ]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

In [ ]:
zeme_evropa_df = DataFrame({"populace": populace_evropa, "rozloha": rozloha_evropa})

#### Metoda `info()`

Jde o obecnou informaci o DataFrame:

In [ ]:
zeme_evropa_df.info()

Z v√Ωstupu potom p≈ôeƒçte≈°:
* poƒçet index≈Ø,
* poƒçet sloupc≈Ø,
* poƒçet nepr√°zdn√Ωch, nenulov√Ωch hodnot,
* datov√© typy pro sloupce.

#### Metoda `describe()`

Tato metoda ti nepod√°v√° z√°kladn√≠ informaci o DataFrame, ale sp√≠≈°e **pracuje s ƒç√≠seln√Ωmi sloupci**.


Poskytuje z√°kladn√≠ **statistick√© p≈ôehledy** jako:
* pr≈Ømƒõr,
* medi√°n,
* minim√°ln√≠ & maxim√°ln√≠ hodnota,
* rozptyl.

In [ ]:
zeme_evropa_df.describe()

#### Metody `head()` a `tail()`

Obƒõ metody pracuj√≠ jako n√°hledov√© metody. K lep≈°√≠mu pohledu na konkr√©tn√≠ ≈ô√°dky.

1. `head`, prozkoum√° **prvn√≠ch pƒõt ≈ô√°dk≈Ø** (defaultnƒõ),
2. `tail`, prozkoum√° **posledn√≠ch pƒõt ≈ô√°dk≈Ø** (defaultnƒõ),

In [ ]:
zeme_evropa_df.head(3)  # truncate,

In [ ]:
zeme_evropa_df.tail(3)

<br>

**üß† CVIƒåEN√ç üß†, dikt√°t s pandama.**

In [ ]:
!pwd

In [ ]:
!head -1 ../onsite/lesson02/games.csv

**Nahraj zadan√Ω soubor do promƒõnn√© `hry_df`**

In [ ]:
hry_df = read_csv("../onsite/lesson02/games.csv")

In [ ]:
hry_df.head(1)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    hry_df = read_csv("../onsite/lesson02/games.csv")
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `jen_souhrn`, kter√° obsahuje pouze sloupec `Summary`**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    souhrn = hry_df.Summary
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvni_souhrn`, kter√° obsahuje pouze prvn√≠ ≈ô√°dek ze sloupce `Summary`**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_radek = hry_df.Summary.iloc[0]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvni_radek_tab`, kter√° obsahuje cel√Ω prvn√≠ z√°znam z tabulky, z `hry_df`**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_radek_tab = hry_df.iloc[0]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvnich_deset_souhrnu`, kam naƒçti prvn√≠ch deset ≈ô√°dk≈Ø z vybran√©ho sloupeƒçku `Summary`**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_souhrny = hry_df.Summary.iloc[:10]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `vzorek_indexu`, kam naƒçti z√°znamy z index≈Ø **2, 4, 5, 6, 7** a **9** z cel√© tabulky**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    vzorek_indexu = hry_df.loc[[2, 4, 5, 6, 7, 9]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `hodnoceni`, naƒçti z√°znamy z index≈Ø **1, 5, 10, 100, 1000** z cel√© tabulky a vyber pouze sloupeƒçky `Title`, `Rating`, `Release Date`, `Number of Reviews`**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    hodnoceni = hry_df.loc[[1, 5, 10, 100, 1000], ["Title", "Rating", "Release Date", "Number of Reviews"]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvnich_sto`, kter√° obsahuje pouze sloupeƒçky `Title`a `Rating`. D√°le pot≈ôebuje≈° ulo≈æit pouze **prvn√≠ch 100 index≈Ø****

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvnich_sto = hry_df.loc[:99, ["Title", "Rating"]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `vyber`, kter√° obsahuje dva sloupeƒçky `Title` a `Rating`, kde ve sloupeƒçku `rating` chce≈° z√≠skat pouze takov√© tituly, kter√© maj√≠ hodnocen√≠ vƒõt≈°√≠ nebo rovnou `4.6`**

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    vyber_her = hry_df[hry_df["Rating"] >= 4.6]
    ```

</details>

<br>

## Manipulace se sloupci

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.tzaGc-M5pl0DP6pGu-H6WgHaHa%26pid%3DApi&f=1&ipt=39909793c49bf980b8dbceaabe312870e1446f58fba1e6b430630cfbddd2b9c4&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

Jakmile se dovede≈° zorientovat v datov√Ωch struktur√°ch knihovny `pandas`, m≈Ø≈æe≈° zaƒç√≠t upravovat jejich obsah:
1. **P≈ôejmenovat** sloupce,
2. **vytvo≈ôit** nov√© sloupce,
3. **odstranit** existuj√≠c√≠ sloupce.

### P≈ôejmenov√°n√≠ sloupc≈Ø

Pokud bude≈° nƒõkdy z√°pasit se ≈°patnƒõ pojmenovan√Ωm sloupcem nebo sloupci, p≈ôejmenuj je pomoc√≠ metody `rename`.

In [ ]:
uzivatele = {
    'jmeno': ['Matou≈°', 'Marek', 'Luk√°≈°', 'Jan'],
    'age': [23, 25, 27, 29],
    'vaha': [65, 70, 75, 80],
    'vyska': [160, 170, 180, 190]
}

In [ ]:
df_uzivatele = DataFrame(uzivatele)

In [ ]:
df_uzivatele.head()

V uk√°zce v√Ω≈° tƒõ omezuje jazykov√° nakonzistence mezi sloupeƒçky.

Pomoc√≠ metody `rename` a argumentu `columns`, m≈Ø≈æe≈° pomoc√≠ `dict` anotace vybrat, co a ƒç√≠m p≈ôejmenovat:

In [ ]:
df_uzivatele.rename(columns={"age": "vek"})

P≈ôi dal≈°√≠ kontrole zjist√≠≈°, ≈æe **nov√© jm√©no sloupeƒçku zmizelo**:

In [ ]:
df_uzivatele

<br>

Celou situaci m≈Ø≈æe≈° ≈ôe≈°it dvƒõma zp≈Øsoby:
1. Voliteln√Ω argument `inplace`,
2. kopie p≈Øvodn√≠ho `DataFrame` objektu.

In [ ]:
prejmenovany_sloupec_df = df_uzivatele.rename(columns={"age": "vek"})

In [ ]:
prejmenovany_sloupec_df.head()

In [ ]:
df_uzivatele.rename(columns={"age": "vek"}, inplace=True)

In [ ]:
df_uzivatele.head()

Opatrnƒõ na pr√°ci s argumentem `inplace`.

Jeho pou≈æit√≠ v≈ædy d≈Økladnƒõ zva≈æ, a≈• neztrat√≠≈° zdrojov√° data.

<br>

P≈ôejmenovat m≈Ø≈æe≈° i v√≠ce sloupc≈Ø souƒçasnƒõ:

In [ ]:
nova_jmena_sloupcu = {
    "jmeno": "first_name",
    "vek": "age",
    "vaha": "weight",
    "vyska": "height"
}

In [ ]:
df_uzivatele.rename(columns=nova_jmena_sloupcu, inplace=True)

In [ ]:
df_uzivatele.head()

### P≈ôid√°v√°n√≠ sloupc≈Ø do DataFrame

Pot≈ôebuje≈° doplnit dal≈°√≠ sloupec. Nebo upravit data v jednom sloupci a v√Ωsledek zapsat do dal≈°√≠ho.

Nejƒçastƒõji m≈Ø≈æe≈° pracovat **na p≈ôid√°v√°n√≠ nov√Ωch sloupc≈Ø** tƒõmito t≈ôemi zp≈Øsoby:
1. Slovn√≠kov√° anotace pomoc√≠ kl√≠ƒçe a hodnoty,
2. v√Ωsledek pomoc√≠ operace mezi dvƒõma sloupci,
3. pomoc√≠ metody `apply`.

#### Jako kl√≠ƒç a hodnota

Takov√Ω zp≈Øsob pou≈æije≈°, pokud m√°≈° nachystan√© hodnoty pro nov√Ω sloupec:

In [ ]:
nova_jmena_sloupcu = {
    "first_name": "jmeno",
    "age": "vek",
    "weight": "vaha",
    "height": "vyska"
}

In [ ]:
df_uzivatele.rename(columns=nova_jmena_sloupcu, inplace=True)

In [ ]:
df_uzivatele.head()

In [ ]:
df_uzivatele['prijmeni'] = ["Holinka", "P√°rek", "Holinka", "Nov√°k"]

In [ ]:
df_uzivatele.head()

In [ ]:
df_uzivatele.iloc[1]

#### Kombinace existuj√≠c√≠ch sloupc≈Ø

Tento zp≈Øsob lze pou≈æ√≠t, pokud chce≈° vytvo≈ôit nov√Ω sloupec pomoc√≠ operac√≠ mezi existuj√≠c√≠mi sloupci:

In [ ]:
df_uzivatele.head()

In [ ]:
df_uzivatele['BMI'] = round(df_uzivatele['vaha'] / ((df_uzivatele['vyska'] / 100) ** 2), 1)

In [ ]:
df_uzivatele.head()

#### Metoda `apply`

Pokud pot≈ôebuje≈° aplikovat u≈æiv. funkci **pro st√°vaj√≠c√≠ sloupec**, vyu≈æije≈° metodu `apply`:

In [ ]:
df_uzivatele.head()

In [ ]:
def vytvor_email(prijmeni: str, domena: str = "gmail.com") -> str:
    """
    Vra≈• zform√°tovan√Ω string, kter√Ω tvo≈ô√≠ emailovou adresu.
    """
    return f"{prijmeni.lower()}@{domena}"

In [ ]:
df_uzivatele['email'] = df_uzivatele['prijmeni'].apply(vytvor_email)

In [ ]:
df_uzivatele.head()

<br>

Pokud bude≈° pot≈ôebovat pracovat **s v√≠ce sloupeƒçky**:

In [ ]:
def vytvor_email(radek: pandas.core.frame.Series, domena: str = "gmail.com") -> str:
    """
    Vra≈• zform√°tovan√Ω string, kter√Ω tvo≈ô√≠ emailovou adresu.
    """
    return f"{radek.jmeno.lower()[0]}_{radek.prijmeni.lower()}@{domena}"

In [ ]:
df_uzivatele['email_lepsi'] = df_uzivatele.apply(vytvor_email, axis=1)

In [ ]:
df_uzivatele

<br>

Nepovinn√Ω argument `axis` v ohl√°≈°en√≠ ≈ô√≠k√°, ≈æe chce aplikovat metodu **na ≈ô√°dkov√© hodnoty**.

In [ ]:
df_uzivatele.apply?

In [ ]:
df_uzivatele.head()

Tento zp≈Øsob lze pou≈æ√≠t, pokud chce≈° vytvo≈ôit **nov√Ω sloupec** pomoc√≠ nƒõjak√© funkce na jednotliv√© ≈ô√°dky nebo sloupce `DataFrame`.

### Odstra≈àov√°n√≠ sloupeƒçk≈Ø

K odstranƒõn√≠ sloupc≈Ø z `DataFrame` objektu m≈Ø≈æe≈° pou≈æ√≠t nƒõkolik metod:
1. pythonovskou funkci `del`,
2. metodu `drop`,
3. metodu `pop`.

In [ ]:
from pandas import DataFrame

In [ ]:
df_uzivatele.head()

In [ ]:
df_uzivatele.columns

In [ ]:
df_uzivatele.index

In [ ]:
df_uzivatele = df_uzivatele.drop('email', axis=1)

In [ ]:
df_uzivatele.drop?

In [ ]:
df_uzivatele.head()

<br>

**üß† CVIƒåEN√ç üß†, zpracuj zadan√© body v √∫loze.**

M√°≈° DataFrame `zamestnanci` s informacemi o zamƒõstnanc√≠ch tv√© firmy.

Pot≈ôebuje≈° n√°sleduj√≠c√≠:
1. **p≈ôidat sloupec** s n√°zvem `plat_na_hodinu`, kter√Ω bude vypoƒç√≠t√°n jako pr≈Ømƒõr platu zamƒõstnanc≈Ø dƒõlen√Ω poƒçtem odpracovan√Ωch hodin.
2. Sloupec `plat_na_hodinu` zaokrouhli **na cel√© ƒç√≠slo**,
3. **p≈ôejmenuj sloupec** `jmeno` na `cele_jmeno`,
4. **vytvo≈ô funkci** `preved_datum`, kter√° zmƒõn√≠ form√°t data ve sloupci `datum_narozeni` z `YYYY-MM-DD` na `DD/MM/YYYY`,
5. **odstra≈à sloupec** `id`.

In [ ]:
from datetime import datetime

In [ ]:
import pandas as pd

In [ ]:
zamestnanci = pd.DataFrame({'id': [1, 2, 3, 4],
                            'jmeno': ['Jan Nov√°k', 'Petr Soukup', 'Marie Hor√°kov√°', 'Jana Svobodov√°'],
                            'datum_narozeni': ['1990-05-15', '1985-12-10', '1992-07-25', '1988-03-20'],
                            'plat': [40_000, 45_000, 35_000, 50_000],
                            'odprac_hodiny': [160, 180, 150, 200]}
            )

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    zamestnanci['plat_na_hodinu'] = round(zamestnanci['plat'] / zamestnanci['odprac_hodiny'])

    zamestnanci = zamestnanci.rename(columns={'jmeno': 'cele_jmeno'})


    def preved_datum(datum_narozeni, vstupni_format='%Y-%m-%d', vystupni_format='%d/%m/%Y'):
        dt = datetime.strptime(datum_narozeni, vstupni_format)
        prevedene_datum = dt.strftime(vystupni_format)
        return prevedene_datum


    # zamestnanci['datum_narozeni'] = pd.to_datetime(zamestnanci['datum_narozeni']).dt.strftime('%d/%m/%Y')  #  I. ≈ôe≈°en√≠
    # zamestnanci['datum_narozeni'] = zamestnanci['datum_narozeni'].apply(preved_datum)                      # II. ≈ôe≈°en√≠

    zamestnanci = zamestnanci.drop(columns=['id'])
    ```
</details>

<br>

## Kombinace datov√Ωch set≈Ø

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.APOjuHGvkM0wQaUx9ELKAgHaHa%26pid%3DApi&f=1&ipt=a8b2b692c40e190d4b28c164bf13e6c944702a69944035a4ef9053aa6ea1b190&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

Takov√Ωmi operacemi si m≈Ø≈æe≈° p≈ôedstavit jednoduch√© operace jako **spojov√°n√≠** (*konkatenace*) **dvou a v√≠ce dataset≈Ø** a≈æ po slo≈æitƒõj≈°√≠ joiny podobnƒõ jako u datab√°z√≠.

`pandas` obsahuje r≈Øzn√© *funkce* a *metody*, kter√© umo≈æ≈àuj√≠ tento zp≈Øsob pr√°ce.

### Spojov√°n√≠ s `concat`

---

Funkce concat() v pandas umo≈æ≈àuje spojit dva nebo v√≠ce:
1. sloupeƒçk≈Ø,
2. tabulek.

*Spojen√≠* m≈Ø≈æe≈° prov√©st:
1. **horizont√°lnƒõ**, po sloupc√≠ch,
2. **vertik√°lnƒõ**, po ≈ô√°dc√≠ch.

Pou≈æit√≠ funkce `concat()` spoƒç√≠v√° v p≈ôed√°n√≠ seznamu objekt≈Ø, kter√© chce≈° spojit, a parametru `axis`, kter√Ω urƒçuje osu, podle kter√© se m√°j√≠ objekty spojit:

#### Spojen√≠ sloupeƒçk≈Ø

In [ ]:
from pandas import concat, Series, DataFrame

In [ ]:
sloupec_1 = Series(['A', 'B', 'C'], index=[1, 2, 3])
sloupec_2 = Series(['D', 'E', 'F'], index=[4, 5, 6])

In [ ]:
spojene_sloupce = concat([sloupec_1, sloupec_2])

In [ ]:
spojene_sloupce

#### Spojen√≠ tabulek

In [ ]:
uzivatele_1 = {
    'jmeno': ['Matou≈°', 'Marek', 'Luk√°≈°'],
    'vek': [25, 30, 35]
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Petr', 'Jan', 'Michal'],
    'vek': [40, 45, 50]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
df_spojene = concat([df_uzivatele_1, df_uzivatele_2], axis=0)

In [ ]:
df_spojene.head()

Tady se ov≈°em zduplikovali hodnoty nƒõkter√Ωch index≈Ø.

Ty je pot≈ôeba opravit t√≠mto postupem:
1. **Vytvo≈ô√≠m nov√Ω sloupeƒçek** pro indexy,
2. **odstran√≠m star√Ω sloupeƒçek** s duplicitami.

In [ ]:
df_spojene = df_spojene.reset_index()

In [ ]:
df_spojene.head()

In [ ]:
df_spojene = df_spojene.drop("index", axis=1)

In [ ]:
df_spojene

Pro odchyt√°v√°n√≠ duplicitn√≠ch index≈Ø m≈Ø≈æe≈° doplnit parametr `verify_integrity=True`, p≈ô√≠padnƒõ pokud je irelevantn√≠, ignorovat jej √∫plnƒõ `ignore_index=True`.

### `concat` a voliteln√Ω argument `join`

---

V jednoduch√Ωch uk√°zk√°ch, jako jsou ty v√Ω≈°e, staƒçilo tabulky a sloupeƒçky spojit.

To prakticky nen√≠ v≈ædy ide√°ln√≠ ≈ôe≈°en√≠, proto≈æe nƒõkter√© sloupeƒçky m≈Ø≈æou, ale nemus√≠ b√Ωt shodn√©.

In [ ]:
from pandas import DataFrame, concat

In [ ]:
df_vzorek_1 = DataFrame({"A": ["A1", "A2"], "B": ["B1", "B2"], "C": ["C1", "C2"]}, index=[1, 2])

In [ ]:
df_vzorek_2 = DataFrame({"B": ["B3", "B4"], "C": ["C3", "C4"], "D": ["D3", "D4"]}, index=[3, 4])

In [ ]:
vystup = concat([df_vzorek_1, df_vzorek_2])

In [ ]:
vystup

Pokud nƒõkter√° data chybƒõj√≠, jsou automaticky vyplnƒõn√° jako **nezn√°m√© hodnoty**.

≈òe≈°en√≠m takov√© situace m≈Ø≈æe≈° b√Ωt zaveden√≠ jin√©ho zp≈Øsobu spojov√°n√≠.

Tedy nepou≈æ√≠vat defaultn√≠ argument `join='outer'`, ale `join='inner'`:

In [ ]:
vystup_bez_na = concat([df_vzorek_1, df_vzorek_2], join='inner')

In [ ]:
vystup_bez_na

### Spojov√°n√≠ pomoc√≠ metody `append`

---

Jde **o zastaral√© ≈ôe≈°en√≠**, ale p≈ôesto se s n√≠m m≈Ø≈æe≈° setkat.

Jeliko≈æ je spojov√°n√≠ natolik bƒõ≈ænou operac√≠, vznikl je≈°tƒõ jeden zp≈Øsob, kter√Ω je dokonce struƒçnƒõj≈°√≠ jako `concat`.

Jde o metodu `append`:

In [ ]:
df_vzorek_3 = DataFrame({"A": ["A1", "A2"], "B": ["B1", "B2"]}, index=[1, 2])

In [ ]:
df_vzorek_4 = DataFrame({"A": ["A3", "A4"], "B": ["B3", "B4"]}, index=[3, 4])

In [ ]:
df_vzorek_3.append(df_vzorek_4)

Tato metoda p≈ôitom neupravovala p≈Øvodn√≠ objekty (jako `append` a `extend` pro `list`), ale vytvo≈ôila nov√Ω objekt.

### Spojov√°n√≠ pomoc√≠ `merge`

---

Dal≈°√≠ funkc√≠ pro spojov√°n√≠ `DataFrame` objekt≈Ø je `merge`.

Tato funkce je vhodn√° pro spojov√°n√≠ DataFrame objekt≈Ø, kter√© **maj√≠ spoleƒçn√© sloupce**.

M≈Ø≈æe≈° l√©pe zad√°vat typ spojen√≠ (parametr `how='inner' | 'outer' | 'left' | 'join'`).

D√°le ti umo≈æn√≠ definovat sloupec, nebo sloupce, na kter√Ωch chce≈° spojen√≠ prov√©st (parametr `on`).

In [ ]:
from pandas import merge

In [ ]:
uzivatele_1 = {
    'jmeno': ['Alice', 'Bob', 'Charlie', 'David'],
     'vek': [25, 30, 35, 40],
     'mesto': ['Brno', 'Praha', 'Plzen', 'Ostrava']
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Alice', 'David', 'Emma', 'Frank'],
     'pocet_prijemcu': [100, 200, 150, 250]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)

In [ ]:
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
vystup = merge(df_uzivatele_1, df_uzivatele_2, on='jmeno', how='outer')

In [ ]:
vystup

Obecnƒõ plat√≠, ≈æe pokud pot≈ôebuje≈° dva nebo v√≠ce `DataFrame` objekt≈Ø podle **spoleƒçn√©ho sloupce nebo sloupc≈Ø**, pou≈æij funkci `merge()`.

Pokud chce≈° jenom **p≈ôidat dal≈°√≠ ≈ô√°dky nebo sloupce** do existuj√≠c√≠ho `DataFrame` objektu, pou≈æij funkci `concat`.

In [ ]:
df_uzivatele_1

In [ ]:
df_uzivatele_2

In [ ]:
vystup_left_join = merge(df_uzivatele_1, df_uzivatele_2, on='jmeno', how='left')

In [ ]:
vystup_left_join

V uk√°zce v√Ω≈° je pou≈æit√Ω *left join*.

Tedy ve v√Ωsledku uvid√≠≈° celou prvn√≠ (levou tabulku) a z druh√© pouze ty z√°znamy, kter√© maj√≠ ve spojovac√≠m sloupci `jmeno` spoleƒçnou hodnotu.

In [ ]:
df8 = DataFrame({
    'jmeno': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'poradi': [1, 2, 3, 4]
})

In [ ]:
df9 = DataFrame({
    'jmeno': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'poradi': [3, 1, 4, 2]
})

In [ ]:
vystup_konflikt = merge(df8, df9, on="jmeno")

In [ ]:
vystup_konflikt

Funkce sama dopln√≠ p≈ô√≠pony, aby rozli≈°ila mezi obƒõma p≈Øvodn√≠mi sloupci.

Pokud pot≈ôebuje≈° vlastn√≠ p≈ô√≠pony, m≈Ø≈æe≈° vyzkou≈°et voliteln√Ω argument pro `suffixes`:

In [ ]:
vystup_vlastni_pripony = merge(df8, df9, on='jmeno', suffixes=('_levy', '_pravy'))

In [ ]:
vystup_vlastni_pripony

### Spojen√≠ pomoc√≠ index≈Ø, `join`

---

Tato metoda slou≈æ√≠ k propojen√≠ dvou DataFrame objekt≈Ø na z√°kladƒõ jejich index≈Ø nebo hodnot.

Je velice podobn√° funkci `merge` ale je p≈ô√≠mo souƒç√°st√≠ `DataFrame` objektu a je snaz≈°√≠ ji aplikovat:

In [ ]:
uzivatele_1 = {
    'jmeno': ['Alice', 'Bob', 'Petr'],
     'vek': [25, 30, 35]
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Alice', 'Bob', 'Petr'],
    'pocet_prijemcu': [100, 150, 200]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)

In [ ]:
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
df_uzivatele_1 = df_uzivatele_1.set_index('jmeno')
df_uzivatele_2 = df_uzivatele_2.set_index('jmeno')

In [ ]:
vysledek_join_metody = df_uzivatele_1.join(df_uzivatele_2)

In [ ]:
vysledek_join_metody

Hlavn√≠ rozd√≠l mezi tƒõmito funkcemi je zp≈Øsob urƒçen√≠ sloupce nebo sloupc≈Ø, podle kter√Ωch se m√° propojen√≠ prov√©st.

Metoda `join()` propojuje DataFrame objekty **na z√°kladƒõ jejich index≈Ø**, zat√≠mco funkce `merge()` umo≈æ≈àuje propojit `DataFrame` objekty **na z√°kladƒõ hodnoty v jednom nebo v√≠ce sloupc√≠ch**.

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si spojov√°n√≠**

M√°≈° dvƒõ tabulky s informacemi o z√°kazn√≠c√≠ch tv√© firmy.

Tabulky `zakaznici_objednavky` a `zakaznici_info`.

Tv√Ωm √∫kolem je propojit tyto tabulky podle zad√°n√≠:
1. Pou≈æij funkci `merge()` k propojen√≠ obou tabulek podle spoleƒçn√©ho kl√≠ƒçe, kter√Ωm je sloupec `id_zakaznika`,
2. Pou≈æij funkci `concat()` k p≈ôid√°n√≠ sloupce `celkova_cena_objednavky`, kter√Ω bude vypoƒç√≠t√°n jako souƒçet ceny v≈°ech objedn√°vek dan√©ho z√°kazn√≠ka,
3. Vyfiltruj pouze informace o z√°kazn√≠c√≠ch ze st√°tu `'USA'` a ulo≈æ v√Ωslednou tabulku.

In [ ]:
import pandas as pd

In [ ]:
df_zakaznici_info = pd.DataFrame({'id_zakaznika': [1, 2, 3, 4],
                               'jmeno': ['Jan Nov√°k', 'Petr Soukup', 'Marie Hor√°kov√°', 'Jana Svobodov√°'],
                               'adresa': ['Hlavn√≠ 15', 'Druh√° 10', 'T≈ôet√≠ 25', 'ƒåtvrt√° 20'],
                               'mesto': ['Praha', 'Brno', 'Ostrava', 'New York'],
                               'stat': ['CZ', 'CZ', 'CZ', 'USA']})

In [ ]:
df_zakaznici_objednavky = pd.DataFrame({'id_zakaznika': [1, 2, 3, 4, 1, 2],
                                     'datum_objednavky': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
                                     'nazev_produktu': ['PC', 'Notebook', 'Monitor', 'Tiskarna', 'My≈°', 'Kl√°vesnice'],
                                     'cena': [15000, 20000, 5000, 3000, 500, 800]})

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    spojene_tabulky = pd.merge(df_zakaznici_info, df_zakaznici_objednavky, on='id_zakaznika')

    celkova_cena_objednavek = spojene_tabulky.groupby('id_zakaznika')['cena'].sum().reset_index()
    celkova_cena_objednavek = celkova_cena_objednavek.rename(columns={'cena': 'celkova_cena_objednavky'})
    spojene_tabulky = pd.concat([spojene_tabulky, celkova_cena_objednavek['celkova_cena_objednavky']], axis=1)

    spojene_tabulky = spojene_tabulky[spojene_tabulky['stat'] == 'USA']
    ```
</details>

---