# Python, Data, 2025

---

* [√övod k pand√°m](#√övod-k-pand√°m),
* [z√°kladn√≠ objekty](#Z√°kladn√≠-datov√©-typy-frameworku),
    - [series](#Series),
    - [dataframe](#DataFrame),
    - [index](#Index).
* [naƒç√≠t√°n√≠ objekt≈Ø](#Naƒç√≠t√°n√≠-objekt≈Ø),
    - [naƒçti csv](#Naƒçti-soubor-csv),
    - [naƒçti html](#Naƒçti-tabulku-html),
* [prohl√≠≈æen√≠ dat](#Prozkoum√°v√°n√≠-dat),
    - [selekce u sloupeƒçk≈Ø](#Selekce-u-sloupeƒçk≈Ø),
    - [selekce u tabulek](#Selekce-u-tabul√°rn√≠ch-hodnot),
    - [dal≈°√≠ metody prohl√≠≈æen√≠](#Metody-pro-nahl√≠≈æen√≠).

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.BaZU6gIdwRYQHu4rBBoO-gHaIX%26pid%3DApi&f=1&ipt=1013c975daabd695fcd4ebfc2c0e0b8ba4f10c37780419d8ff56538ec7a7f9ea&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

## √övod k pand√°m

---

Jde o knihovnu, kter√° stav√≠ na jednoduch√Ωch, p≈ôesto v√Ωkonn√Ωch a intuitivn√≠ch n√°stroj√≠ch.

Tyto prost≈ôedky umo≈æ≈àuj√≠ manipulaci, anal√Ωzu a vizualizaci strukturovan√Ωch dat s tabulkov√Ωmi a ƒçasov√Ωmi daty.

Vezme data z r≈Øzn√Ωch zdroj≈Ø, naƒçte je, zpracuje a zap√≠≈°e (pozn. **zdroj v C**).


<br>

In [1]:
import pandas

### Kde pandy najdu a jak√© existuj√≠ zdroje?

---

- Odkaz na **ofici√°ln√≠ repozit√°≈ô** [t√©to knihovny](https://github.com/pandas-dev/pandas),
- pokud bude≈° pot≈ôebovat v√≠ce podrobnost√≠, mrkni na [ofici√°ln√≠ dokumentaci](https://pandas.pydata.org/pandas-docs/stable/index.html),
- pypi.org, instalace knihovny,
- obecnƒõ vyhled√°vat online,
- AI agent p≈ô√≠stup.

<br>

### Proƒç se ti bude hodit?

---

**Pandas** usnad≈àuje efektivn√≠ anal√Ωzu, √∫pravu a zpracov√°n√≠ dat.
To v≈°e d√≠ky intuitivn√≠mu rozhran√≠ a v√Ωkonn√Ωm n√°stroj≈Øm pro pr√°ci s tabulkov√Ωmi daty.

Data jsou nejƒçastƒõji v SQL datab√°zi, r≈Øzn√Ωch souborech, tabulkov√Ωch procesech atd.

*Pandas* si p≈ôedstav jako Excel, ale s v√≠ce funkcemi a hlavnƒõ mo≈ænost√≠ automatizovat procesy.

<br>

### Jak nainstalovat knihovnu?

---

Instalace **posledn√≠ dostupn√© verze**:
```bash
pip install pandas  # nebo jin√Ω package manager
```

<br>

Instalace **konkr√©tn√≠ vybran√© verze**:

```bash
pip install pandas==1.1.1
```

<br>

### Jak knihovnu spustit?

---

In [2]:
import pandas

In [3]:
pandas.__version__  # FutureWarning

'2.0.3'

<br>

Pou≈æit√≠ **aliasu**:

In [4]:
import pandas

In [5]:
import pandas as pd

In [6]:
from pandas import DataFrame

<br>

### Souhrn kapitoly
---

- knihovna je tedy *≈°v√Ωcarsk√Ω no≈æ√≠k* pro pr√°ci **s tabel√°rn√≠mi daty** a **ƒçasov√Ωmi ≈ôadami**,
- jde o vƒõt≈°√≠ bal√≠ƒçek, t≈ôet√≠ch stran (pot≈ôeba st√°hnout & instalovat),
- existuj√≠ i dal≈°√≠ alternativy pro specifick√© pot≈ôeby *grizzly*, *pyspark*.

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.b2NCTuZRiG8yrmTCF7MogAHaHa%26pid%3DApi&f=1&ipt=f9e6a3811b3a707743134cfb19b2ee4f9c44584f5ea328582b227f14b94fcb1f&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

## Z√°kladn√≠ datov√© typy

---

Knihovna nab√≠z√≠ ≈ôadu u≈æiteƒçn√Ωch n√°stroj≈Ø.

Jde o *metody* a *funkce* nad r√°mec z√°kladn√≠ch (zabudovan√Ωch) **datov√Ωch struktur**.

Hlavn√≠ **t≈ôi struktury**, na kter√Ωch knihovna stoj√≠ jsou:
* `Index`
* `series`,
* `dataFrames`.

<img src="https://i.imgur.com/NNRgONl.png" width="1200" style="margin-left:auto; margin-right:auto"/>

- **Indexes**, je oznaƒçen√≠ (nebo **identifik√°tor**) jednotliv√Ωch ≈ô√°dk≈Ø, kter√© slou≈æ√≠ k jejich jednoznaƒçn√© identifikaci a usnad≈àuje p≈ô√≠stup k dat≈Øm,
- **series**, je *sloupec*, **pole** hodnot s Indexem, tedy sloupeƒçek tabulky nebo ƒç√≠slovan√Ω seznam,
- **dataframes**, jde v podstatƒõ o oznaƒçen√≠ cel√© tabulky.

### Sloupeƒçky ~ series

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Yp6ZBv9C33_pDfZkJcKbJQHaHa%26pid%3DApi&f=1&ipt=546833b7ce370c5a62bea21079371efd1fa9547765d4eae8e6c9e41f6b25a3af&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

Jde **o jednodimenzion√°ln√≠ pole** (pop≈ô. sloupeƒçek, ≈ôada).

Tento objekt m√° **indexovan√© data** (jsi schopen data vybrat, uchopit).

Opƒõt si jej m≈Ø≈æe≈° p≈ôedstavit jako sloupeƒçek v obyƒçejn√Ωch *Excelovsk√Ωch* tabulk√°ch.

<br>

Na uk√°zku m≈Ø≈æe≈° tyto sloupeƒçky vytvo≈ôit t≈ôeba ze sekvenc√≠:

In [7]:
from pandas import Series

<br>

Opatrnƒõ na velikosti p√≠smen pro jednotliv√© objekty:

In [8]:
# from pandas import series

In [9]:
mesta = ("Praha", "Brno", "Ostrava", "Hradek Kr√°lov√©")

In [10]:
mesta_sloupecek = Series(mesta)

In [11]:
type(mesta_sloupecek)

pandas.core.series.Series

In [12]:
mesta           # tuple

('Praha', 'Brno', 'Ostrava', 'Hradek Kr√°lov√©')

In [13]:
mesta_sloupecek # Series

0             Praha
1              Brno
2           Ostrava
3    Hradek Kr√°lov√©
dtype: object

<br>

Jak m≈Ø≈æe≈° vidƒõt v uk√°zce v√Ω≈°e, *sloupec* `Series` obsahuje **jak po≈ôad√≠, tak hodnoty**.

In [14]:
mesta_sloupecek.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
mesta_sloupecek.values

array(['Praha', 'Brno', 'Ostrava', 'Hradek Kr√°lov√©'], dtype=object)

<br>

Obecnƒõ vypad√° jako nƒõjak√© pole, kter√Ω m√° sv≈Øj nativn√≠ datov√Ω typ `object`.  Obvykle se oznaƒçuj√≠ texty nebo sm√≠≈°en√© datov√© typy.

<br>

Aƒçkoliv je `pandas` knihovna Pythonu, datov√© typy nemus√≠ v≈ædy odpov√≠dat z√°kladn√≠m **datov√Ωm typ≈Øm Pythonu**:

| Typy `pandas`| typy `Python`| Pou≈æit√≠ |
| :-: | :-: | :- |
| `object` | `str` nebo smƒõska| text nebo nam√≠chan√© ƒç√≠seln√© a neƒç√≠seln√© hodnoty |
| `int64` | `int`| cel√° ƒç√≠sla |
| `float64` | `float` | desetinn√° ƒç√≠sla |
| `bool` | `bool` | True a False |
| `datetime64` | `-`| Hodnota data a ƒçasu |
| `timedelta` | `-` | ƒåasov√© rozd√≠ly |

<br>

Stejnƒõ jako pole nebo sekvence m≈Ø≈æe≈° *indexovat* a *slicovat* hodnoty typu `Series`.

In [16]:
mesta_sloupecek

0             Praha
1              Brno
2           Ostrava
3    Hradek Kr√°lov√©
dtype: object

<br>

#### Indexov√°n√≠ sloupeƒçku

---

In [17]:
mesta_sloupecek[1]    # s Indexem sloupeƒçku

'Brno'

<br>

#### Slicing sloupeƒçku

---

In [18]:
mesta_sloupecek[0:3]  # 0, 1, 2.

0      Praha
1       Brno
2    Ostrava
dtype: object

Na prvn√≠ pohled nen√≠ tolik odli≈°n√Ω od datov√©ho typu `list` nebo `tuple` (p≈ô√≠padnƒõ pole v `numpy`).

Nejvƒõt≈°√≠ rozd√≠l spoƒç√≠t√° pr√°vƒõ v **indexu/Indexu**.

A≈• `list`, `tuple` nebo `numpy.array` implicitnƒõ pracuj√≠ **s celoƒç√≠seln√Ωm indexem**.

<br>

Objekt `Series` na druhou stranu nab√≠z√≠ mo≈ænost, zad√°vat vlastn√≠ indexov√© hodnoty:

In [19]:
mesta_sloupecek = Series(["Praha", "Brno", "Ostrava", "Hradek Kr√°lov√©"],
                         index=["1_mesto", "2_mesto", "3_mesto", "4_mesto"])
                         # Tvoje specifick√© indexy

In [20]:
mesta_sloupecek.index

Index(['1_mesto', '2_mesto', '3_mesto', '4_mesto'], dtype='object')

In [21]:
mesta_sloupecek

1_mesto             Praha
2_mesto              Brno
3_mesto           Ostrava
4_mesto    Hradek Kr√°lov√©
dtype: object

In [22]:
mesta_sloupecek["2_mesto"]

'Brno'

T√≠mto zp≈Øsobem si m≈Ø≈æe≈° p≈ôedstavit ≈ôadu, sloupec (`Series`) jako variantu datov√©ho typu `dict`, v Pythonu.

V√≠≈°, ≈æe ve slovn√≠ku Pythonu jsou hodnoty *mapovan√©* na jednotliv√© kl√≠ƒçe.

<br>

#### Pokroƒçil√©, type-specific
---
V p≈ô√≠padƒõ `Series` jde o mapov√°n√≠ **typovan√Ωch hodnot** na **typovan√© kl√≠ƒçe**. Pr√°vƒõ pojem **typovan√Ω** (~*type-specific*) je z√°sadn√≠.

Pr√°vƒõ *typovan√Ω* zkompilovan√Ω k√≥d od `Series` nab√≠z√≠ nƒõkter√© efektivnƒõj≈°√≠ metody a funkce, kter√© obyƒç. `dict` v Pythonu ne.

In [23]:
populace_evropa = {'Dansko': 5_655_750,
                   'Ceska_republika': 10_513_209,
                   'Nemecko': 80_716_000,
                   'Polsko': 38_483_957,
                   'Slovensko': 5_415_949,
                   'Rakousko': 8_932_664}

In [24]:
populace_evropa_sl = Series(populace_evropa)

In [25]:
populace_evropa_sl

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
dtype: int64

<br>

Defaultnƒõ ti objekt `Series` nachyst√° index ze se≈ôazen√Ωch kl√≠ƒç≈Ø p≈Øvodn√≠ho datov√©ho typu `dict`.

M≈Ø≈æe≈° prov√©st klasick√© mapov√°n√≠ hodnoty na jm√©no kl√≠ƒçe:

In [26]:
populace_evropa_sl["Ceska_republika"]

10513209

K tomu, ale `Series` nab√≠z√≠ operace jako nap≈ô. *slicing* pro pole:

In [27]:
mesta  # zad√°v√°n√≠ omezen√© na indexy cel√Ωmi ƒç√≠sly

('Praha', 'Brno', 'Ostrava', 'Hradek Kr√°lov√©')

In [28]:
populace_evropa_sl["Ceska_republika": "Polsko"]

Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
dtype: int64

<br>

#### üß† CVIƒåEN√ç üß†, p≈ôepoƒç√≠tej hodnoty ve sloupeƒçku

In [29]:
from pandas import Series

# Data v milionech, p≈ôeveƒè na jednotky
# 8_400_000.0, .., ponechej desetinn√° ƒç√≠sla
# .. pro pokroƒçil√© p≈ôeveƒè na cel√° ƒç√≠sla
data = {"New York": 8.4,        
        "London": 9.0,
        "Tokyo": 13.9,
        "Sydney": 5.3}

In [30]:
# Zapi≈° ≈ôe≈°en√≠
data_sloupecek = Series(data)

In [31]:
data_sloupecek

New York     8.4
London       9.0
Tokyo       13.9
Sydney       5.3
dtype: float64

In [32]:
def preved_na_jednotky(cely_sloupec):
    prepocitany_sl = cely_sloupec * 1_000_000
    return prepocitany_sl.astype('int64')  # Pro pokroƒçil√©

<br>

Form√°tov√°n√≠ cel√©ho ƒç√≠sla pomoc√≠ ≈ô√°dov√©ho oddƒõlovaƒçe:

In [33]:
print(f"{1000000:,}".replace(',', ' '))   # TODO: Doplnit oddƒõlovaƒç

1 000 000

In [34]:
preved_na_jednotky(data_sloupecek)

New York     8400000
London       9000000
Tokyo       13900000
Sydney       5300000
dtype: int64

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "New York": 8.4,
    "London": 9.0,
    "Tokyo": 13.9,
    "Sydney": 5.3,
}


mesta_sl = pd.Series(data)


def preved_na_jednotky(series):
    return series * 1_000_000  # astype(int) -> cel√© ƒç√≠slo


prevedene = preved_na_jednotky(mesta_sl)
```
</details>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP._inpASbq98lGCmZFxPEq7wHaHa%26pid%3DApi&f=1&ipt=ecf1243da46e7ae6341330ae58bda2a6456c95f63a0cd79eda7d561cf3334a57&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

### DataFrame

---


Dal≈°√≠m element√°rn√≠m datov√Ωm typem t√©to knihovny je `DataFrame`.

Analogicky si jej m≈Ø≈æe≈° p≈ôedstavit **jako tabulku** v Excelu.

Tedy objekt slo≈æen√Ω **z ≈ô√°dk≈Ø** (Index≈Ø) a **sloupc≈Ø** (`Series`).

In [35]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [36]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

<br>

Nezapome≈à nahr√°t pot≈ôebn√Ω objekt:

In [37]:
from pandas import DataFrame

In [38]:
zeme_evropa_df = DataFrame({"Populace": populace_evropa,
                            "Rozloha": rozloha_evropa})

In [39]:
print(zeme_evropa_df)

                 Populace  Rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

In [40]:
zeme_evropa_df

                 Populace  Rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

In [41]:
type(zeme_evropa_df)

pandas.core.frame.DataFrame

<br>

Stejnƒõ jako u `Series` m√° i `DataFrame` svoje *indexy*:

In [42]:
zeme_evropa_df.index

Index(['Dansko', 'Ceska_republika', 'Nemecko', 'Polsko', 'Slovensko',
       'Rakousko'],
      dtype='object')

<br>

Nav√≠c m≈Ø≈æe≈° pracovat s atributem `columns`, kter√Ω dr≈æ√≠ jm√©na **jednotliv√Ωch sloupeƒçk≈Ø**:

In [43]:
zeme_evropa_df.columns

Index(['Populace', 'Rozloha'], dtype='object')

In [44]:
zeme_evropa_df.values

array([[ 5655750,    42916],
       [10513209,    78870],
       [80716000,   357168],
       [38483957,   312679],
       [ 5415949,    49035],
       [ 8932664,    83878]])

Proto si m≈Ø≈æe≈° objekt `DataFrame` p≈ôedstavit tak√© jako Pythonovsk√Ω `dict`.

<br>

Ov≈°em s t√≠m rozd√≠lem, ≈æe tentokr√°t mapuje≈° jm√©no sloupeƒçku na `Series`:

In [45]:
zeme_evropa_df["Populace"]

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: Populace, dtype: int64

In [46]:
populace_sl = zeme_evropa_df["Populace"]

In [47]:
type(populace_sl)

pandas.core.series.Series

Opatrnƒõ p≈ôi vytv√°≈ôen√≠ nov√©ho `DataFrame`, u chybƒõj√≠c√≠ch kl√≠ƒç≈Ø implictinƒõ zapisuje `Nan` hodnotu (~*not a number*):

In [48]:
import numpy
from pandas import DataFrame

In [49]:
chybejici_hodnoty_df = DataFrame([{"A": 1, "B": 4},
                                  {"C": 6, "B": 7}])  # dtype

In [50]:
print(None)

None

Nav√≠c si m≈Ø≈æe≈° v≈°imnout rozd√≠ln√© definice **datov√©ho typu**:

In [51]:
chybejici_hodnoty_df.dtypes

A    float64
B      int64
C    float64
dtype: object

In [52]:
chybejici_hodnoty_df["A"]

0    1.0
1    NaN
Name: A, dtype: float64

In [53]:
konvertovany_sl_a = chybejici_hodnoty_df["A"].convert_dtypes()

In [54]:
konvertovany_sl_a

0       1
1    <NA>
Name: A, dtype: Int64

V√≠ce si o p≈ôetypov√°n√≠ obecnƒõ a dozv√≠≈° pozdƒõji.

#### üß† CVIƒåEN√ç üß†, p≈ôidej nov√Ω sloupeƒçek

In [55]:
from pandas import DataFrame

# P≈ôidej do tabulky nov√Ω sloupec "Hustota zalidnƒõn√≠"
data = {
    "Mƒõsto": ["New York", "London", "Tokyo", "Sydney"],
    "Populace (v mio)": [8.4, 9.0, 13.9, 5.3],
    "Plocha (km¬≤)": [783, 1572, 2194, 1687]
}

In [56]:
data_df = DataFrame(data, index=data['Mƒõsto'])

In [57]:
data_df

             Mƒõsto  Populace (v mio)  Plocha (km¬≤)
New York  New York               8.4           783
London      London               9.0          1572
Tokyo        Tokyo              13.9          2194
Sydney      Sydney               5.3          1687

In [58]:
data_df['Populace (v mio)']

New York     8.4
London       9.0
Tokyo       13.9
Sydney       5.3
Name: Populace (v mio), dtype: float64

In [59]:
data_df['Nov√Ω sloupec'] = 'abc'  # odr√°≈æ√≠ z√°pis hodnot a kl√≠ƒç≈Ø do dict

In [60]:
data_df

             Mƒõsto  Populace (v mio)  Plocha (km¬≤) Nov√Ω sloupec
New York  New York               8.4           783          abc
London      London               9.0          1572          abc
Tokyo        Tokyo              13.9          2194          abc
Sydney      Sydney               5.3          1687          abc

In [61]:
def vypocitej_hustotu_osidleni(tabulka):  # DataFrame
    df["Hustota zalidnƒõn√≠ (na km¬≤)"] = (df["Populace (v mio)"] * 1_000_000 / df["Plocha (km¬≤)"]).round().astype(int)
    return df

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "Mƒõsto": ["New York", "London", "Tokyo", "Sydney"],
    "Populace (v mio)": [8.4, 9.0, 13.9, 5.3],
    "Plocha (km¬≤)": [783, 1572, 2194, 1687],
}

mesta_df = pd.DataFrame(data)

def vypocitej_hustotu_zalidneni(df):
    """
    P≈ôidejte nov√Ω sloupec 'Hustota zalidnƒõn√≠' (poƒçet obyvatel na km¬≤).
    """
    df["Hustota zalidnƒõn√≠ (na km¬≤)"] = (df["Populace (v mio)"] * 1_000_000 / df["Plocha (km¬≤)"]).round().astype(int)
    return df

df = vypocitej_hustotu_zalidneni(mesta_df)
print(df)
```
</details>

<img src="https://imgs.search.brave.com/EQep67dP5UaJDlqkF2HvOQTESVA_LQSZx_SR7FE6JYM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9kMW5o/aW8wb3g3cGdiLmNs/b3VkZnJvbnQubmV0/L19pbWcvb19jb2xs/ZWN0aW9uX3BuZy9n/cmVlbl9kYXJrX2dy/ZXkvNTEyeDUxMi9w/bGFpbi90YWJsZV9z/ZWxlY3Rpb25fcm93/LnBuZw" width="200" style="margin-left:auto; margin-right:auto"/>

### Index

---

Posledn√≠m ze z√°kladn√≠ch objekt≈Ø frameworku `pandas` je tedy **Index** (velk√© "i").

Jak `Series`, tak `DataFrame` v sobƒõ *Index* obsahuj√≠.

Pro jednoduchost, si jej m≈Ø≈æe≈° p≈ôedstavit jako oznaƒçen√≠ jednotliv√Ωch ≈ô√°dk≈Ø v tabulce.

In [62]:
from pandas import Index

In [63]:
indexy = Index([2, 3, 4, 5])

In [64]:
indexy

Index([2, 3, 4, 5], dtype='int64')

In [65]:
type(indexy)

pandas.core.indexes.base.Index

In [66]:
nove_indexy = Index(('radek_1', 'radek_2', 'radek_3'))

In [67]:
type(nove_indexy)

pandas.core.indexes.base.Index

<br>

#### indexov√°n√≠ Index≈Ø

---

In [68]:
indexy

Index([2, 3, 4, 5], dtype='int64')

In [69]:
indexy[2]

4

<br>

#### Slicov√°n√≠ index≈Ø

---

In [70]:
indexy[:3]

Index([2, 3, 4], dtype='int64')

<br>

#### Nezmƒõniteln√Ω objekt

---

In [71]:
indexy[2]

4

In [72]:
# indexy[2] = 3  # --> TypeError

Tato nezmƒõnitelnost slou≈æ√≠ k vƒõt≈°√≠ bezpeƒçnosti, proto≈æe jednotliv√© indexy, m≈Ø≈æe sd√≠let v√≠ce `DataFrame`.

<br>

#### Index jako se≈ôazen√Ω set

---

In [73]:
indexy_a = Index([1, 2, 3, 4])
indexy_b = Index([3, 4, 5, 6])

In [74]:
indexy_a.intersection(indexy_b)

Index([3, 4], dtype='int64')

In [75]:
indexy_a.union(indexy_b)

Index([1, 2, 3, 4, 5, 6], dtype='int64')

<br>

### Souhrn k z√°kladn√≠m typ≈Øm

---

- **sloupeƒçky**, jako pole, jednorozmƒõrn√©, mo≈ænost selekce index≈Ø i hodnot a jejich rozsah≈Ø,
- **indexy**, jako pole, nezmƒõniteln√©, mo≈ænost selekce jednoho ≈ô√°dk≈Ø i rozsahu ≈ô√°dk≈Ø,
- **tabulka**, v√≠cerozmƒõrn√© pole, v√Ωbƒõr podle sloupc≈Ø.


<img src="https://imgs.search.brave.com/CoDVQW6cpYcV0qJtUejA7WQat4mLN2AOxuK2hXwgGAo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4w/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvcm91bmQtdWkt/aWNvbnMvNTEyL2Fk/ZF9ibHVlLnBuZw" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

## Naƒç√≠t√°n√≠ objekt≈Ø

---

Vytvo≈ôit nov√Ω `DataFrame` je z√°le≈æitost nƒõkolika m√°lo argument≈Ø.

Nen√≠ ov≈°em velmi ƒçast√©, chystat data *z niƒçeho*.

Vƒõt≈°inou pot≈ôebuje≈° pr√°vƒõ nahr√°t r≈Øzn√© **existuj√≠c√≠ extern√≠ soubory**, do `DataFrame` objekt≈Ø.

* `read_csv`,
* `read_excel`,
* `read_json`,
* `read_html`,
* `read_sql`,
* `read_parquet`,
* `read_sas`.

###  Naƒçti soubor `csv`

---

Knihovna nab√≠z√≠ p≈ô√≠mo specializovanou funkci `read_csv`.

Ta dovede naƒç√≠st obsah souboru do nov√©ho `DataFrame`.

Pro prvn√≠ pou≈æit√≠, p≈ô√≠padnƒõ pozdƒõj≈°√≠ roz≈°√≠≈ôen√≠ je vhodn√©, prozkoumat dokumentaci:

In [76]:
from pandas import read_csv

<br>

Naƒçte≈° jm√©no souboru se specifickou p≈ô√≠ponou `csv`:

In [77]:
# zamestnanci_df = read_csv('../onsite/inp.csv')  # FileNotFoundError

<br>

Je mo≈æn√© pou≈æ√≠t jak absolutn√≠ tak relativn√≠ cestu k souboru:

In [78]:
zamestnanci_df = read_csv('/home/matous/projects/python-data-2024/shared/onsite/customers_inp.csv')

<br>

Prozkoumej samotn√Ω soubor:

In [79]:
# !cat ../onsite/customers_inp.csv

<br>

Nyn√≠ se pod√≠vej jak vypad√° novƒõ vytvo≈ôen√Ω `DataFrame`:

In [80]:
type(zamestnanci_df)

pandas.core.frame.DataFrame

In [81]:
zamestnanci_df

        customer_id;first_name;last_name;phone;email
0  11;Matous;Holinka;`+420777666555;matous@matous...
1  12;Marek;Parek;`+420777434111;marek.parek@gmai...
2        13;Petr;Svetr;`+420777333111;petr@svetr.com
3  14;Alice;Svobodova;`+420777200300;svobodova.a@...
4  15;Tereza;Novakova;`+420777608080;novakova_ter...

Je pot≈ôeba pohl√≠dat si (nen√≠ ≈ôazen√© podle priorit):
* indexy,
* z√°hlav√≠,
* strukturu jednotliv√Ωch `Series`,
* datov√© typy.

<br>

Pokud nesed√≠ **defaultn√≠ oddƒõlovaƒç** (*sep* nebo *delimiter*):

In [82]:
# !sed -i s"/,/;/g" ../onsite/customers_inp.csv

In [83]:
# !cat ../onsite/customers_inp.csv

In [84]:
zamestnanci_strednik_df = read_csv('../onsite/customers_inp.csv', sep=';')

In [85]:
zamestnanci_strednik_df

   customer_id first_name  last_name           phone                     email
0           11     Matous    Holinka  `+420777666555  matous@matousholinka.com
1           12      Marek      Parek  `+420777434111     marek.parek@gmail.com
2           13       Petr      Svetr  `+420777333111            petr@svetr.com
3           14      Alice  Svobodova  `+420777200300      svobodova.a@email.cz
4           15     Tereza   Novakova  `+420777608080  novakova_terka@seznam.cz

<br>

M≈Ø≈æe≈° zadat jin√Ω ne≈æ *defaultn√≠* oddƒõlovaƒç:

In [86]:
zamestnanci_strednik_df['phone']

0    `+420777666555
1    `+420777434111
2    `+420777333111
3    `+420777200300
4    `+420777608080
Name: phone, dtype: object

**Nevhodn√© datov√© typy** je tak√© mo≈æn√© ≈ôe≈°it p≈ôi nov√© inicializaci `DataFrame`:

In [87]:
zamestnanci_strednik_df.dtypes

customer_id     int64
first_name     object
last_name      object
phone          object
email          object
dtype: object

Pokud pot≈ôebuje≈° *vynutit* konverzi datov√©ho typu:

In [88]:
zamestnanci_bez_cisel_df = read_csv(
    '../onsite/customers_inp.csv',
    sep=";",
    dtype={"customer_id": str,
           "first_name": str,
           "last_name": str,  # int --> ValueError
           "phone": str,
           "email": str}
)

In [89]:
zamestnanci_bez_cisel_df.dtypes

customer_id    object
first_name     object
last_name      object
phone          object
email          object
dtype: object

<br>

### Naƒçti tabulku `html`

---

Funkce `read_html` ƒçasto zast√°v√° nƒõkter√© kroky *web scrapov√°n√≠*.

P≈ôesto je jej√≠m uƒçelem "pouze" extrahov√°n√≠ dat v HTML `<table></table>` elementech.

Uk√°zka [zdroj](https://simple.wikipedia.org/wiki/List_of_U.S._states).

In [90]:
# %run ../../shared/onsite/demo_read_html.py

<br>

**üß† CVIƒåEN√ç üß†, naƒçti vlastn√≠ CSV soubor**.

In [91]:
# Z√°pis
cesta_k_souboru: str = '../onsite/games.csv'

In [92]:
from pandas import read_csv

In [93]:
from pathlib import Path

if not Path(cesta_k_souboru).exists():
    print('Chybi soubor pro zpracovani')

hry_df = read_csv(cesta_k_souboru)

In [94]:
hry_df.head(2)

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

muj_csv_soubor = 'toto/je/relativni/cesta.csv'

testovaci_data = pd.read_csv(muj_csv_soubor)
```
</details>

Konvence pro naƒç√≠t√°n√≠ dat `read_XYZ` (kde `XYZ` p≈ôedstavuje form√°t soubor≈Ø).

Pro ukl√°d√°n√≠ soubor≈Ø slou≈æ√≠ `to_XYZ`.

<br>

### Souhrn kapitoly

---

Typick√Ω postup, pro pr√°ci s pandami, je identifikovat a spr√°vnƒõ naƒç√≠st datov√Ω zdroj.


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.ACSOiM-U0Q1dA-4JLXwShAHaHx%26pid%3DApi&f=1&ipt=6d4afed7c3560452103fe53af2bd94638c28007aa3141700570a84c7fab7263a&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

## Prozkoum√°v√°n√≠ dat

---

Jakmile m√°≈° data spr√°vnƒõ naƒçten√° a p≈ôetypovan√°, m≈Ø≈æe≈° s nimi zaƒç√≠t pracovat.

Ne≈æ se do toho vrhne≈°, nen√≠ ≈°patn√©, umƒõt je prohl√≠≈æet.

<br>

### Selekce u sloupeƒçk≈Ø

---

In [95]:
from pandas import Series

In [96]:
vek_sl = Series(
    [26, 36, 46, 56],
    index=['Petr', 'Pavel', 'Jiri', 'Tomas'] # ??? , 'Jarek', 'Tomas'; , 66, 76
)

<br>

Pro vytvo≈ôen√Ω sloupeƒçek:

In [97]:
vek_sl

Petr     26
Pavel    36
Jiri     46
Tomas    56
dtype: int64

<br>

Pokud prov√°d√≠≈° *slicing* pomoc√≠ *index≈Ø*, implicitnƒõ **vynech√°≈° koneƒçn√Ω index**:

In [98]:
vek_sl[0:3]

Petr     26
Pavel    36
Jiri     46
dtype: int64

<br>

Pokud ov≈°em zad√°v√°≈° p≈ô√≠mo hodnotu *Indexu*, potom vyb√≠r√°≈° hodnoty **vƒçetnƒõ koneƒçn√©ho Indexu**:

In [99]:
vek_sl["Petr": "Jiri"]

Petr     26
Pavel    36
Jiri     46
dtype: int64

Tento jednoduch√Ω p≈ô√≠stup potom vede **k ƒçast√Ωm chyb√°m a nepochopen√≠m**.

### Atributy `loc`, `iloc`

---

Pr√°vƒõ proto≈æe je *indexov√°n√≠* a *slicing* v r√°mci `Series` matouc√≠, existuj√≠ pomocn√© atributy.

<br>

#### loc

---

Pr√°vƒõ tento atribut zaruƒç√≠, ≈æe bude≈° v≈ædy pracovat pomoc√≠ **explicitn√≠ho zad√°n√≠ hodnoty Index≈Ø**:

In [100]:
vek_sl

Petr     26
Pavel    36
Jiri     46
Tomas    56
dtype: int64

In [101]:
vek_sl.loc["Petr": "Jiri"]

Petr     26
Pavel    36
Jiri     46
dtype: int64

<br>

Jde tedy o explicitn√≠ pr√°ci s Indexy knihovny `pandas`, ne indexy Pythonu:

In [102]:
jmena_sl = Series(
    ["Matous", "Marek", "Lukas", "Jan"],
    index=[1, 2, 3, 4]
)

In [103]:
jmena_sl

1    Matous
2     Marek
3     Lukas
4       Jan
dtype: object

In [104]:
jmena_sl.loc[1]

'Matous'

In [105]:
jmena_sl.loc[:3]

1    Matous
2     Marek
3     Lukas
dtype: object

V≈°imni si, jak *Index* o hodnotƒõ 3 je souƒç√°st√≠ v√Ωstupu (narozd√≠l od pythonovsk√©ho indexu 3).

<br>

#### iloc

---

Naopak atribut `iloc` je proces, kter√Ω funguje v√Ωluƒçnƒõ na **indexov√°n√≠ v r√°mci Pythonu** (po≈ôad√≠, zaƒç√≠n√° nulou):

In [106]:
jmena_sl

1    Matous
2     Marek
3     Lukas
4       Jan
dtype: object

In [107]:
jmena_sl.iloc[1]   # Opatrnƒõ na v√Ωstup!!

'Marek'

In [108]:
jmena_sl.index[1]  # indexov√°n√≠ Index≈Ø

2

In [109]:
jmena_sl.loc[1]    # Opatrnƒõ na v√Ωstup!!

'Matous'

In [110]:
jmena_sl.iloc[:2]

1    Matous
2     Marek
dtype: object

Kv≈Øli jasnosti a p≈ôehlednosti je obecnƒõ v√Ωhodnƒõj≈°√≠ a doporuƒçov√°n√©, pracovat s atributy `loc` a `iloc`.

In [111]:
jmena_sl.loc[:2]

1    Matous
2     Marek
dtype: object

<br>

### Selekce u tabel√°rn√≠ch hodnot

---

Jeliko≈æ je `DataFrame` slo≈æen√Ω ze sloupeƒçk≈Ø, m≈Ø≈æe≈° aplikovat nƒõkter√© postupy z uplynul√© teorie.

* **slovn√≠kov√Ω kl√≠ƒç**,
* **atributov√Ω p≈ô√≠stup**,
* **slovn√≠kov√Ω n√°hled**,
* `loc`, `iloc`, `ix`, `T`.

In [112]:
from pandas import DataFrame

In [113]:
populace_evropa = {'Dansko': 5_655_750,
                   'Ceska_republika': 10_513_209,
                   'Nemecko': 80_716_000,
                   'Polsko': 38_483_957,
                   'Slovensko': 5_415_949,
                   'Rakousko': 8_932_664}

In [114]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

In [115]:
zeme_evropa_df = DataFrame({"populace": populace_evropa, "rozloha": rozloha_evropa})

In [116]:
zeme_evropa_df

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

<br>

#### P≈ô√≠stup pomoc√≠ kl√≠ƒç≈Ø

---

In [117]:
zeme_evropa_df["populace"]

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: populace, dtype: int64

In [118]:
zeme_evropa_df["rozloha"]

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Polsko             312679
Slovensko           49035
Rakousko            83878
Name: rozloha, dtype: int64

<br>

#### P≈ô√≠stup pomoc√≠ atribut≈Ø

---

In [119]:
# bool(zeme_evropa_df["rozloha"] is zeme_evropa_df.rozloha)

In [120]:
zeme_evropa_df.populace

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: populace, dtype: int64

In [121]:
zeme_evropa_df.rozloha

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Polsko             312679
Slovensko           49035
Rakousko            83878
Name: rozloha, dtype: int64

In [122]:
zeme_evropa_df.rozloha > 100_000

Dansko             False
Ceska_republika    False
Nemecko             True
Polsko              True
Slovensko          False
Rakousko           False
Name: rozloha, dtype: bool

In [123]:
zeme_evropa_df[zeme_evropa_df.rozloha > 100_000]

         populace  rozloha
Nemecko  80716000   357168
Polsko   38483957   312679

In [124]:
zeme_evropa_df[zeme_evropa_df["rozloha"] > 100_000]

         populace  rozloha
Nemecko  80716000   357168
Polsko   38483957   312679

Opatrnƒõ, atributov√Ω p≈ô√≠stup nelze aplikovat, pokud je jm√©no sloupeƒçku shodn√© s nƒõkter√Ωm **z rezerovan√Ωch v√Ωraz≈Ø**.

<br>

#### Slovn√≠kov√Ω n√°hled

---

In [125]:
zeme_evropa_df.index

Index(['Dansko', 'Ceska_republika', 'Nemecko', 'Polsko', 'Slovensko',
       'Rakousko'],
      dtype='object')

In [126]:
zeme_evropa_df.columns

Index(['populace', 'rozloha'], dtype='object')

In [127]:
zeme_evropa_df.values

array([[ 5655750,    42916],
       [10513209,    78870],
       [80716000,   357168],
       [38483957,   312679],
       [ 5415949,    49035],
       [ 8932664,    83878]])

<br>

#### loc

---

Stejn√° pravidla jako pro `Series`, nicm√©ne tentokr√°t m≈Ø≈æe≈° vyb√≠rat buƒè jednotliv√© Indexy, nebo pole Index≈Ø:

In [128]:
zeme_evropa_df

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

In [129]:
zeme_evropa_df.loc["Nemecko"]

populace    80716000
rozloha       357168
Name: Nemecko, dtype: int64

In [130]:
zeme_evropa_df.loc[:"Nemecko"]

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168

<br>

D√°le m≈Ø≈æe≈° vyb√≠rat kombinaci Index≈Ø a sloupce nebo rozsah sloupc≈Ø:

In [131]:
zeme_evropa_df.loc["Nemecko", "populace"]

80716000

In [132]:
zeme_evropa_df.loc[:"Nemecko", "populace"]

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Name: populace, dtype: int64

In [133]:
zeme_evropa_df.loc["Ceska_republika":"Nemecko", :"rozloha"]

                 populace  rozloha
Ceska_republika  10513209    78870
Nemecko          80716000   357168

<br>

#### iloc

---

In [134]:
zeme_evropa_df.iloc[:3, 1]

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Name: rozloha, dtype: int64

<br>

#### Transformace

---

In [135]:
zeme_evropa_df.T

           Dansko  Ceska_republika   Nemecko    Polsko  Slovensko  Rakousko
populace  5655750         10513209  80716000  38483957    5415949   8932664
rozloha     42916            78870    357168    312679      49035     83878

#### ix

---

Jde o atribut-hybrid, kter√Ω kombinuje mixov√°n√≠ styl≈Ø z `loc` a `iloc`.

Tento *legacy atribut* se ji≈æ ofici√°lnƒõ nedoporuƒçuje.

In [136]:
# zeme_evropa_df.ix[:"Nemecko", :2]  # iloc + loc --> dnes AttributeError

<img src="https://imgs.search.brave.com/lQb3xLIlg9zkzNeOExyC9yipGtQiF1BrVKrC4BwqbF8/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA1LzU0LzExLzY3/LzM2MF9GXzU1NDEx/Njc4Nl9DZGhSbWha/YWlaRjdvUVhVajYz/d2RTSzVjOGo5SXNL/bS5qcGc" width="250" style="margin-left:auto; margin-right:auto"/>

<br>

### Metody pro pr≈Øzkumu dat a nahl√≠≈æen√≠

---

N√°sleduj√≠c√≠ metody ti ulehƒç√≠ nahl√≠≈æen√≠ a prozkoum√°v√°n√≠ dat.

Jsou to metody:
* `info()`,
* `describe()`,
* `head()`,
* `tail()`,

In [137]:
from pandas import DataFrame

In [138]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [139]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

In [140]:
zeme_evropa_df = DataFrame({"populace": populace_evropa, "rozloha": rozloha_evropa})

<br>

#### Metoda `info()`

---

Jde o obecnou informaci o DataFrame:

In [141]:
zeme_evropa_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Dansko to Rakousko
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   populace  6 non-null      int64
 1   rozloha   6 non-null      int64
dtypes: int64(2)
memory usage: 144.0+ bytes

Z v√Ωstupu potom p≈ôeƒçte≈°:
* poƒçet index≈Ø,
* poƒçet sloupc≈Ø,
* poƒçet nepr√°zdn√Ωch, nenulov√Ωch hodnot,
* datov√© typy pro sloupce.

<br>

#### Metoda `describe()`

---

Tato metoda ti nepod√°v√° z√°kladn√≠ informaci o DataFrame, ale sp√≠≈°e **pracuje s ƒç√≠seln√Ωmi sloupci**.


Poskytuje z√°kladn√≠ **statistick√© p≈ôehledy** jako:
* pr≈Ømƒõr,
* medi√°n,
* minim√°ln√≠ & maxim√°ln√≠ hodnota,
* rozptyl.

In [142]:
zeme_evropa_df['populace'].describe()

count    6.000000e+00
mean     2.495292e+07
std      3.003943e+07
min      5.415949e+06
25%      6.474978e+06
50%      9.722936e+06
75%      3.149127e+07
max      8.071600e+07
Name: populace, dtype: float64

<br>

#### Metody `head()` a `tail()`

---

Obƒõ metody pracuj√≠ jako n√°hledov√© metody. K lep≈°√≠mu pohledu na konkr√©tn√≠ ≈ô√°dky.

1. `head`, prozkoum√° **prvn√≠ch pƒõt ≈ô√°dk≈Ø** (defaultnƒõ),
2. `tail`, prozkoum√° **posledn√≠ch pƒõt ≈ô√°dk≈Ø** (defaultnƒõ),

In [143]:
zeme_evropa_df.head(3)  # truncate,

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168

In [144]:
zeme_evropa_df.tail(4)

           populace  rozloha
Nemecko    80716000   357168
Polsko     38483957   312679
Slovensko   5415949    49035
Rakousko    8932664    83878

In [145]:
pokusny_index_df = read_csv('../onsite/customers_inp.csv', sep=';', index_col='customer_id')

In [146]:
pokusny_index_df

            first_name  last_name           phone                     email
customer_id
11              Matous    Holinka  `+420777666555  matous@matousholinka.com
12               Marek      Parek  `+420777434111     marek.parek@gmail.com
13                Petr      Svetr  `+420777333111            petr@svetr.com
14               Alice  Svobodova  `+420777200300      svobodova.a@email.cz
15              Tereza   Novakova  `+420777608080  novakova_terka@seznam.cz

<br>

**üß† CVIƒåEN√ç üß†, dikt√°t s pandama.**

**Nahraj zadan√Ω soubor do promƒõnn√© `hry_df`**

In [147]:
hry_df = read_csv("../onsite/games.csv")

In [148]:
hry_df.head(2)

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
hry_df = read_csv("../onsite/lesson02/games.csv")
```
</details>

<br>

**Vytvo≈ô promƒõnnou `jen_souhrn`, kter√° obsahuje pouze sloupec `Summary`**

In [149]:
jen_souhrn = hry_df['Summary']

In [150]:
jen_souhrn

0       Elden Ring is a fantasy, action and open world...
1       A rogue-lite hack and slash dungeon crawler in...
2       The Legend of Zelda: Breath of the Wild is the...
3       A small child falls into the Underground, wher...
4       A 2D metroidvania with an emphasis on close co...
                              ...
1507    Back to the Future: The Game is one of Telltal...
1508    Team Sonic Racing combines the best elements o...
1509    Set in a huge open world, Dragon‚Äôs Dogma: Dark...
1510    An ancient evil has returned to Baldur's Gate,...
1511    Join Emmet and an unlikely group of resistance...
Name: Summary, Length: 1512, dtype: object

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    souhrn = hry_df.Summary
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvni_souhrn`, kter√° obsahuje pouze prvn√≠ ≈ô√°dek ze sloupce `Summary`**

In [151]:
prvni_souhrn = hry_df.iloc[0]['Summary']

In [152]:
prvni_souhrn

'Elden Ring is a fantasy, action and open world game with RPG elements such as stats, weapons and spells. Rise, Tarnished, and be guided by grace to brandish the power of the Elden Ring and become an Elden Lord in the Lands Between.'

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_radek = hry_df.Summary.iloc[0]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvni_radek_tab`, kter√° obsahuje cel√Ω prvn√≠ z√°znam z tabulky, z `hry_df`**

In [153]:
prvni_radek_tab = hry_df.iloc[0]

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_radek_tab = hry_df.iloc[0]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvnich_deset_souhrnu`, kam naƒçti prvn√≠ch deset ≈ô√°dk≈Ø z vybran√©ho sloupeƒçku `Summary`**

In [154]:
prvnich_deset_souhrnu = hry_df.iloc[:10]['Summary']

In [155]:
prvnich_deset_souhrnu

0    Elden Ring is a fantasy, action and open world...
1    A rogue-lite hack and slash dungeon crawler in...
2    The Legend of Zelda: Breath of the Wild is the...
3    A small child falls into the Underground, wher...
4    A 2D metroidvania with an emphasis on close co...
5    Minecraft focuses on allowing the player to ex...
6    A turn-based surreal horror RPG in which a chi...
7    Join intergalactic bounty hunter Samus Aran in...
8    Join your crew-mates in a multiplayer game of ...
9    NieR: Automata tells the story of androids 2B,...
Name: Summary, dtype: object

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_souhrny = hry_df.Summary.iloc[:10]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `vzorek_indexu`, kam naƒçti z√°znamy z index≈Ø **2, 4, 5, 6, 7** a **9** z cel√© tabulky**

In [156]:
vzorek_indexu = hry_df.iloc[[2, 4, 5, 6, 7, 9]]

In [157]:
vzorek_indexu

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K
5,5,Minecraft,"Nov 18, 2011",['Mojang Studios'],4.3,2.3K,2.3K,"['Adventure', 'Simulator']",Minecraft focuses on allowing the player to ex...,['Minecraft is what you make of it. Unfortunat...,33K,1.8K,1.1K,230
6,6,Omori,"Dec 25, 2020","['OMOCAT', 'PLAYISM']",4.2,1.6K,1.6K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...",A turn-based surreal horror RPG in which a chi...,"[""The best game I've played in my life"", ""omor...",7.2K,1.1K,4.5K,3.8K
7,7,Metroid Dread,"Oct 07, 2021","['Nintendo', 'MercurySteam']",4.3,2.1K,2.1K,"['Adventure', 'Platform']",Join intergalactic bounty hunter Samus Aran in...,['Have only been a Metroid fan for couple of y...,9.2K,759,3.4K,3.3K
9,9,NieR: Automata,"Feb 23, 2017","['PlatinumGames', 'Square Enix']",4.3,2.9K,2.9K,"['Brawler', 'RPG']","NieR: Automata tells the story of androids 2B,...","['Holy shit', 'im carrying the weight of the w...",18K,1.1K,6.2K,3.6K

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    vzorek_indexu = hry_df.loc[[2, 4, 5, 6, 7, 9]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `hodnoceni`, naƒçti z√°znamy z index≈Ø **1, 5, 10, 100, 1000** z cel√© tabulky a vyber pouze sloupeƒçky `Title`, `Rating`, `Release Date`, `Number of Reviews`**

In [158]:
hodnoceni = hry_df.loc[
    [1, 5, 10, 100, 1000],
    ['Title', 'Rating', 'Release Date', 'Number of Reviews']
]

In [159]:
hodnoceni

                     Title  Rating  Release Date Number of Reviews
1                    Hades     4.3  Dec 10, 2019              2.9K
5                Minecraft     4.3  Nov 18, 2011              2.3K
10         Persona 5 Royal     4.4  Oct 31, 2019              2.7K
100            MultiVersus     2.8  Jul 19, 2022               480
1000  Grand Theft Auto III     3.3  Oct 22, 2001               711

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    hodnoceni = hry_df.loc[[1, 5, 10, 100, 1000], ["Title", "Rating", "Release Date", "Number of Reviews"]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvnich_sto`, kter√° obsahuje pouze sloupeƒçky `Title`a `Rating`. D√°le pot≈ôebuje≈° ulo≈æit pouze **prvn√≠ch 100 index≈Ø****

In [160]:
prvnich_sto = hry_df[:100][['Title', 'Rating']]

In [161]:
prvnich_sto

                                      Title  Rating
0                                Elden Ring     4.5
1                                     Hades     4.3
2   The Legend of Zelda: Breath of the Wild     4.4
3                                 Undertale     4.2
4                             Hollow Knight     4.4
..                                      ...     ...
95                 Metroid Prime Remastered     4.5
96                            Halo Infinite     3.3
97                    Batman: Arkham Asylum     3.9
98                     Super Mario Sunshine     3.7
99                                 Mother 3     4.5

[100 rows x 2 columns]

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvnich_sto = hry_df.loc[:99, ["Title", "Rating"]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `vyber`, kter√° obsahuje dva sloupeƒçky `Title` a `Rating`, kde ve sloupeƒçku `rating` chce≈° z√≠skat pouze takov√© tituly, kter√© maj√≠ hodnocen√≠ vƒõt≈°√≠ nebo rovnou `4.6`**

In [162]:
# vyber = hry_df[['Title', 'Rating']]
# vyber = hry_df['Rating'] >= 4.6

vyber = hry_df[hry_df['Rating'] >= 4.6][['Title', 'Rating']]

In [163]:
vyber

                                           Title  Rating
28                  Disco Elysium: The Final Cut     4.6
43                                   Outer Wilds     4.6
139                                Disco Elysium     4.6
252                 Umineko: When They Cry Chiru     4.6
297                  Bloodborne: The Old Hunters     4.6
354                 Disco Elysium: The Final Cut     4.6
369                                  Outer Wilds     4.6
428                                Disco Elysium     4.6
539                 Umineko: When They Cry Chiru     4.6
717                Hitman World of Assassination     4.6
804                 Disco Elysium: The Final Cut     4.6
819                                  Outer Wilds     4.6
894                                Disco Elysium     4.6
957                 Final Fantasy XIV: Endwalker     4.6
991              Metal Gear Solid 3: Subsistence     4.6
1035                 Bloodborne: The Old Hunters     4.6
1073           Final Fantasy XIV: Shadowbringers     4.6
1090           The Great Ace Attorney 2: Resolve     4.6
1104    Sekiro: Shadows Die Twice - GOTY Edition     4.6
1138                             Half-Life: Alyx     4.6
1153                              Dwarf Fortress     4.6
1198  Metal Gear Solid 3: Snake Eater HD Edition     4.6
1252           Elden Ring: Shadow of the Erdtree     4.8
1286                                 Tokyo Necro     4.6
1322        Bloodborne: Game of the Year Edition     4.6

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    vyber_her = hry_df[hry_df["Rating"] >= 4.6]
    ```

</details>

---