# Python Data, 2024

---

* [Spojov치n칤 dat](#Spojov치n칤-dat),
    - [spojov치n칤 s concat](#Spojov치n칤-s-concat),
    - [spojov치n칤 s concat a arg. join](#concat-a-voliteln칳-argument-join),
    - [spojov치n칤 s metodou append](#Spojov치n칤-pomoc칤-metody-APPEND),
    - [spojov치n칤 s merge](#Spojov치n칤-pomoc칤-merge),
    - [spojov치n칤 s metodou join](#Spojen칤-pomoc칤-index콢,-join),
    - [cvi캜en칤 1]().
* [Agregace](#Agregace),
    - [jednoduch치 agregace](#Jednoduch치-agregace),
    - [seskupov치n칤 groupby](#Seskupov치n칤-groupby),
    - [agregace](#Agregace-s-metodami),
    - [filtrov치n칤](#Filtrov치n칤),
    - [transformace](#Transformace),
    - [apply](#Metoda-apply),
    - [cvi캜en칤 2]().
* [Pivot tabulka](#Pivot-tabulky),
    - [칰vodn칤 motivace](),
    - [syntaxe tabulky](),
    - [dopl켿uj칤c칤 mo쬹osti](),
    - [cvi캜en칤 3]().



<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.APOjuHGvkM0wQaUx9ELKAgHaHa%26pid%3DApi&f=1&ipt=a8b2b692c40e190d4b28c164bf13e6c944702a69944035a4ef9053aa6ea1b190&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

<br>

## Spojov치n칤 dat

---

Takov칳mi operacemi si m콢쬰코 p콏edstavit jednoduch칠 operace jako **spojov치n칤** (*konkatenace*) **dvou a v칤ce dataset콢** a po slo쬴t캩j코칤 *JOINY* podobn캩 jako u datab치z칤.

`pandas` obsahuje r콢zn칠 *funkce* a *metody*, kter칠 umo쮄갓j칤 tento zp콢sob pr치ce.

* funkce `concat`,
* funkce `merge`,
* metoda `append` (outdated),
* metoda `join`.

### Spojov치n칤 s CONCAT

---

Funkce `concat()` v `pandas` umo쮄갓je spojit **dva nebo v칤ce**:
1. **sloupe캜k콢** tabulky,
    - *horizont치ln캩*, po sloupc칤ch,
    - *vertik치ln캩*, po Indexech,
3. **tabulek** samotn칳ch,
    - *horizont치ln캩*, po sloupc칤ch,
    - *vertik치ln캩*, po Indexech,

Pou쬴t칤 funkce `concat()` spo캜칤v치 **v p콏ed치n칤 seznamu objekt콢**, kter칠 chce코 spojit, a parametru `axis`, kter칳 ur캜uje osu, podle kter칠 se m치j칤 objekty spojit:

#### Spojen칤 sloupe캜k콢, CONCAT

---

In [1]:
from pandas import concat, Series, DataFrame

In [2]:
sloupec_1 = Series(['A', 'B', 'C'], index=[1, 2, 3])
sloupec_2 = Series(['D', 'E', 'F'], index=[4, 5, 6])

In [3]:
sloupec_1

1    A
2    B
3    C
dtype: object

In [4]:
sloupec_2

4    D
5    E
6    F
dtype: object

In [5]:
spojene_sloupce = concat([sloupec_1, sloupec_2])

<br>

Spojen칤 **horizont치ln칤** (pod sebou):

In [6]:
horizontalni_spoj = concat([sloupec_1, sloupec_2], axis=1)

In [7]:
horizontalni_spoj

     0    1
1    A  NaN
2    B  NaN
3    C  NaN
4  NaN    D
5  NaN    E
6  NaN    F

<br>

Spojen칤 **vertik치ln칤** (vedle sebe):

In [8]:
vertikalni_spoj = concat([sloupec_1, sloupec_2], axis=0)

In [9]:
vertikalni_spoj

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

<br>

#### Spojen칤 tabulek, CONCAT

---

In [12]:
uzivatele_tab_1 = {'jmeno': ['Matou코', 'Marek', 'Luk치코'],
               'vek': [25, 30, 35]}

In [13]:
uzivatele_tab_2 = {'jmeno': ['Petr', 'Jan', 'Michal'],
                   'vek': [40, 45, 50]}

In [14]:
uzivatele_tab_1_df = DataFrame(uzivatele_tab_1)
uzivatele_tab_2_df = DataFrame(uzivatele_tab_2)

In [15]:
uzivatele_tab_1_df

    jmeno  vek
0  Matou코   25
1   Marek   30
2   Luk치코   35

In [16]:
uzivatele_tab_2_df

    jmeno  vek
0    Petr   40
1     Jan   45
2  Michal   50


#### Samotn칠 spojen칤 dvou tabulek

---

In [17]:
df_spojene_tab = concat([uzivatele_tab_1_df, uzivatele_tab_2_df], axis=0)

In [18]:
df_spojene_tab

    jmeno  vek
0  Matou코   25
1   Marek   30
2   Luk치코   35
0    Petr   40
1     Jan   45
2  Michal   50

#### Co s duplicitn칤mi Indexy?

---

Tady se ov코em **zduplikovali hodnoty** n캩kter칳ch index콢.

Ty je pot콏eba opravit t칤mto postupem:
1. **Vytvo콏칤m nov칳 sloupe캜ek** pro indexy,
2. **odstran칤m star칳 sloupe캜ek** s duplicitami.

In [19]:
df_spojene_tab = df_spojene_tab.reset_index()  # P콏id치 nov칳 Index

In [20]:
df_spojene_tab

   index   jmeno  vek
0      0  Matou코   25
1      1   Marek   30
2      2   Luk치코   35
3      0    Petr   40
4      1     Jan   45
5      2  Michal   50

In [22]:
df_spojene_tab = df_spojene_tab.drop("index", axis=1)

<br>

Kontrola nov칠ho rozsahu **pro Index**:

In [24]:
df_spojene_tab.index

RangeIndex(start=0, stop=6, step=1)

<br>

Poz콢statky sloupe캜k콢:

In [25]:
df_spojene_tab.columns

Index(['jmeno', 'vek'], dtype='object')

In [26]:
df_spojene_tab

    jmeno  vek
0  Matou코   25
1   Marek   30
2   Luk치코   35
3    Petr   40
4     Jan   45
5  Michal   50

<br>

Nastaven칤 nov칳ch Index콢 **podle jmen**:

In [31]:
df_spojene_tab.index.names?

Type:        property
String form: <property object at 0x7f0eb75c7c70>
Docstring:   <no docstring>

<br>

Dopln칤코 jm칠no **pro Index**:

In [33]:
df_spojene_tab.index.names = ["Index ze jm칠n"]

In [34]:
df_spojene_tab.index.names

FrozenList(['Index ze jm칠n'])

In [35]:
df_spojene_tab

                jmeno  vek
Index ze jm칠n
0              Matou코   25
1               Marek   30
2               Luk치코   35
3                Petr   40
4                 Jan   45
5              Michal   50

Pro odchyt치v치n칤 **duplicitn칤ch index콢** m콢쬰코 doplnit parametr `verify_integrity=True`, p콏칤padn캩 pokud je irelevantn칤, ignorovat jej 칰pln캩 `ignore_index=True`.

<br>

**游 CVI캛EN칈 游, procvi캜 si funkc칤 CONCAT**

In [84]:
data_populace = {
    "City": ["New York", "London", "Tokyo"],
    "Population": [8.4, 9.0, 13.9],
}

data_plocha = {
    "City": ["New York", "London", "Tokyo"],
    "Area": [783, 1572, 2194],
}

data_kontinent = {
    "City": ["New York", "London", "Tokyo"],
    "Continent": ["North America", "Europe", "Asia"],
}

<details>
    <summary>郊윒잺 콎e코en칤</summary>
    
```python
from pandas import DataFrame, concat

data_populace = {
    "City": ["New York", "London", "Tokyo"],
    "Population": [8.4, 9.0, 13.9],
}

data_plocha = {
    "City": ["New York", "London", "Tokyo"],
    "Area": [783, 1572, 2194],
}

data_kontinent = {
    "City": ["New York", "London", "Tokyo"],
    "Continent": ["North America", "Europe", "Asia"],
}

populace_df = DataFrame(data_populace)
plocha_df = DataFrame(data_plocha)
kontinent_df = DataFrame(data_kontinent)


def spoj_data_mest(populace, plocha, kontinent):
    """
    Spoj칤 t콏i tabulky horizont치ln캩 podle sloupce City.
    """
    return concat([populace.set_index("City"),
                      plocha.set_index("City"),
                      kontinent.set_index("City")], axis=1).reset_index()


result = spoj_data_mest(populace_df, plocha_df, kontinent_df)
print(result)
```
</details>

<img src="https://imgs.search.brave.com/wR9sz6BPwR_LCDm6Esd_B9VgUBSbW4wbTPi2T9DrdBc/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA4LzQwLzM1LzIx/LzM2MF9GXzg0MDM1/MjE1Ml84N1N2T0kx/REM2RElCaHkxc0xz/VnpnYmNIUk1UZno0/cC5qcGc" width="230" style="margin-left:auto; margin-right:auto"/>

### CONCAT a voliteln칳 argument JOIN

---

V jednoduch칳ch uk치zk치ch, jako jsou ty v칳코e, sta캜ilo **tabulky a sloupe캜ky spojit**.

To prakticky nen칤 v쬯y ide치ln칤 콏e코en칤, proto쬰 n캩kter칠 sloupe캜ky m콢쬺u, **ale nemus칤 b칳t shodn칠**.

In [36]:
from pandas import DataFrame, concat

In [37]:
data_tab_1_df = DataFrame(
    {"A": ["A1", "A2"], "B": ["B1", "B2"], "C": ["C1", "C2"]},
    index=[1, 2]
)

In [38]:
data_tab_2_df = DataFrame(
    {"B": ["B3", "B4"], "C": ["C3", "C4"], "D": ["D3", "D4"]},
    index=[3, 4]
)

In [39]:
data_tab_1_df

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

In [40]:
data_tab_2_df

    B   C   D
3  B3  C3  D3
4  B4  C4  D4


#### Horizont치ln칤 spojen칤 dvou tabulek

---

In [41]:
vystup_tab_df = concat([data_tab_1_df, data_tab_2_df])  # axis=0

In [43]:
vystup_tab_df

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

Pokud n캩kter치 data chyb캩j칤, jsou automaticky vypln캩n치 **nezn치m칳mi hodnotami**.

콎e코en칤m takov칠 situace m콢쬰코 b칳t zaveden칤 jin칠ho **zp콢sobu spojov치n칤**.

Tedy nepou쮂셨at defaultn칤 argument `join='outer'`, ale `join='inner'`:

In [51]:
vystup_bez_nan_df = concat([data_tab_1_df, data_tab_2_df],
                           join='inner',
                           axis=0)

In [52]:
vystup_bez_nan_df

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

<img src="https://imgs.search.brave.com/IZ8jkD1GaDV2tXwgwzM1Xawk-jBMejygby1KcermQp8/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA4LzQ2LzQ3LzE1/LzM2MF9GXzg0NjQ3/MTU2MF95Y281RnhM/UG5RR1c4NW1OWHBD/UmcxUWptSzRiMnp3/eS5qcGc" width="200" style="margin-left:auto; margin-right:auto"/>

### Spojov치n칤 pomoc칤 `MERGE`

---

Dal코칤 funkc칤 pro spojov치n칤 `DataFrame` objekt콢 je `merge`.

Tato funkce je vhodn치 pro spojov치n칤 DataFrame objekt콢, kter칠 **maj칤 spole캜n칠 sloupce**.

M콢쬰코 l칠pe zad치vat typ spojen칤 (parametr `how='inner' | 'outer' | 'left' | 'join'`).

D치le ti umo쬹칤 **definovat sloupec, nebo sloupce**, na kter칳ch chce코 spojen칤 prov칠st (parametr `on`).

In [53]:
from pandas import merge

In [55]:
uzivatele_tab_1 = {
    'jmeno': ['Alice', 'Bob', 'Charlie', 'David'],
    'vek': [25, 30, 35, 40],
    'mesto': ['Brno', 'Praha', 'Plzen', 'Ostrava']
}

In [56]:
uzivatele_tab_2 = {
    'jmeno': ['Alice', 'David', 'Emma', 'Frank'],
    'pocet_prijemcu': [100, 200, 150, 250]
}

In [57]:
uzivatele_tab_1_df = DataFrame(uzivatele_tab_1)
uzivatele_tab_2_df = DataFrame(uzivatele_tab_2)

In [58]:
uzivatele_tab_1_df

     jmeno  vek    mesto
0    Alice   25     Brno
1      Bob   30    Praha
2  Charlie   35    Plzen
3    David   40  Ostrava

In [59]:
uzivatele_tab_2_df

   jmeno  pocet_prijemcu
0  Alice             100
1  David             200
2   Emma             150
3  Frank             250

#### Spojen칤 FULL JOIN

---

In [60]:
mergnute_df = merge(uzivatele_tab_1_df, uzivatele_tab_2_df,
                    on='jmeno',
                    how='outer')

In [61]:
mergnute_df

     jmeno   vek    mesto  pocet_prijemcu
0    Alice  25.0     Brno           100.0
1      Bob  30.0    Praha             NaN
2  Charlie  35.0    Plzen             NaN
3    David  40.0  Ostrava           200.0
4     Emma   NaN      NaN           150.0
5    Frank   NaN      NaN           250.0

#### Spojen칠 INNER MERGE

---

In [62]:
mergnute_inner_df = merge(uzivatele_tab_1_df,
                          uzivatele_tab_1_df,
                          on='jmeno',
                          how='inner')

In [63]:
mergnute_inner_df

     jmeno  vek_x  mesto_x  vek_y  mesto_y
0    Alice     25     Brno     25     Brno
1      Bob     30    Praha     30    Praha
2  Charlie     35    Plzen     35    Plzen
3    David     40  Ostrava     40  Ostrava

Funkce sama **dopln칤 p콏칤pony**, aby rozli코ila **mezi ob캩ma p콢vodn칤mi sloupci**.

**Pokud pot콏ebuje코 vlastn칤 p콏칤pony**, m콢쬰코 vyzkou코et voliteln칳 argument pro `suffixes`:

In [73]:
df8 = DataFrame({
    'jmeno': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'poradi': [1, 2, 3, 4]
})

In [74]:
df9 = DataFrame({
    'jmeno': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'poradi': [3, 1, 4, 2]
})

In [75]:
df8

  jmeno  poradi
0   Bob       1
1  Jake       2
2  Lisa       3
3   Sue       4

In [76]:
df9

  jmeno  poradi
0   Bob       3
1  Jake       1
2  Lisa       4
3   Sue       2

In [77]:
vystup_konflikt = merge(df8, df9, on="jmeno")

In [78]:
vystup_konflikt

  jmeno  poradi_x  poradi_y
0   Bob         1         3
1  Jake         2         1
2  Lisa         3         4
3   Sue         4         2

In [79]:
vystup_vlastni_pripony = merge(df8, df9, on='jmeno', suffixes=('_DF8', '_DF9'))

In [80]:
vystup_vlastni_pripony

  jmeno  poradi_DF8  poradi_DF9
0   Bob           1           3
1  Jake           2           1
2  Lisa           3           4
3   Sue           4           2

Obecn캩 plat칤, 쬰 pokud pot콏ebuje코 *spojit* dva nebo v칤ce `DataFrame` objekt콢 podle **spole캜n칠ho sloupce nebo sloupc콢**, pou쬴j funkci `merge()`.

Pokud chce코 jenom **p콏idat dal코칤 콏치dky nebo sloupce** do existuj칤c칤ho `DataFrame` objektu, pou쬴j funkci `concat`.

In [64]:
uzivatele_tab_1_df

     jmeno  vek    mesto
0    Alice   25     Brno
1      Bob   30    Praha
2  Charlie   35    Plzen
3    David   40  Ostrava

In [65]:
uzivatele_tab_2_df

   jmeno  pocet_prijemcu
0  Alice             100
1  David             200
2   Emma             150
3  Frank             250

In [67]:
vystup_left_join_df = merge(uzivatele_tab_1_df,
                         uzivatele_tab_2_df,
                         on='jmeno',
                         how='left')

In [68]:
vystup_left_join_df

     jmeno  vek    mesto  pocet_prijemcu
0    Alice   25     Brno           100.0
1      Bob   30    Praha             NaN
2  Charlie   35    Plzen             NaN
3    David   40  Ostrava           200.0

V uk치zce v칳코 je pou쬴t칳 *left join*.

Tedy ve v칳sledku uvid칤코 **celou prvn칤** (levou tabulku) a z druh칠 pouze ty z치znamy, kter칠 maj칤 ve spojovac칤m sloupci `jmeno` spole캜nou hodnotu.

### Spojen칤 pomoc칤 index콢, `join`

---

Tato metoda slou쮂 k propojen칤 dvou DataFrame objekt콢 na z치klad캩 **jejich index콢 nebo hodnot**.

Je velice podobn치 funkci `merge` ale je p콏칤mo sou캜치st칤 `DataFrame` objektu a je snaz코칤 ji aplikovat:

In [ ]:
uzivatele_1 = {
    'jmeno': ['Alice', 'Bob', 'Petr'],
     'vek': [25, 30, 35]
}

In [ ]:
uzivatele_2 = {
    'jmeno': ['Alice', 'Bob', 'Petr'],
    'pocet_prijemcu': [100, 150, 200]
}

In [ ]:
df_uzivatele_1 = DataFrame(uzivatele_1)
df_uzivatele_2 = DataFrame(uzivatele_2)

In [ ]:
df_uzivatele_1

In [ ]:
df_uzivatele_2

In [ ]:
df_uzivatele_2.index.names

In [ ]:
df_uzivatele_1 = df_uzivatele_1.set_index('jmeno')

In [ ]:
df_uzivatele_2 = df_uzivatele_2.set_index('jmeno')

In [ ]:
df_uzivatele_1

In [ ]:
df_uzivatele_2

In [ ]:
vysledek_join_metody = df_uzivatele_1.join(df_uzivatele_2)

In [ ]:
vysledek_join_metody

Hlavn칤 rozd칤l mezi t캩mito funkcemi je zp콢sob ur캜en칤 **sloupce nebo sloupc콢**, podle kter칳ch se m치 propojen칤 prov칠st.

1. Metoda `join()` propojuje DataFrame objekty **na z치klad캩 jejich index콢**.
2. Funkce `merge()` umo쮄갓je propojit `DataFrame` objekty **na z치klad캩 hodnoty v jednom nebo v칤ce sloupc칤ch**.

### Souhrn ke spojov치n칤

---

| Objekt | Kdy jej pou쮂셦? | Sm캩r spojen칤 |
| :- | :- | :- |
| `concat` | Kdy chce코 poskl치dat tabulky na sebe (콏치dky) nebo vedle sebe (sloupce). | Vertik치ln캩 / Horizont치ln캩 | 
| `merge` |	Kdy chcete spojit tabulky podle spole캜n칠ho kl칤캜e/sloupce, podobn캩 jako SQL JOIN. | Horizont치ln캩 |
| `join` | Kdy chcete spojit tabulky podle spole캜n칠ho indexu (ne kl칤캜e/sloupce). | Horizont치ln캩 |
| `append` | (Zastaral칠) Pou쮂셨alo se k p콏id치n칤 콏치dk콢, nyn칤 pou쮂셨ejte concat. | Vertik치ln캩 |

<br>

**游 CVI캛EN칈 游, procvi캜 si spojov치n칤**

Tv칳m 칰kolem je propojit tyto tabulky podle zad치n칤:
1. Pou쬴j spojovac칤 funkci pro spojen칤 objekt콢 typu `DataFrame` , kter칠 vytvo콏칤코 z prom캩nn칳ch `data_zamestnanci_1` a `data_zamestnanci_2`,
2. pou쬴j spojovac칤 funkci, kter칠 zad치코 vznikl칳 objekt typu `DataFrame`  z bodu 1. a druh칳 `DataFrame`, kter칳 vytvo콏칤코 z prom캩nn칠 `data_oddeleni` (spoj p콏es sloupe캜ek `"odd캩len칤_id"`),
3. vytvo콏 v칳sledn칳 objekt typu `DataFrame` , kter칳 obsahuje pouze zam캩stnance z odd캩len칤 `IT`.

In [ ]:
data_zamestnanci_1 = {
    'id': [1, 2, 3],
    'jm칠no': ['Jan', 'Marie', 'Petr'],
    'p콏칤jmen칤': ['Nov치k', 'Svobodov치', 'Dvo콏치k'],
    'odd캩len칤_id': [100, 200, 100]
}

data_zamestnanci_2 = {
    'id': [4, 5],
    'jm칠no': ['Anna', 'Josef'],
    'p콏칤jmen칤': ['Kopeck치', 'Vondr치캜ek'],
    'odd캩len칤_id': [200, 100]
}

data_oddeleni = {
    'odd캩len칤_id': [100, 200],
    'n치zev_odd캩len칤': ['IT', 'HR']
}

In [ ]:
df1, df2 = ...

In [ ]:
df_spojeni_zam = pd.concat([df1, df2], axis=0, ignore_index=True)

In [ ]:
df1 = pd.concat(
    [pd.DataFrame(data) for data in [data_zamestnanci_1, data_zamestnanci_2]]
).reset_index(drop = True).set_index('id')

In [ ]:
df_spojeni_odd = pd.merge(df_oddeleni, on='odd캩len칤_id', how=)

In [ ]:
df2 = df1.merge( pd.DataFrame( data_oddeleni ), on = 'odd캩len칤_id', how = 'left' )

In [ ]:
df3 = df2[df2['n치zev_odd캩len칤'] == 'IT']

In [ ]:
display( df1, df2, df3 )

<details>
    <summary>郊윒잺 콎e코en칤</summary>
    
    ```python
    df_zamestnanci_1 = pd.DataFrame(data_zamestnanci_1)
    df_zamestnanci_2 = pd.DataFrame(data_zamestnanci_2)
    df_oddeleni = pd.DataFrame(data_oddeleni)

    df_vsichni_zamestnanci = pd.concat([df_zamestnanci_1, df_zamestnanci_2], ignore_index=True)

    df_vsechna_oddeleni = pd.merge(df_vsichni_zamestnanci, df_oddeleni, on="odd캩len칤_id")

    df_jen_it = df_vsechna_oddeleni[df_vsechna_oddeleni["n치zev_odd캩len칤"] == "IT"]
    ```
</details>

## Agregace

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.HtBtNx6dodlNptXV1QGHWQHaG0%26pid%3DApi&f=1&ipt=3a4d1dfa14a495127b4ece5cf689f00ed0c9e0836853358412e18161ae7c505f&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>


*Seskupov치n칤* neboli **agregace** jsou procesy, kter칠 pat콏칤 k z치kladn칤 efektivn칤 anal칳ze dat.

### Jednoduch치 agregace

---

P콏esto, 쬰 ve코ker칠 z치kladn칤 **statistick칠 칰daje** prakticky nab칤z칤 metoda `describe()`, m콢쬰코 ocenit, kdy stejnou statistiku m콢쬰코 aplikovat **na tebou vybran칠 objekty**.

Mezi nejjednodu코코칤 postupy, jak data analyzovat pat콏칤 metody jako:
* `sum()`,
* `mean()`,
* `median()`,
* `min()`,
* `max()`.

V코echny tyto metody umo쬹칤 z칤skat jedno samotn칠 캜칤slo, kter칠 ti umo쬹칤 prohl칠dnout podstatu zadan칠ho datasetu.

In [ ]:
from pandas import read_csv

In [ ]:
df_nemovitosti = read_csv("nemovitosti.csv")

In [ ]:
df_nemovitosti.head()

<br>

#### Odstranit nepot콏ebn칳 sloupe캜ek

In [ ]:
df_nemovitosti.columns

In [ ]:
df_bez_bezejmen = df_nemovitosti.drop("Unnamed: 0", axis=1)

In [ ]:
df_bez_bezejmen.head()

In [ ]:
df_bez_bezejmen.loc[:, "price"].max()

In [ ]:
df_bez_bezejmen.loc[:, "price"].min()

In [ ]:
df_bez_bezejmen.loc[:, "area"].sum()

In [ ]:
df_bez_bezejmen.loc[:, "price"].mean()

<br>

캛asto ale nen칤 dosta캜uj칤c칤, prozkoumat data pouze jednoduch칳ch agrega캜n칤ch funkc칤.

Dal코칤 operace, kter칠 je pot콏eba pochopit jsou seskupov치n칤 dat podle zadan칳ch parametr콢.

### Seskupov치n칤 GROUPBY

---

Metoda `groupby`, p콢vodn캩 operace z SQL jazyka, je v r치mci knihovny `pandas` v코estran칳 pomocn칤k pro seskupov치n칤 dat na z치klad캩 r콢zn칳ch krit칠ri칤.

In [ ]:
from pandas import DataFrame

In [ ]:
df_pokus_s_cisly = DataFrame(
    {
        'kl칤캜': ['A', 'B', 'C', 'A', 'B', 'C'],
        '캜칤seln치 hodnota': range(6)},
)

In [ ]:
df_pokus_s_cisly

#### Klasick칠 seskupen칤 podle sloupe캜ku

In [ ]:
df_pokus_s_cisly.groupby("kl칤캜")

In [ ]:
type(df_pokus_s_cisly.groupby("kl칤캜"))

Metoda standardn캩 vrac칤 `DataFrameGroupBy`.

Jde op캩t o tzv. *lazy evaluation* proces, samotn칳 nic neprovede, pouze 캜ek치 na pokyn u쬴vatele, kter칳 samotnou agregaci spust칤.

In [ ]:
df_pokus_s_cisly.groupby("kl칤캜").sum()

Metoda `sum()` je pouze jednou z mo쬹ost칤, se kterou m콢쬰코 pracovat.

<br>

#### Sloupe캜kov칠 ozna캜ov치n칤

Stejn캩 jako `DataFrame` m콢쬰코 ozna캜ovat tak칠 *GroupBy* objekty.

In [ ]:
df_pokus_s_cisly

In [ ]:
df_pokus_s_cisly.groupby("kl칤캜")["캜칤seln치 hodnota"]

In [ ]:
df_pokus_s_cisly.groupby("kl칤캜")["캜칤seln치 hodnota"].median()

<br>

V uplynul칠 uk치zce je zadan치 seskupov치n칤 podle sloupe캜ku `kl칤캜`.

D치le je vybran칳 pouze konkr칠tn칤 sloupe캜ek, na kter칳 chce코 spustit metodu `median`.

<br>

Pokud pot콏ebuje코 nad vybran칳m objektem prov치d캩t n캩kter칠 procesy ru캜n캩, m콢쬰코 p콏es *GroupBy* objekt **iterovat**:

In [ ]:
for (klic, hodnota) in df_pokus_s_cisly.groupby("kl칤캜"):
    print(f"Klic: {klic}; Hodnota={hodnota.shape}")

<br>

### Agregace s metodami

---

Krom캩 jednoduch칳ch agregac칤, nab칤z칤 *GroupBy* 콏adu dal코칤 funkcionality.

Jde o metody:
* `aggregate`,
* `filter`,
* `transform`,
* `apply`.

#### Agregate

In [ ]:
import numpy

In [ ]:
rng = numpy.random.RandomState(0)

In [ ]:
from pandas import DataFrame

In [ ]:
df_pokus_s_cisly = DataFrame(
    {
        'kl칤캜': ['A', 'B', 'C', 'A', 'B', 'C'],
        'data_1': range(6),
        'data_2': rng.randint(0, 10, 6)
    }
)

In [ ]:
df_pokus_s_cisly

Statistick칠 metody ur캜it캩 nab칤z칤 spousty pom콢cek.

Objekt typu *GroupBy* um칤 pracovat tak칠 s funkcemi, stringy a cel칳mi listy.

In [ ]:
df_pokus_s_cisly.groupby("kl칤캜").aggregate("sum")

In [ ]:
df_pokus_s_cisly.groupby("kl칤캜").aggregate(numpy.median)

In [ ]:
df_pokus_s_cisly.groupby("kl칤캜").aggregate(["min", numpy.median, max])

In [ ]:
df_pokus_s_cisly

M콢쬰코 콏칤ct, 쬰 metoda `aggregate` se pou쮂셨치 k aplikaci **jedn칠 nebo v칤ce agrega캜n칤ch funkc칤 na seskupen치 data**.

```
pobocka,ovoce,prodane_mnozstvi,cena
A,apple,10,20
A,banana,15,12
B,apple,8,22
B,banana,30,10
C,apple,20,18
C,banana,25,15
```

In [ ]:
ovoce_data = {
    'pobocka': ['A', 'A', 'B', 'B', 'C', 'C'],
    'ovoce': ['jablko', 'banan', 'jablko', 'banan', 'jablko', 'banan'],
    'prodane_mnozstvi': [10, 15, 8, 30, 20, 25],
    'cena': [20, 12, 22, 10, 18, 15]
}

In [ ]:
df_ovoce = DataFrame(ovoce_data)

In [ ]:
df_ovoce.head(6)

In [ ]:
vystup = df_ovoce.groupby('pobocka').aggregate({'prodane_mnozstvi': sum})

In [ ]:
vystup = df_ovoce.groupby('pobocka').aggregate({'prodane_mnozstvi': 'sum', 'cena': 'mean'})

In [ ]:
vystup

1. Nejprve jsou hodnoty seskupen칤 podle sloupce `pobocka`,
2. pot칠 specifikuje코 pomoc칤 `aggregate` funkce a sloupce,
3. .. tedy sumarizovat hodnoty v `prodane_mnozstvi` a z칤skat pr콢m캩r `cena` pro ka쬯ou pobo캜ku.

### Filtrov치n칤

---

Filtrov치n칤 ti umo쬹칤 zahodit takov칠 칰daje, kter칠 nespl켿uj칤 zadanou podm칤nku.

Metoda `filter` se pou쮂셨치 k vybr치n칤 **seskupen칳ch dat** podle spln캩n칤 **ur캜it칠 podm칤nky**.

P콏edstavme si, 쬰 m치me n치sleduj칤c칤 dataset s informacemi o prodeji ovoce v r콢zn칳ch obchodech:

```
pobocka,ovoce,prodane_mnozstvi,cena
A,apple,10,20
A,banana,15,12
B,apple,8,22
B,banana,30,10
C,apple,20,18
C,banana,25,15
```

In [ ]:
df_ovoce.head(6)

In [ ]:
def vyber_pouze_pobocky_s_prodejem_nad_limit(data, limit: int = 24) -> bool:
    return data['prodane_mnozstvi'].sum() > limit

<br>

Funkce `vyber_pouze_pobocky_s_prodejem_nad_limit`, tedy **filtrovac칤 funkce**, mus칤 vracet **boolean** datov칳 typ.

In [ ]:
vysledek = df_ovoce.groupby('pobocka').filter(vyber_pouze_pobocky_s_prodejem_nad_limit)

In [ ]:
vysledek

1. Nejprve seskup칤코 data podle sloupce `pobocka` pomoc칤 `groupby`,
2. d치le pou쬴je코 metodu `filter`, kter치 umo쮄갓je pou쮂셦 u쬴vatelem definovanou funkci (`vyber_pouze_pobocky_s_prodejem_nad_limit`),
3. definuje코 funkci, kter치 vybere pouze pobo캜ky s v캩t코칤m prodejem ne je parametr `limit`,
4. metoda `filter` pak vybere pouze ty 콏치dky, kter칠 spl켿uj칤 tuto podm칤nku.

### Transformace

---

Zat칤mco p콏edchoz칤 v칳sledky *agregace* pomoc칤 `groupby` vraceli redukovan칠 mno쬽tv칤 dat.

Transformace obvykle vrac칤 data o stejn칠m rozsahu jako vstupn칤 data. Jenom upraven치.

Metoda `transform` se pou쮂셨치 k aplikaci ur캜it칠 **transforma캜n칤 funkce** na ka쬯칳 prvek seskupen칳ch dat.

In [ ]:
df_ovoce

In [ ]:
def vrat_procenta_z_celkoveho_prodeje(udaj) -> float:
    return round(udaj / udaj.sum() * 100, 1)

<br>

Vytvo콏en칤 nov칠ho sloupe캜ku `procento_z_celkoveho_prodeje`:

In [ ]:
df_ovoce['procento_z_celkoveho_prodeje'] = df_ovoce.groupby('pobocka')['prodane_mnozstvi'] \
    .transform(vrat_procenta_z_celkoveho_prodeje)

In [ ]:
df_ovoce

1. Nejprve seskup칤코 data podle sloupce `pobocka` pomoc칤 `groupby`,
2. d치le pou쬴je코 metodu `transform`, kter치 umo쮄갓je pou쮂셦 u쬴vatelem definovanou funkci,
3. definuje코 funkci, kter치 vybere vypo캜칤t치 procentu치ln칤 vyj치d콏en칤 prodan칠ho zbo쮂 pro pobo캜ku,
4. p콏id치코 nov칳 sloupe캜ek `procento_z_celkoveho_prodeje`.

### Metoda `apply`

---

Metoda `apply` ti tak칠 dovol칤, pou쮂셨at u쬴vatelem definovan칠 funkce na seskupen치 data.

N치sledn캩 vrac칤 objekt knihovny `pandas` (bu캞 `DataFrame`, nebo `Series`, a nebo skal치rn칤 hodnota).

In [ ]:
df_ovoce.head(6)

In [ ]:
def vypocitej_vydelek_za_artikl(seskupene):
    seskupene['vydelek_pobocky'] = seskupene['prodane_mnozstvi'] * seskupene['cena']
    return seskupene

<br>

Metoda `apply` je **obecn캩j코칤 a flexibiln캩j코칤** ne `transform`.

`apply` umo쮄갓je pou쮂셦 u쬴vatelem definovanou funkci na ka쬯ou skupinu po seskupen칤 dat pomoc칤 `groupby`.

V칳sledek metody `apply` m콢쬰 m칤t jin칳 tvar ne p콢vodn칤 data.

In [ ]:
vystup = df_ovoce.groupby('pobocka', group_keys=False).apply(vypocitej_vydelek_za_artikl)

In [ ]:
vystup

In [ ]:
df_ovoce.groupby?

Od posledn칤ch verz칤 frameworku (`1.5.0` a vy코코칤) plat칤, 쬰 pokud bude v칳sledkem `DataFrame` nebo `Series` mus칤코 uv칠st argument pro `group_keys=True`).

In [ ]:
vystup = df_ovoce.groupby('pobocka', group_keys=True).apply(vypocitej_vydelek_za_artikl)

In [ ]:
vystup.head(6)

Na prvn칤 pohled vypadaj칤 metody `apply` a `transform` docela podobn캩.

Metoda `transform` je trochu omezen캩j코칤 ne `apply`.

Slou쮂 k aplikaci u쬴vatelem definovan칠 nebo vestav캩n칠 funkce **na ka쬯칳 prvek** skupiny po seskupen칤 s `groupby`.

`transform` mus칤 vracet hodnotu stejn칠ho tvaru jako vstupn칤 data.

V칳sledek metody `transform` **m치 stejn칳 tvar jako p콢vodn칤 data**.

#### Apply
* pot콏ebuje코 v칳sledek, kter칳 **m치 jin칳 tvar ne p콢vodn칤 data**,
* um칤 zpracovat **v칤ce sloupe캜k콢 sou캜asn캩**.

#### Transform
* pot콏ebuje코 v칳sledek, kter칳 **m치 stejn칳 tvar jako p콢vodn칤 data**,
* um칤 zpracovat **pouze jeden sloupe캜ek**.

In [ ]:
df_rozdily = DataFrame({
    'KLIC': ['A','B','C'] * 3,
    'A': numpy.arange(9),
    'B': [1,2,3] * 3,
})

In [ ]:
df_rozdily

#### `transform` vrac칤 v칳sledky ve stejn칠m tvaru

In [ ]:
def vypocitej_sumu(data):
    return data.sum()

In [ ]:
seskup_df_rozdily_apply = df_rozdily.groupby('KLIC')['A'].apply(vypocitej_sumu)

In [ ]:
seskup_df_rozdily_apply

In [ ]:
seskup_df_rozdily_trans = df_rozdily.groupby('KLIC')['A'].transform(vypocitej_sumu)

In [ ]:
seskup_df_rozdily_trans

#### `apply` um칤 pracovat s v칤ce sloupe캜ky, `transform` jen s jedn칤m

In [ ]:
df_rozdily

In [ ]:
def vypocitej_rozdil(data):
    return data['B'] - data['A']

In [ ]:
df_rozdily.groupby('KLIC').apply(vypocitej_rozdil)

In [ ]:
df_rozdily.groupby('KLIC').transform(vypocitej_rozdil)

<br>

**游 CVI캛EN칈 游, procvi캜 si funkc칤 GroupBy a agrega캜n칤 funkce**

M치코 zadan칳 takov칳 datov칳 set.

N치sledn캩:
1. Pomoc칤 metody `filter` vyber prodejny, kter칠 prodaly **alespo켿 30 produkt콢**,
2. na filtrovan칠m datasetu pou쬴jte metodu `apply` pro v칳po캜et **celkov칠ho p콏칤jmu z prodeje pro ka쬯칳 obchod**.

In [ ]:
from pandas import DataFrame

df_prodej_hardware = DataFrame({
    'prodejna_id': (5, 4, 1, 5, 5, 1, 4, 2, 5, 1, 3, 1, 3, 4, 2, 1, 5, 4, 1, 5),
    'transakce_id': (1278, 1216, 1866, 1872, 1797, 1272, 1880, 1061, 1595, 1879, 1728,
       1341, 1396, 1698, 1018, 1176, 1611, 1395, 1444, 1232),
    'predmet_prodeje': ('grafick치_karta', 'SSD', 'RAM', 'procesor', 'grafick치_karta',
       'z치kladn칤_deska', 'SSD', 'SSD', 'grafick치_karta', 'RAM',
       'grafick치_karta', 'procesor', 'grafick치_karta', 'SSD',
       'grafick치_karta', 'RAM', 'z치kladn칤_deska', 'HDD', 'grafick치_karta',
       'RAM'),
    'pocet_prodanych_ks': (1,  5,  6,  6,  3,  7,  9, 10,  8,  6,  8,  5,  8, 10,  4, 10,  8,
       10,  2,  5),
    'cena_predmetu': (19500.69874949, 19731.10951735, 14114.15342339, 10953.87914371,
        6535.78851758, 16369.00288429, 13852.2578648 ,  3671.03031723,
       18263.08009763, 16539.476237  , 19021.09830919, 14651.53041357,
       12461.59632075,  8655.73920767, 18688.2054254 , 17388.24584526,
        1381.76406707,  1014.1560027 ,  7841.03565412, 16305.78995025)
})

In [ ]:
df_prodej_hardware.head()

In [ ]:
#칔loha 1
cilove_prodejny = df_prodej_hardware.groupby('prodejna_id') \
                .filter(lambda prodejna: prodejna.pocet_prodanych_ks.sum() >= 30)

In [ ]:
def func_1(seskupene_data, limit: int = 30) -> bool:
    return seskupene_data["pocet_prodanych_ks"] >= limit

In [ ]:
prodeje_prodejen = cilove_prodejny.groupby('prodejna_id') \
                .aggregate({'pocet_prodanych_ks': sum})

In [ ]:
df_prodej_hardware["prodejna_id"].unique()

In [ ]:
#칔loha 2
prijmy_prodejen = pd.DataFrame(df_prodej_hardware.groupby('prodejna_id')['cena_predmetu'] \
                .apply(lambda prodejna: prodejna.sum())) \
                .rename(columns = { 'cena_predmetu': 'prijem_z_prodeje' } ) \
                .round( 2 )

<details>
    <summary>郊윒잺 콎e코en칤</summary>
    
    ```python
    def vyber_prodej_vetsi_nez_limit(data, limit: int = 30):
        return data['pocet_prodanych_ks'].sum() > limit
        
    def vypocitej_celkovy_vydelek_prodejny(skupina):
        return (skupina['pocet_prodanych_ks'] * skupina['cena_predmetu']).sum()
    
    df_filtr_hardware = df_prodej_hardware.groupby('prodejna_id') \
                            .filter(vyber_prodej_vetsi_nez_limit)
    
    
    celkovy_vydelek = df_filtr_hardware.groupby('prodejna_id') \
                            .apply(vypocitej_celkovy_vydelek_prodejny)
    ```
</details>

## Pivot tabulky

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.P16hnt14CM-mJ5eAKykxLAHaHa%26pid%3DApi&f=1&ipt=27e3f5b23fe44567ad0730192d5dcb13c7c23aa6e87579d16df05e27461dc12c&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

*Pivot tabulky* (*kontingen캜n칤 tabulky*) jsou u쬴te캜n칠 pro p콏ehledn칠 zobrazen칤 a anal칳zu dat z tabulkov칳ch zdroj콢.

Pomoc칤 pivot tabulek m콢쬰코 **seskupit data podle ur캜it칳ch kategori칤** a prov칠st agregaci hodnot.

Nejprve si p콏edstav situaci bez pivot tabulek, pomoc칤 uk치zky n칤쬰:

In [ ]:
!pip install seaborn

In [ ]:
import seaborn

<br>

V t칠to ukazce pou쬴je코 vzorov치 data t칳kaj칤c칤 se [nehody lodi Titanic](https://en.wikipedia.org/wiki/Sinking_of_the_Titanic):

In [ ]:
df_titanic = seaborn.load_dataset('titanic')

In [ ]:
df_titanic.head()

<br>

Pro jakoukoliv pokro캜ilou anal칳zu dat, pot콏ebuje코 칰daj seskupit.

Tak jak jsi do prov치d캩l doposud, pomoc칤 `groupby`:

In [ ]:
df_titanic["sex"].unique()

In [ ]:
df_titanic.groupby('sex')

<br>

Pot콏ebuje코 pr콢m캩rnou hodnotu, a콘 je na sloupe캜ku `survived` vid캩t pom캩r p콏e쬴v코칤ch:

In [ ]:
df_titanic.groupby('sex')['survived'].mean()

<br>

Pro lep코칤 캜itelnost **zaokrouhl칤m v칳sledek na dv캩 desetinn칠 캜칤sla**:

In [ ]:
df_titanic.groupby('sex')['survived'].mean().round(2)

Takov칳 pr콢zkum z t칠to studie ti d치 jasn칳 pohled na v캩c:
* 3 ze 4 쬰n p콏e쬴ly,
* 1 z 5 mu쮄 p콏e쬴l.

Pokud bude코 pot콏ebovat detailn캩j코칤 anal칳zy, bude코 pot콏ebovat v칤ce dat.

T콏eba situaci, kde krom캩 pohlav칤, bere코 v potaz **t콏칤du cestuj칤c칤ch** `class`:

In [ ]:
df_titanic["class"].unique()

In [ ]:
df_titanic.groupby(['sex', 'class'])[['survived']].mean()

In [ ]:
type(df_titanic.groupby(['sex', 'class'])[['survived']])

In [ ]:
type(df_titanic.groupby(['sex', 'class'])['survived'].mean())

In [ ]:
df_titanic.groupby(['sex', 'class'])[['survived']].mean().round(2)

<br>

Metodou `unstack` si m콢쬰코 vytvo콏it nov칠 sloupe캜ky, kter칠 jsou postaven칠 na nov칠m Indexu, nebo Indexech (*Multiindex*):

In [ ]:
df_titanic.groupby(['sex', 'class'])['survived'].mean().round(2).unstack()

Takov칳 pr콢zkum ti d치 skute캜n캩 lep코칤 pohled na v캩c.

Sou캜asn캩 ale roste **n치ro캜nost ohl치코en칤**.

Z치pis "bobtn치" a **st치v치 se n치ro캜n캩j코칤m na p콏e캜ten칤 a pochopen칤**.

<br>

### Pivot tabulka

---

Podobn칠 콏e코en칤 ti nab칤z칤 funkce `pivot_table`:

In [ ]:
df_titanic.groupby(['sex', 'class'])['survived'].mean().round(2).unstack()

In [ ]:
df_titanic.pivot_table('survived', index='sex', columns='class').round(2)

Z치s치dn칤m rozd칤lem je ov코em **캜itelnost**, kterou m치코 pro tuto variantu z치pisu.

```
Clarity beats purity
```

Pomoc칤 vhodn칳ch argument콢, m콢쬰코 doplnit vysv캩tlivky tam, kde funkce `groupby` nemohla.

Stejn캩 plat칤, 쬰 pokud bude코 pot콏ebovat **dal코칤 Index**, m콢쬰코 si pomoci funkc칤 `cut`:

In [ ]:
df_titanic.head()

In [ ]:
df_titanic['age'].describe()

In [ ]:
from pandas import cut

In [ ]:
age = cut(df_titanic['age'], [1, 25, 80])

In [ ]:
age  # < xxx , xxx )

In [ ]:
df_titanic.pivot_table('survived', index=['sex', age], columns='class').round(2)

Pomoc칤 funkce `cut` dopln칤코 tabulku na **Multiindex**.

Ten nyn칤 vytvo콏칤 i rozsah pro v캩kovou kategorii.

<br>

**游 CVI캛EN칈 游, procvi캜 si pivot tabulky**

Ze zadan칠ho datasetu vytvo콏 **pivot tabulku**, kter치 zobraz칤 **po캜et prodan칳ch kus콢 ovoce** pro **ka쬯칳 obchod** a **druh ovoce**.

In [ ]:
ovoce_data = {
    'pobocka': ['A', 'A', 'B', 'B', 'C', 'C'],
    'ovoce': ['jablko', 'banan', 'jablko', 'banan', 'jablko', 'banan'],
    'prodane_mnozstvi': [10, 15, 8, 30, 20, 25],
    'cena': [20, 12, 22, 10, 18, 15]
}

In [ ]:
# pivot_table()

In [ ]:
prodane_kusy = DataFrame(ovoce_data) \
            .pivot_table(
                index='pobocka',
                columns ='ovoce',
                values='prodane_mnozstvi'
)

In [ ]:
prodane_kusy

<details>
    <summary>郊윒잺 콎e코en칤</summary>
    
    ```python
    pivot_tabulka = df_ovoce.pivot_table(values="prodane_mnozstvi", index="pobocka", columns="ovoce")
    ```
</details>

<br>

## 캛asov칠 콏ady

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.odqbr-09dxxBQjF7x7NyBAHaII%26pid%3DApi&f=1&ipt=5b4a03c1dd38b52108237102ebb350595a5d6ea6a50572f5897ca89fbf5b5445&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

캛치st *frameworku* byla vyvinuta za 칰캜elem **finan캜n칤ho modelov치n칤**.

Proto je v칤ce ne dob콏e vybavena sadou n치stroj콢, kter칠 um칤 pracovat **s daty, 캜asem a 캜asov칳mi objekty**.

<br>

Uplatn캩n칤:
* **Anal칳za a predikce**: 캛asov칠 콏ady umo쮄갓j칤 analyzovat v칳voj hodnot v 캜ase a p콏edpov칤dat budouc칤 trendy nebo sez칩nn칤 zm캩ny. To je kl칤캜ov칠 v oblastech jako finance, ekonomika, prodej, po캜as칤 a mnoho dal코칤ch.

* **Efektivn칤 manipulace s 캜asem**: Pandas poskytuje n치stroje pro efektivn칤 pr치ci s 캜asov칳mi 콏adami, co zjednodu코uje 칰koly, jako je agregace, interpolace nebo 캜asov칠 posuny. D칤ky integrovan칳m funkc칤m m콢쬰te snadno pracovat s daty r콢zn칳ch 캜asov칳ch frekvenc칤 a konvertovat mezi nimi.

* **캛asov캩 z치visl칠 anal칳zy**: 캛asov칠 콏ady umo쮄갓j칤 prov치d캩t 캜asov캩 z치visl칠 anal칳zy, jako je detekce zm캩n v trendech, identifikace sez칩nn칤ch vliv콢 nebo identifikace 캜asov칳ch z치vislost칤 mezi prom캩nn칳mi.

* **Flexibiln칤 indexace**: Pandas podporuje flexibiln칤 indexaci 캜asov칳ch 콏ad, co usnad켿uje filtrov치n칤, 콏azen칤 a v칳b캩r dat na z치klad캩 캜asov칳ch zna캜ek nebo rozsah콢.

* **Kompatibilita s dal코칤mi knihovnami**: Pandas je kompatibiln칤 s mnoha dal코칤mi knihovnami pro anal칳zu 캜asov칳ch 콏ad, jako je statsmodels nebo scikit-learn. To usnad켿uje integraci a roz코칤콏en칤 va코ich anal칳z s pokro캜ilej코칤mi metodami a algoritmy.
    
<br>

Jde nap콏칤klad o 칰daje typu:
* *timestampy*, 칰daj odkazuj칤c칤 na konkr칠tn칤 캜asov칳 okam쬴k (nap콏. `4. 캜ervence 2015 v 7:00 hod.`),
* *캜asov칠 intervaly*, tedy obdob칤 odkazuj칤 na d칠lku 캜asu mezi konkr칠tn칤m za캜치tkem a koncem (nap콏. intervaly ze dne na den),
* *time delta* objekty, tedy p콏esn칠 d칠lky 캜asu (nap콏. 22,22 sekundy).

#### Data a 캜as v Pythonu

---

Standardn칤 v칳bavou Pythonu jsou knihovny `datetime`:

In [ ]:
from datetime import datetime

In [ ]:
datetime(year=2023, month=4, day=5)

<br>

Nebo knihovna `dateutil` pro parsov치n칤 datov칳ch typ콢 z r콢zn칳ch stringov칳ch zad치n칤:

In [ ]:
from dateutil import parser

In [ ]:
date = parser.parse("5th of april, 2023")

In [ ]:
date

Kde pomoc칤 metody `strftime` m콢쬰코 vypsat den:

In [ ]:
date.strftime("%A")

#### Data a 캜as v numpy

---

N캩kter칠 nedostatky uvnit콏 knihoven `datetime` a `dateutil` vedli ke vzniku sady n치stroj콢.

Tyto dopl켿ky vznikly pod hlavi캜kou knihovny `numpy`.

In [ ]:
from numpy import array, arange

In [ ]:
date = array('2023-04-05', dtype=np.datetime64)

In [ ]:
date

<br>

Pokud pot콏ebuje코 pole n치sleduj칤c칤ch 7 dn칤:

In [ ]:
date + arange(7)

<br>

Vzhledem k jednotn칠mu datovu typu v poli pro **numpy** `datetime64` m콢쬰 tento typ operace
prov치d캩t mnohem rychleji, ne p콏칤mo v Pythonu `datetime` objekty, zejm칠na kdy objekty nab칳vaj칤 na velikosti.

#### Data a 캜as v pand치ch

---

Jde o kombinace objekt콢 z obou p콏edchoz칤ch podkapitol.

Ty d치vaj칤 dohromady to nejlep코칤 prost콏edky pro zach치zen칤 s 캜asem.

In [ ]:
from pandas import to_datetime

In [ ]:
date = to_datetime("5th of April, 2023")

In [ ]:
date

In [ ]:
date.strftime("%A")

<br>

### 캛asov칠 콏ady

---

V podstat캩 jde o hlavn칤 n치stroj, kter칳 tato knihovna dovede nab칤dnout.

#### Indexovn칤 캜asem
`DatetimeIndex` obsahuje 캜asov칠 zna캜ky (*timestamp*), kter칠 jsou ulo쬰ny ve form치tu `datetime64` s nanosekundovou p콏esnost칤.

Tento objekt umo쮄갓je efektivn칤 pr치ci s 캜asov칳mi 콏adami a poskytuje mnoho funkc칤 pro manipulaci s daty a 캜asy.

V칳hody pr치ce s `DatetimeIndex` objektem:
* 캛asov칠 z칩ny,
* frekvence,
* 캜asov캩 z치visl칠 selekce,
* atributy 캜asov칳ch zna캜ek,
* operace s 캜asem.

In [ ]:
from pandas import DatetimeIndex, Series

In [ ]:
datumy = ["2023-04-05", "2022-04-05", "2021-04-05", "2020-04-05"]

In [ ]:
indexy = DatetimeIndex(datumy)

In [ ]:
hodnoty = [to_datetime(den).strftime("%A") for den in datumy]

In [ ]:
df_hodnoty = Series(hodnoty, index=indexy)

In [ ]:
df_hodnoty

In [ ]:
type(indexy)

In [ ]:
df_hodnoty["2020": "2022"]

<br>

### Z치kladn칤 objekty

---

Mezi z치kladn칤 objekty pro pr치ci s 캜asem pat콏칤:
* `Timestamp` typ (souvisej칤c칤 struktura Indexu `DatetimeIndex`,
* `Period` typ (.. `PeriodIndex`),
* `Timedelta` typ (.. `TimedeltaIndex`).

#### Timestamp & DatetimeIndex

Nej캜ast캩j코칤 datov칠 typy, kter칠 lze vyvolat p콏칤mo, ov코em b캩쬹캩j코칤 je pracovat s funkc칤 `to_datetime`.

Funkce `to_datetime` um칤 parsovat r콢zn칠 stringov칠 form치ty.

In [ ]:
from pandas import to_datetime

#### Pr치ce s jedn칤m datumem

In [ ]:
datum = to_datetime("05/04/2023")

In [ ]:
datum

In [ ]:
type(datum)

Pokud do funkce `to_datetime` vlo쮂솬 jedinou hodnotu, vrac칤 objekty typu `Timestamp`.

<br>

#### Specifick칳 form치t

Pokud se parser ztrat칤 nebo tvoje zad치n칤 neodpov칤d치 jeho vyhotoven칤:

In [ ]:
pd.to_datetime("12-11-2010 00:00", format="%d-%m-%Y %H:%M")

<br>

#### Pr치ce s n캩kolika datumy

In [ ]:
datumy = to_datetime([
    datetime(2023, 4, 5), "5th of April 2023", "2023-Apr-5", "05-04-2023", "20230405"]
)

In [ ]:
datumy

In [ ]:
type(datumy)

Zat칤mco pole hodnot s datumy, kter칠 funkce `to_datetime` zpracuje vrac칤 objekt typu `DatetimeIndex`.

<br>

Objekt `DatetimeIndex` potom m콢쬰코 konvertovat na `PeriodIndex` pomoc칤 *metody* `to_period`:

In [ ]:
datumy.to_period?

<br>

Tato metoda je u쬴te캜n치, pokud chcete p콏ev칠st 캜asov칠 콏ady **na ur캜it칠 캜asov칠 obdob칤**.

Kdy bude코 t콏eba pot콏ebovat p콏ev칠st hodnoty **z denn칤ch dat na m캩s칤캜n칤 data**.

#### Denn칤 data

In [ ]:
datumy.to_period("D")

#### M캩s칤캜n칤 data

In [ ]:
datumy.to_period("M")

In [ ]:
data = {
    'date': pd.date_range(start='2022-01-01', periods=10, freq='D'),
    'sales': [100, 102, 105, 107, 110, 112, 115, 117, 120, 122]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
df_period = df.to_period(freq='Y')

<br>

### TimedeltaIndex

---

Jde o rozd칤l v jednotk치ch 캜asu.

Nej캜ast캩ji se s t칤mto objektem setk치코, pokud pot콏ebuje코 z칤skat **rozd칤l mezi dv캩ma datumy**.

In [ ]:
specialni_datumy = to_datetime([
    datetime(2022, 4, 5), "5th of April 2021", "2020-Apr-5", "05-04-2019", "20180405"]
)

In [ ]:
datumy - specialni_datumy

<br>

### Funkce `date_range`

---

Aby bylo zad치n칤 콏ady (sekvence) dat pohodln캩j코칤, vyzkou코ej funkci `date_range`.

Obdobn캩 potom pracuj칤 souvisej칤c칤 funkce:
* `date_range`, timestampy,
* `period_range`, periody,
* `timedelta_range`, pro delty.

In [ ]:
from pandas import date_range

<br>

#### Po캜et period

In [ ]:
datumy_ind = date_range("01-01-1992", periods=8)

In [ ]:
datumy_ind

<br>

#### Frekvence

In [ ]:
datumy_mesicne_ind = date_range("01-01-1992", periods=8, freq="M")

In [ ]:
datumy_mesicne_ind

<br>

#### Hodinov칠 periody

In [ ]:
from pandas import timedelta_range

In [ ]:
hodinove_ind = timedelta_range(0, periods=12, freq="H")

In [ ]:
hodinove_ind

<br>

### Frekvence

캛asovou paletou frekvenc칤, kterou framework `pandas` nab칤z칤 je tato tabulka:

| String | Popisek |
| :-: | :- |
| `D` | kalend치콏n칤 den |
| `W` | t칳den |
| `M` | konec m캩s칤ce |
| `Q` | konec 캜tvrtlet칤 |
| `A` | konec roku |
| `H` | hodiny |
| `T` | minuty |
| `S` | vte콏iny |
| `B` | pracovn칤 den |
| `BM` | konec pracovn칤拷븚 m캩s칤ce |
| `BQ` | konec pracovn칤ho 캜tvrtlet칤 |

#### Netradi캜n칤 frekvence

In [ ]:
timedelta_range(0, periods=5, freq="1H15T")

### Resampling

---

*Resampling* nebo tak칠 *p콏evzorkov치n칤* je proces, kter칳 upravuje frekvenci 캜asov칠 콏ady.

*Resampling* se obvykle pou쮂셨치 **pro sn칤쬰n칤 frekvence** (z hodinov칳ch dat na denn칤 data).

*Resampling* zahrnuje *agregaci* dat.

V `pandas` se k tomu pou쮂셨치 metoda `resample`, kter치 m치 jako parametr novou frekvenci, na kterou chcete data p콏ev칠st:

In [ ]:
import pandas as pd

In [ ]:
data = {
    'date': pd.date_range(start='2022-01-01', periods=60, freq='D'),
    'sales': range(60)
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
monthly_data = df.resample('M').sum()

In [ ]:
print(monthly_data)

<br>

### Zp콏es켿ov치n칤

---

Zahrnuje **zv칳코en칤 frekvence 캜asov칳ch 콏ad**.

P콏i캜em se nov캩 vytvo콏en칠 hodnoty obvykle interpoluj칤 nebo dopl켿uj칤 n캩jakou konstantou.

V pandas se k zp콏es켿ov치n칤 pou쮂셨치 metoda `asfreq`, kter치 m치 jako parametr novou frekvenci, na kterou chcete data p콏ev칠st.

In [ ]:
data = {
    'date': pd.date_range(start='2022-01-01', end='2022-03-01', freq='MS'),
    'sales': [100, 120, 150]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
daily_data = df.asfreq('D', method='ffill')

In [ ]:
daily_data.head(20)

Metoda `asfreq` bere jako parametr novou frekvenci, na kterou chceme data p콏ev칠st.

V p콏칤pad캩 v칳코e jde o frekvenci `D`, co znamen치 **denn칤 data**.

Proto쬰 p콏i zp콏es켿ov치n칤 se **vytvo콏칤 chyb캩j칤c칤 hodnoty** (v d콢sledku zv칳코en칤 frekvence), je pot콏eba zvolit metodu pro jejich dopln캩n칤.

V칳코 jde o metodu `forward fill` (parametr `method='ffill'`), kter치 kop칤ruje p콏edchoz칤 hodnotu pro v칳pl켿 chyb캩j칤c칤ch hodnot.

Dal코칤 mo쬹ost칤 je pou쮂셦 metodu `'back fill'` (parametr `method='bfill'`), kter치 kop칤ruje n치sleduj칤c칤 hodnotu pro v칳pl켿 chyb캩j칤c칤ch hodnot.

<br>

**游 CVI캛EN칈 游, procvi캜 si 캜asov칠 콏ady**

Analyzuj prodeje produktu ve fiktivn칤 spole캜nosti b캩hem jednoho roku a zjisti n치sleduj칤c칤:
1. Celkov칳 prodej za ka쬯칳 m캩s칤c.
2. Pr콢m캩rn칳 prodej za ka쬯칳 den v t칳dnu.
3. Denn칤 prodej za posledn칤 t칳den.

In [ ]:
import pandas as pd
import numpy as np

denni_datumy = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
prodeje = np.random.randint(10, 100, size=(len(date_rng),))

data = {
    'datumy': denni_datumy,
    'prodeje': prodeje
}

df_prodeje = pd.DataFrame(data)
df_prodeje.set_index('datumy', inplace=True)

In [ ]:
df_prodeje

<details>
    <summary>郊윒잺 콎e코en칤</summary>
    
    ```python
    monthly_sales = df.resample('M').sum()
    print("Celkov칳 prodej za ka쬯칳 m캩s칤c:")
    print(monthly_sales)

    df_prodeje['weekday'] = df_prodeje.index.weekday
    average_weekday_sales = df_prodeje.groupby('weekday')['prodeje'].mean()
    print("\nPr콢m캩rn칳 prodej za ka쬯칳 den v t칳dnu:")
    print(average_weekday_sales)

    last_week_sales = df.loc['2022-12-25':, 'sales']
    print("\nDenn칤 prodej za posledn칤 t칳den:")
    print(last_week_sales)
    ```
</details>

---