# Python, Data, 2025

---

* [√övod k pand√°m](#√övod-k-pand√°m),
* [z√°kladn√≠ objekty](#Z√°kladn√≠-datov√©-typy-frameworku),
    - [series](#Series),
    - [dataframe](#DataFrame),
    - [index](#Index).
* [naƒç√≠t√°n√≠ objekt≈Ø](#Naƒç√≠t√°n√≠-objekt≈Ø),
    - [naƒçti csv](#Naƒçti-soubor-csv),
    - [naƒçti html](#Naƒçti-tabulku-html),
* [prohl√≠≈æen√≠ dat](#Prozkoum√°v√°n√≠-dat),
    - [selekce u sloupeƒçk≈Ø](#Selekce-u-sloupeƒçk≈Ø),
    - [selekce u tabulek](#Selekce-u-tabul√°rn√≠ch-hodnot),
    - [dal≈°√≠ metody prohl√≠≈æen√≠](#Metody-pro-nahl√≠≈æen√≠).

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.BaZU6gIdwRYQHu4rBBoO-gHaIX%26pid%3DApi&f=1&ipt=1013c975daabd695fcd4ebfc2c0e0b8ba4f10c37780419d8ff56538ec7a7f9ea&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

## √övod k pand√°m

---

Jde o knihovnu, kter√° stav√≠ na jednoduch√Ωch, p≈ôesto v√Ωkonn√Ωch a intuitivn√≠ch n√°stroj√≠ch.

Tyto prost≈ôedky umo≈æ≈àuj√≠ manipulaci, anal√Ωzu a vizualizaci strukturovan√Ωch dat s tabulkov√Ωmi a ƒçasov√Ωmi daty.

Vezme data z r≈Øzn√Ωch zdroj≈Ø, naƒçte je, zpracuje a zap√≠≈°e (pozn. **zdroj v C**).


<br>

In [ ]:
import pandas

### Kde pandy najdu a jak√© existuj√≠ zdroje?

---

- Odkaz na **ofici√°ln√≠ repozit√°≈ô** [t√©to knihovny](https://github.com/pandas-dev/pandas),
- pokud bude≈° pot≈ôebovat v√≠ce podrobnost√≠, mrkni na [ofici√°ln√≠ dokumentaci](https://pandas.pydata.org/pandas-docs/stable/index.html),
- pypi.org, instalace knihovny,
- obecnƒõ vyhled√°vat online,
- AI agent p≈ô√≠stup.

<br>

### Proƒç se ti bude hodit?

---

**Pandas** usnad≈àuje efektivn√≠ anal√Ωzu, √∫pravu a zpracov√°n√≠ dat.
To v≈°e d√≠ky intuitivn√≠mu rozhran√≠ a v√Ωkonn√Ωm n√°stroj≈Øm pro pr√°ci s tabulkov√Ωmi daty.

Data jsou nejƒçastƒõji v SQL datab√°zi, r≈Øzn√Ωch souborech, tabulkov√Ωch procesech atd.

*Pandas* si p≈ôedstav jako Excel, ale s v√≠ce funkcemi a hlavnƒõ mo≈ænost√≠ automatizovat procesy.

<br>

### Jak nainstalovat knihovnu?

---

Instalace **posledn√≠ dostupn√© verze**:
```bash
pip install pandas  # nebo jin√Ω package manager
```

<br>

Instalace **konkr√©tn√≠ vybran√© verze**:

```bash
pip install pandas==1.1.1
```

<br>

### Jak knihovnu spustit?

---

In [ ]:
import pandas

In [ ]:
pandas.__version__  # FutureWarning

<br>

Pou≈æit√≠ **aliasu**:

In [ ]:
import pandas

In [ ]:
import pandas as pd

In [ ]:
from pandas import DataFrame

<br>

### Souhrn kapitoly
---

- knihovna je tedy *≈°v√Ωcarsk√Ω no≈æ√≠k* pro pr√°ci **s tabel√°rn√≠mi daty** a **ƒçasov√Ωmi ≈ôadami**,
- jde o vƒõt≈°√≠ bal√≠ƒçek, t≈ôet√≠ch stran (pot≈ôeba st√°hnout & instalovat),
- existuj√≠ i dal≈°√≠ alternativy pro specifick√© pot≈ôeby *grizzly*, *pyspark*.

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.b2NCTuZRiG8yrmTCF7MogAHaHa%26pid%3DApi&f=1&ipt=f9e6a3811b3a707743134cfb19b2ee4f9c44584f5ea328582b227f14b94fcb1f&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

## Z√°kladn√≠ datov√© typy

---

Knihovna nab√≠z√≠ ≈ôadu u≈æiteƒçn√Ωch n√°stroj≈Ø.

Jde o *metody* a *funkce* nad r√°mec z√°kladn√≠ch (zabudovan√Ωch) **datov√Ωch struktur**.

Hlavn√≠ **t≈ôi struktury**, na kter√Ωch knihovna stoj√≠ jsou:
* `Index`
* `series`,
* `dataFrames`.

<img src="https://i.imgur.com/NNRgONl.png" width="1200" style="margin-left:auto; margin-right:auto"/>

- **Indexes**, je oznaƒçen√≠ (nebo **identifik√°tor**) jednotliv√Ωch ≈ô√°dk≈Ø, kter√© slou≈æ√≠ k jejich jednoznaƒçn√© identifikaci a usnad≈àuje p≈ô√≠stup k dat≈Øm,
- **series**, je *sloupec*, **pole** hodnot s Indexem, tedy sloupeƒçek tabulky nebo ƒç√≠slovan√Ω seznam,
- **dataframes**, jde v podstatƒõ o oznaƒçen√≠ cel√© tabulky.

### Sloupeƒçky ~ series

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Yp6ZBv9C33_pDfZkJcKbJQHaHa%26pid%3DApi&f=1&ipt=546833b7ce370c5a62bea21079371efd1fa9547765d4eae8e6c9e41f6b25a3af&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

Jde **o jednodimenzion√°ln√≠ pole** (pop≈ô. sloupeƒçek, ≈ôada).

Tento objekt m√° **indexovan√© data** (jsi schopen data vybrat, uchopit).

Opƒõt si jej m≈Ø≈æe≈° p≈ôedstavit jako sloupeƒçek v obyƒçejn√Ωch *Excelovsk√Ωch* tabulk√°ch.

<br>

Na uk√°zku m≈Ø≈æe≈° tyto sloupeƒçky vytvo≈ôit t≈ôeba ze sekvenc√≠:

In [ ]:
from pandas import Series

<br>

Opatrnƒõ na velikosti p√≠smen pro jednotliv√© objekty:

In [ ]:
# from pandas import series

In [ ]:
mesta = ("Praha", "Brno", "Ostrava", "Hradek Kr√°lov√©")

In [ ]:
mesta_sloupecek = Series(mesta)

In [ ]:
type(mesta_sloupecek)

In [ ]:
mesta           # tuple

In [ ]:
mesta_sloupecek # Series

<br>

Jak m≈Ø≈æe≈° vidƒõt v uk√°zce v√Ω≈°e, *sloupec* `Series` obsahuje **jak po≈ôad√≠, tak hodnoty**.

In [ ]:
mesta_sloupecek.index

In [ ]:
mesta_sloupecek.values

<br>

Obecnƒõ vypad√° jako nƒõjak√© pole, kter√Ω m√° sv≈Øj nativn√≠ datov√Ω typ `object`.  Obvykle se oznaƒçuj√≠ texty nebo sm√≠≈°en√© datov√© typy.

<br>

Aƒçkoliv je `pandas` knihovna Pythonu, datov√© typy nemus√≠ v≈ædy odpov√≠dat z√°kladn√≠m **datov√Ωm typ≈Øm Pythonu**:

| Typy `pandas`| typy `Python`| Pou≈æit√≠ |
| :-: | :-: | :- |
| `object` | `str` nebo smƒõska| text nebo nam√≠chan√© ƒç√≠seln√© a neƒç√≠seln√© hodnoty |
| `int64` | `int`| cel√° ƒç√≠sla |
| `float64` | `float` | desetinn√° ƒç√≠sla |
| `bool` | `bool` | True a False |
| `datetime64` | `-`| Hodnota data a ƒçasu |
| `timedelta` | `-` | ƒåasov√© rozd√≠ly |

<br>

Stejnƒõ jako pole nebo sekvence m≈Ø≈æe≈° *indexovat* a *slicovat* hodnoty typu `Series`.

In [ ]:
mesta_sloupecek

<br>

#### Indexov√°n√≠ sloupeƒçku

---

In [ ]:
mesta_sloupecek[1]    # s Indexem sloupeƒçku

<br>

#### Slicing sloupeƒçku

---

In [ ]:
mesta_sloupecek[0:3]  # 0, 1, 2.

Na prvn√≠ pohled nen√≠ tolik odli≈°n√Ω od datov√©ho typu `list` nebo `tuple` (p≈ô√≠padnƒõ pole v `numpy`).

Nejvƒõt≈°√≠ rozd√≠l spoƒç√≠t√° pr√°vƒõ v **indexu/Indexu**.

A≈• `list`, `tuple` nebo `numpy.array` implicitnƒõ pracuj√≠ **s celoƒç√≠seln√Ωm indexem**.

<br>

Objekt `Series` na druhou stranu nab√≠z√≠ mo≈ænost, zad√°vat vlastn√≠ indexov√© hodnoty:

In [ ]:
mesta_sloupecek = Series(["Praha", "Brno", "Ostrava", "Hradek Kr√°lov√©"],
                         index=["1_mesto", "2_mesto", "3_mesto", "4_mesto"])
                         # Tvoje specifick√© indexy

In [ ]:
mesta_sloupecek.index

In [ ]:
mesta_sloupecek

In [ ]:
mesta_sloupecek["2_mesto"]

T√≠mto zp≈Øsobem si m≈Ø≈æe≈° p≈ôedstavit ≈ôadu, sloupec (`Series`) jako variantu datov√©ho typu `dict`, v Pythonu.

V√≠≈°, ≈æe ve slovn√≠ku Pythonu jsou hodnoty *mapovan√©* na jednotliv√© kl√≠ƒçe.

<br>

#### Pokroƒçil√©, type-specific
---
V p≈ô√≠padƒõ `Series` jde o mapov√°n√≠ **typovan√Ωch hodnot** na **typovan√© kl√≠ƒçe**. Pr√°vƒõ pojem **typovan√Ω** (~*type-specific*) je z√°sadn√≠.

Pr√°vƒõ *typovan√Ω* zkompilovan√Ω k√≥d od `Series` nab√≠z√≠ nƒõkter√© efektivnƒõj≈°√≠ metody a funkce, kter√© obyƒç. `dict` v Pythonu ne.

In [ ]:
populace_evropa = {'Dansko': 5_655_750,
                   'Ceska_republika': 10_513_209,
                   'Nemecko': 80_716_000,
                   'Polsko': 38_483_957,
                   'Slovensko': 5_415_949,
                   'Rakousko': 8_932_664}

In [ ]:
populace_evropa_sl = Series(populace_evropa)

In [ ]:
populace_evropa_sl

<br>

Defaultnƒõ ti objekt `Series` nachyst√° index ze se≈ôazen√Ωch kl√≠ƒç≈Ø p≈Øvodn√≠ho datov√©ho typu `dict`.

M≈Ø≈æe≈° prov√©st klasick√© mapov√°n√≠ hodnoty na jm√©no kl√≠ƒçe:

In [ ]:
populace_evropa_sl["Ceska_republika"]

K tomu, ale `Series` nab√≠z√≠ operace jako nap≈ô. *slicing* pro pole:

In [ ]:
mesta  # zad√°v√°n√≠ omezen√© na indexy cel√Ωmi ƒç√≠sly

In [ ]:
populace_evropa_sl["Ceska_republika": "Polsko"]

<br>

#### üß† CVIƒåEN√ç üß†, p≈ôepoƒç√≠tej hodnoty ve sloupeƒçku

In [ ]:
from pandas import Series

# Data v milionech, p≈ôeveƒè na jednotky
# 8_400_000.0, .., ponechej desetinn√° ƒç√≠sla
# .. pro pokroƒçil√© p≈ôeveƒè na cel√° ƒç√≠sla
data = {"New York": 8.4,        
        "London": 9.0,
        "Tokyo": 13.9,
        "Sydney": 5.3}

In [ ]:
# Zapi≈° ≈ôe≈°en√≠
data_sloupecek = Series(data)

In [ ]:
data_sloupecek

In [ ]:
def preved_na_jednotky(cely_sloupec):
    prepocitany_sl = cely_sloupec * 1_000_000
    return prepocitany_sl.astype('int64')  # Pro pokroƒçil√©

<br>

Form√°tov√°n√≠ cel√©ho ƒç√≠sla pomoc√≠ ≈ô√°dov√©ho oddƒõlovaƒçe:

In [ ]:
print(f"{1000000:,}".replace(',', ' '))   # TODO: Doplnit oddƒõlovaƒç

In [ ]:
preved_na_jednotky(data_sloupecek)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "New York": 8.4,
    "London": 9.0,
    "Tokyo": 13.9,
    "Sydney": 5.3,
}


mesta_sl = pd.Series(data)


def preved_na_jednotky(series):
    return series * 1_000_000  # astype(int) -> cel√© ƒç√≠slo


prevedene = preved_na_jednotky(mesta_sl)
```
</details>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP._inpASbq98lGCmZFxPEq7wHaHa%26pid%3DApi&f=1&ipt=ecf1243da46e7ae6341330ae58bda2a6456c95f63a0cd79eda7d561cf3334a57&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

### DataFrame

---


Dal≈°√≠m element√°rn√≠m datov√Ωm typem t√©to knihovny je `DataFrame`.

Analogicky si jej m≈Ø≈æe≈° p≈ôedstavit **jako tabulku** v Excelu.

Tedy objekt slo≈æen√Ω **z ≈ô√°dk≈Ø** (Index≈Ø) a **sloupc≈Ø** (`Series`).

In [ ]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [ ]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

<br>

Nezapome≈à nahr√°t pot≈ôebn√Ω objekt:

In [ ]:
from pandas import DataFrame

In [ ]:
zeme_evropa_df = DataFrame({"Populace": populace_evropa,
                            "Rozloha": rozloha_evropa})

In [ ]:
print(zeme_evropa_df)

In [ ]:
zeme_evropa_df

In [ ]:
type(zeme_evropa_df)

<br>

Stejnƒõ jako u `Series` m√° i `DataFrame` svoje *indexy*:

In [ ]:
zeme_evropa_df.index

<br>

Nav√≠c m≈Ø≈æe≈° pracovat s atributem `columns`, kter√Ω dr≈æ√≠ jm√©na **jednotliv√Ωch sloupeƒçk≈Ø**:

In [ ]:
zeme_evropa_df.columns

In [ ]:
zeme_evropa_df.values

Proto si m≈Ø≈æe≈° objekt `DataFrame` p≈ôedstavit tak√© jako Pythonovsk√Ω `dict`.

<br>

Ov≈°em s t√≠m rozd√≠lem, ≈æe tentokr√°t mapuje≈° jm√©no sloupeƒçku na `Series`:

In [ ]:
zeme_evropa_df["Populace"]

In [ ]:
populace_sl = zeme_evropa_df["Populace"]

In [ ]:
type(populace_sl)

Opatrnƒõ p≈ôi vytv√°≈ôen√≠ nov√©ho `DataFrame`, u chybƒõj√≠c√≠ch kl√≠ƒç≈Ø implictinƒõ zapisuje `Nan` hodnotu (~*not a number*):

In [ ]:
import numpy
from pandas import DataFrame

In [ ]:
chybejici_hodnoty_df = DataFrame([{"A": 1, "B": 4},
                                  {"C": 6, "B": 7}])  # dtype

In [ ]:
print(None)

Nav√≠c si m≈Ø≈æe≈° v≈°imnout rozd√≠ln√© definice **datov√©ho typu**:

In [ ]:
chybejici_hodnoty_df.dtypes

In [ ]:
chybejici_hodnoty_df["A"]

In [ ]:
konvertovany_sl_a = chybejici_hodnoty_df["A"].convert_dtypes()

In [ ]:
konvertovany_sl_a

V√≠ce si o p≈ôetypov√°n√≠ obecnƒõ a dozv√≠≈° pozdƒõji.

#### üß† CVIƒåEN√ç üß†, p≈ôidej nov√Ω sloupeƒçek

In [ ]:
from pandas import DataFrame

# P≈ôidej do tabulky nov√Ω sloupec "Hustota zalidnƒõn√≠"
data = {
    "Mƒõsto": ["New York", "London", "Tokyo", "Sydney"],
    "Populace (v mio)": [8.4, 9.0, 13.9, 5.3],
    "Plocha (km¬≤)": [783, 1572, 2194, 1687]
}

In [ ]:
data_df = DataFrame(data, index=data['Mƒõsto'])

In [ ]:
data_df

In [ ]:
data_df['Populace (v mio)']

In [ ]:
data_df['Nov√Ω sloupec'] = 'abc'  # odr√°≈æ√≠ z√°pis hodnot a kl√≠ƒç≈Ø do dict

In [ ]:
data_df

In [ ]:
def vypocitej_hustotu_osidleni(tabulka):  # DataFrame
    df["Hustota zalidnƒõn√≠ (na km¬≤)"] = (df["Populace (v mio)"] * 1_000_000 / df["Plocha (km¬≤)"]).round().astype(int)
    return df

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "Mƒõsto": ["New York", "London", "Tokyo", "Sydney"],
    "Populace (v mio)": [8.4, 9.0, 13.9, 5.3],
    "Plocha (km¬≤)": [783, 1572, 2194, 1687],
}

mesta_df = pd.DataFrame(data)

def vypocitej_hustotu_zalidneni(df):
    """
    P≈ôidejte nov√Ω sloupec 'Hustota zalidnƒõn√≠' (poƒçet obyvatel na km¬≤).
    """
    df["Hustota zalidnƒõn√≠ (na km¬≤)"] = (df["Populace (v mio)"] * 1_000_000 / df["Plocha (km¬≤)"]).round().astype(int)
    return df

df = vypocitej_hustotu_zalidneni(mesta_df)
print(df)
```
</details>

<img src="https://imgs.search.brave.com/EQep67dP5UaJDlqkF2HvOQTESVA_LQSZx_SR7FE6JYM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9kMW5o/aW8wb3g3cGdiLmNs/b3VkZnJvbnQubmV0/L19pbWcvb19jb2xs/ZWN0aW9uX3BuZy9n/cmVlbl9kYXJrX2dy/ZXkvNTEyeDUxMi9w/bGFpbi90YWJsZV9z/ZWxlY3Rpb25fcm93/LnBuZw" width="200" style="margin-left:auto; margin-right:auto"/>

### Index

---

Posledn√≠m ze z√°kladn√≠ch objekt≈Ø frameworku `pandas` je tedy **Index** (velk√© "i").

Jak `Series`, tak `DataFrame` v sobƒõ *Index* obsahuj√≠.

Pro jednoduchost, si jej m≈Ø≈æe≈° p≈ôedstavit jako oznaƒçen√≠ jednotliv√Ωch ≈ô√°dk≈Ø v tabulce.

In [ ]:
from pandas import Index

In [ ]:
indexy = Index([2, 3, 4, 5])

In [ ]:
indexy

In [ ]:
type(indexy)

In [ ]:
nove_indexy = Index(('radek_1', 'radek_2', 'radek_3'))

In [ ]:
type(nove_indexy)

<br>

#### indexov√°n√≠ Index≈Ø

---

In [ ]:
indexy

In [ ]:
indexy[2]

<br>

#### Slicov√°n√≠ index≈Ø

---

In [ ]:
indexy[:3]

<br>

#### Nezmƒõniteln√Ω objekt

---

In [ ]:
indexy[2]

In [ ]:
# indexy[2] = 3  # --> TypeError

Tato nezmƒõnitelnost slou≈æ√≠ k vƒõt≈°√≠ bezpeƒçnosti, proto≈æe jednotliv√© indexy, m≈Ø≈æe sd√≠let v√≠ce `DataFrame`.

<br>

#### Index jako se≈ôazen√Ω set

---

In [ ]:
indexy_a = Index([1, 2, 3, 4])
indexy_b = Index([3, 4, 5, 6])

In [ ]:
indexy_a.intersection(indexy_b)

In [ ]:
indexy_a.union(indexy_b)

<br>

### Souhrn k z√°kladn√≠m typ≈Øm

---

- **sloupeƒçky**, jako pole, jednorozmƒõrn√©, mo≈ænost selekce index≈Ø i hodnot a jejich rozsah≈Ø,
- **indexy**, jako pole, nezmƒõniteln√©, mo≈ænost selekce jednoho ≈ô√°dk≈Ø i rozsahu ≈ô√°dk≈Ø,
- **tabulka**, v√≠cerozmƒõrn√© pole, v√Ωbƒõr podle sloupc≈Ø.


<img src="https://imgs.search.brave.com/CoDVQW6cpYcV0qJtUejA7WQat4mLN2AOxuK2hXwgGAo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4w/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvcm91bmQtdWkt/aWNvbnMvNTEyL2Fk/ZF9ibHVlLnBuZw" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

## Naƒç√≠t√°n√≠ objekt≈Ø

---

Vytvo≈ôit nov√Ω `DataFrame` je z√°le≈æitost nƒõkolika m√°lo argument≈Ø.

Nen√≠ ov≈°em velmi ƒçast√©, chystat data *z niƒçeho*.

Vƒõt≈°inou pot≈ôebuje≈° pr√°vƒõ nahr√°t r≈Øzn√© **existuj√≠c√≠ extern√≠ soubory**, do `DataFrame` objekt≈Ø.

* `read_csv`,
* `read_excel`,
* `read_json`,
* `read_html`,
* `read_sql`,
* `read_parquet`,
* `read_sas`.

###  Naƒçti soubor `csv`

---

Knihovna nab√≠z√≠ p≈ô√≠mo specializovanou funkci `read_csv`.

Ta dovede naƒç√≠st obsah souboru do nov√©ho `DataFrame`.

Pro prvn√≠ pou≈æit√≠, p≈ô√≠padnƒõ pozdƒõj≈°√≠ roz≈°√≠≈ôen√≠ je vhodn√©, prozkoumat dokumentaci:

In [ ]:
from pandas import read_csv

<br>

Naƒçte≈° jm√©no souboru se specifickou p≈ô√≠ponou `csv`:

In [ ]:
# zamestnanci_df = read_csv('../onsite/inp.csv')  # FileNotFoundError

<br>

Je mo≈æn√© pou≈æ√≠t jak absolutn√≠ tak relativn√≠ cestu k souboru:

In [ ]:
zamestnanci_df = read_csv('/home/matous/projects/python-data-2024/shared/onsite/customers_inp.csv')

<br>

Prozkoumej samotn√Ω soubor:

In [ ]:
# !cat ../onsite/customers_inp.csv

<br>

Nyn√≠ se pod√≠vej jak vypad√° novƒõ vytvo≈ôen√Ω `DataFrame`:

In [ ]:
type(zamestnanci_df)

In [ ]:
zamestnanci_df

Je pot≈ôeba pohl√≠dat si (nen√≠ ≈ôazen√© podle priorit):
* indexy,
* z√°hlav√≠,
* strukturu jednotliv√Ωch `Series`,
* datov√© typy.

<br>

Pokud nesed√≠ **defaultn√≠ oddƒõlovaƒç** (*sep* nebo *delimiter*):

In [ ]:
# !sed -i s"/,/;/g" ../onsite/customers_inp.csv

In [ ]:
# !cat ../onsite/customers_inp.csv

In [ ]:
zamestnanci_strednik_df = read_csv('../onsite/customers_inp.csv', sep=';')

In [ ]:
zamestnanci_strednik_df

<br>

M≈Ø≈æe≈° zadat jin√Ω ne≈æ *defaultn√≠* oddƒõlovaƒç:

In [ ]:
zamestnanci_strednik_df['phone']

**Nevhodn√© datov√© typy** je tak√© mo≈æn√© ≈ôe≈°it p≈ôi nov√© inicializaci `DataFrame`:

In [ ]:
zamestnanci_strednik_df.dtypes

Pokud pot≈ôebuje≈° *vynutit* konverzi datov√©ho typu:

In [ ]:
zamestnanci_bez_cisel_df = read_csv(
    '../onsite/customers_inp.csv',
    sep=";",
    dtype={"customer_id": str,
           "first_name": str,
           "last_name": str,  # int --> ValueError
           "phone": str,
           "email": str}
)

In [ ]:
zamestnanci_bez_cisel_df.dtypes

<br>

### Naƒçti tabulku `html`

---

Funkce `read_html` ƒçasto zast√°v√° nƒõkter√© kroky *web scrapov√°n√≠*.

P≈ôesto je jej√≠m uƒçelem "pouze" extrahov√°n√≠ dat v HTML `<table></table>` elementech.

Uk√°zka [zdroj](https://simple.wikipedia.org/wiki/List_of_U.S._states).

In [ ]:
# %run ../../shared/onsite/demo_read_html.py

<br>

**üß† CVIƒåEN√ç üß†, naƒçti vlastn√≠ CSV soubor**.

In [ ]:
# Z√°pis
cesta_k_souboru: str = '../onsite/games.csv'

In [ ]:
from pandas import read_csv

In [ ]:
from pathlib import Path

if not Path(cesta_k_souboru).exists():
    print('Chybi soubor pro zpracovani')

hry_df = read_csv(cesta_k_souboru)

In [ ]:
hry_df.head(2)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

muj_csv_soubor = 'toto/je/relativni/cesta.csv'

testovaci_data = pd.read_csv(muj_csv_soubor)
```
</details>

Konvence pro naƒç√≠t√°n√≠ dat `read_XYZ` (kde `XYZ` p≈ôedstavuje form√°t soubor≈Ø).

Pro ukl√°d√°n√≠ soubor≈Ø slou≈æ√≠ `to_XYZ`.

<br>

### Souhrn kapitoly

---

Typick√Ω postup, pro pr√°ci s pandami, je identifikovat a spr√°vnƒõ naƒç√≠st datov√Ω zdroj.


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.ACSOiM-U0Q1dA-4JLXwShAHaHx%26pid%3DApi&f=1&ipt=6d4afed7c3560452103fe53af2bd94638c28007aa3141700570a84c7fab7263a&ipo=images" width="200" style="margin-left:auto; margin-right:auto"/>

<br>

## Prozkoum√°v√°n√≠ dat

---

Jakmile m√°≈° data spr√°vnƒõ naƒçten√° a p≈ôetypovan√°, m≈Ø≈æe≈° s nimi zaƒç√≠t pracovat.

Ne≈æ se do toho vrhne≈°, nen√≠ ≈°patn√©, umƒõt je prohl√≠≈æet.

<br>

### Selekce u sloupeƒçk≈Ø

---

In [1]:
from pandas import Series

In [2]:
vek_sl = Series(
    [26, 36, 46, 56],
    index=['Petr', 'Pavel', 'Jiri', 'Tomas'] # ??? , 'Jarek', 'Tomas'; , 66, 76
)

<br>

Pro vytvo≈ôen√Ω sloupeƒçek:

In [ ]:
vek_sl

<br>

Pokud prov√°d√≠≈° *slicing* pomoc√≠ *index≈Ø*, implicitnƒõ **vynech√°≈° koneƒçn√Ω index**:

In [ ]:
vek_sl[0:3]

<br>

Pokud ov≈°em zad√°v√°≈° p≈ô√≠mo hodnotu *Indexu*, potom vyb√≠r√°≈° hodnoty **vƒçetnƒõ koneƒçn√©ho Indexu**:

In [ ]:
vek_sl["Petr": "Jiri"]

Tento jednoduch√Ω p≈ô√≠stup potom vede **k ƒçast√Ωm chyb√°m a nepochopen√≠m**.

### Atributy `loc`, `iloc`

---

Pr√°vƒõ proto≈æe je *indexov√°n√≠* a *slicing* v r√°mci `Series` matouc√≠, existuj√≠ pomocn√© atributy.

<br>

#### loc

---

Pr√°vƒõ tento atribut zaruƒç√≠, ≈æe bude≈° v≈ædy pracovat pomoc√≠ **explicitn√≠ho zad√°n√≠ hodnoty Index≈Ø**:

In [ ]:
vek_sl

In [ ]:
vek_sl.loc["Petr": "Jiri"]

<br>

Jde tedy o explicitn√≠ pr√°ci s Indexy knihovny `pandas`, ne indexy Pythonu:

In [ ]:
jmena_sl = Series(
    ["Matous", "Marek", "Lukas", "Jan"],
    index=[1, 2, 3, 4]
)

In [ ]:
jmena_sl

In [ ]:
jmena_sl.loc[1]

In [ ]:
jmena_sl.loc[:3]

V≈°imni si, jak *Index* o hodnotƒõ 3 je souƒç√°st√≠ v√Ωstupu (narozd√≠l od pythonovsk√©ho indexu 3).

<br>

#### iloc

---

Naopak atribut `iloc` je proces, kter√Ω funguje v√Ωluƒçnƒõ na **indexov√°n√≠ v r√°mci Pythonu** (po≈ôad√≠, zaƒç√≠n√° nulou):

In [ ]:
jmena_sl

In [ ]:
jmena_sl.iloc[1]   # Opatrnƒõ na v√Ωstup!!

In [ ]:
jmena_sl.index[1]  # indexov√°n√≠ Index≈Ø

In [ ]:
jmena_sl.loc[1]    # Opatrnƒõ na v√Ωstup!!

In [ ]:
jmena_sl.iloc[:2]

Kv≈Øli jasnosti a p≈ôehlednosti je obecnƒõ v√Ωhodnƒõj≈°√≠ a doporuƒçov√°n√©, pracovat s atributy `loc` a `iloc`.

In [ ]:
jmena_sl.loc[:2]

<br>

### Selekce u tabel√°rn√≠ch hodnot

---

Jeliko≈æ je `DataFrame` slo≈æen√Ω ze sloupeƒçk≈Ø, m≈Ø≈æe≈° aplikovat nƒõkter√© postupy z uplynul√© teorie.

* **slovn√≠kov√Ω kl√≠ƒç**,
* **atributov√Ω p≈ô√≠stup**,
* **slovn√≠kov√Ω n√°hled**,
* `loc`, `iloc`, `ix`, `T`.

In [3]:
from pandas import DataFrame

In [4]:
populace_evropa = {'Dansko': 5_655_750,
                   'Ceska_republika': 10_513_209,
                   'Nemecko': 80_716_000,
                   'Polsko': 38_483_957,
                   'Slovensko': 5_415_949,
                   'Rakousko': 8_932_664}

In [5]:
rozloha_evropa = {'Dansko': 42_916,
                  'Ceska_republika': 78_870,
                  'Nemecko': 357_168,
                  'Polsko': 312_679,
                  'Slovensko': 49_035,
                  'Rakousko': 83_878}

In [6]:
zeme_evropa_df = DataFrame({"populace": populace_evropa,
                            "rozloha": rozloha_evropa})

In [7]:
zeme_evropa_df

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

<br>

#### P≈ô√≠stup pomoc√≠ kl√≠ƒç≈Ø

---

In [8]:
zeme_evropa_df["populace"]

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: populace, dtype: int64

In [9]:
zeme_evropa_df["rozloha"]

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Polsko             312679
Slovensko           49035
Rakousko            83878
Name: rozloha, dtype: int64

<br>

Pomoc√≠ hranat√© z√°vorky z tabulky extrahuji **cel√Ω sloupeƒçek.**

In [11]:
zeme_evropa_df["rozloha"] >= 50_000

Dansko             False
Ceska_republika     True
Nemecko             True
Polsko              True
Slovensko          False
Rakousko            True
Name: rozloha, dtype: bool

<br>

Boolean dotazov√°n√≠ neupravuje p≈Øvodn√≠ hodnoty ve sloupeƒçku `rozloha`:

In [12]:
zeme_evropa_df["rozloha"]

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Polsko             312679
Slovensko           49035
Rakousko            83878
Name: rozloha, dtype: int64

In [13]:
zeme_evropa_df[zeme_evropa_df["rozloha"] >= 50_000]

                 populace  rozloha
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Rakousko          8932664    83878

In [14]:
zeme_evropa_df

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

<br>

#### P≈ô√≠stup pomoc√≠ atribut≈Ø

---

K jednotliv√Ωmi sloupeƒçk≈Øm p≈ôistupuji pomoc√≠ `.`:

In [ ]:
# bool(zeme_evropa_df["rozloha"] is zeme_evropa_df.rozloha)

In [15]:
zeme_evropa_df

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

In [16]:
zeme_evropa_df.populace

Dansko              5655750
Ceska_republika    10513209
Nemecko            80716000
Polsko             38483957
Slovensko           5415949
Rakousko            8932664
Name: populace, dtype: int64

In [17]:
zeme_evropa_df.rozloha

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Polsko             312679
Slovensko           49035
Rakousko            83878
Name: rozloha, dtype: int64

In [18]:
zeme_evropa_df.rozloha > 50_000

Dansko             False
Ceska_republika     True
Nemecko             True
Polsko              True
Slovensko          False
Rakousko            True
Name: rozloha, dtype: bool

In [ ]:
zeme_evropa_df[zeme_evropa_df.rozloha > 100_000]  # M√©nƒõ bezpeƒçn√Ω p≈ô√≠stup

In [ ]:
zeme_evropa_df[zeme_evropa_df["rozloha"] > 100_000]

Opatrnƒõ, atributov√Ω p≈ô√≠stup nelze aplikovat, pokud je jm√©no sloupeƒçku shodn√© s nƒõkter√Ωm **z rezerovan√Ωch v√Ωraz≈Ø**.

<br>

#### Slovn√≠kov√Ω n√°hled

---

In [19]:
zeme_evropa_df.index

Index(['Dansko', 'Ceska_republika', 'Nemecko', 'Polsko', 'Slovensko',
       'Rakousko'],
      dtype='object')

In [20]:
zeme_evropa_df.columns

Index(['populace', 'rozloha'], dtype='object')

In [21]:
zeme_evropa_df.values

array([[ 5655750,    42916],
       [10513209,    78870],
       [80716000,   357168],
       [38483957,   312679],
       [ 5415949,    49035],
       [ 8932664,    83878]])

<br>

#### loc

---

Stejn√° pravidla jako pro `Series`, nicm√©ne tentokr√°t m≈Ø≈æe≈° vyb√≠rat buƒè jednotliv√© Indexy, nebo pole Index≈Ø:

In [22]:
zeme_evropa_df

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168
Polsko           38483957   312679
Slovensko         5415949    49035
Rakousko          8932664    83878

In [23]:
zeme_evropa_df.loc["Nemecko"]

populace    80716000
rozloha       357168
Name: Nemecko, dtype: int64

In [24]:
zeme_evropa_df.iloc[2]

populace    80716000
rozloha       357168
Name: Nemecko, dtype: int64

In [25]:
zeme_evropa_df.loc[:"Nemecko"]

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168

<br>

D√°le m≈Ø≈æe≈° vyb√≠rat kombinaci Index≈Ø a sloupce nebo rozsah sloupc≈Ø:

In [26]:
zeme_evropa_df.loc["Nemecko", "populace"]

80716000

In [ ]:
zeme_evropa_df.loc[:"Nemecko", "populace"]

In [27]:
zeme_evropa_df.loc["Ceska_republika":"Nemecko", :"rozloha"]

                 populace  rozloha
Ceska_republika  10513209    78870
Nemecko          80716000   357168

<br>

#### iloc

---

In [ ]:
zeme_evropa_df.iloc[:3, 1]

In [28]:
zeme_evropa_df.iloc[2, 0]

80716000

In [32]:
zeme_evropa_df.iloc[:2, :2]

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870

<br>

#### Transformace

---

In [33]:
zeme_evropa_df.T

           Dansko  Ceska_republika   Nemecko    Polsko  Slovensko  Rakousko
populace  5655750         10513209  80716000  38483957    5415949   8932664
rozloha     42916            78870    357168    312679      49035     83878

#### ix

---

Jde o atribut-hybrid, kter√Ω kombinuje mixov√°n√≠ styl≈Ø z `loc` a `iloc`.

Tento *legacy atribut* se ji≈æ ofici√°lnƒõ nedoporuƒçuje.

In [ ]:
# zeme_evropa_df.ix[:"Nemecko", :2]  # iloc + loc --> dnes AttributeError

<img src="https://imgs.search.brave.com/lQb3xLIlg9zkzNeOExyC9yipGtQiF1BrVKrC4BwqbF8/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA1LzU0LzExLzY3/LzM2MF9GXzU1NDEx/Njc4Nl9DZGhSbWha/YWlaRjdvUVhVajYz/d2RTSzVjOGo5SXNL/bS5qcGc" width="250" style="margin-left:auto; margin-right:auto"/>

<br>

### Metody pro pr≈Øzkumu dat a nahl√≠≈æen√≠

---

N√°sleduj√≠c√≠ metody ti ulehƒç√≠ nahl√≠≈æen√≠ a prozkoum√°v√°n√≠ dat.

Jsou to metody:
* `info()`,
* `describe()`,
* `head()`,
* `tail()`,

In [34]:
from pandas import DataFrame

In [35]:
populace_evropa = {
    'Dansko': 5_655_750,
    'Ceska_republika': 10_513_209,
    'Nemecko': 80_716_000,
    'Polsko': 38_483_957,
    'Slovensko': 5_415_949,
    'Rakousko': 8_932_664
}

In [36]:
rozloha_evropa = {
    'Dansko': 42_916,
    'Ceska_republika': 78_870,
    'Nemecko': 357_168,
    'Polsko': 312_679,
    'Slovensko': 49_035,
    'Rakousko': 83_878
}

In [37]:
zeme_evropa_df = DataFrame({"populace": populace_evropa,
                            "rozloha": rozloha_evropa})

<br>

#### Metoda `info()`

---

Jde o obecnou informaci o DataFrame:

In [41]:
zeme_evropa_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Dansko to Rakousko
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   populace  6 non-null      int64
 1   rozloha   6 non-null      int64
dtypes: int64(2)
memory usage: 144.0+ bytes

Z v√Ωstupu potom p≈ôeƒçte≈°:
* poƒçet index≈Ø,
* poƒçet sloupc≈Ø,
* poƒçet nepr√°zdn√Ωch, nenulov√Ωch hodnot,
* datov√© typy pro sloupce.

<br>

#### Metoda `describe()`

---

Tato metoda ti nepod√°v√° z√°kladn√≠ informaci o DataFrame, ale sp√≠≈°e **pracuje s ƒç√≠seln√Ωmi sloupci**.


Poskytuje z√°kladn√≠ **statistick√© p≈ôehledy** jako:
* pr≈Ømƒõr,
* medi√°n,
* minim√°ln√≠ & maxim√°ln√≠ hodnota,
* rozptyl.

In [43]:
zeme_evropa_df.describe()

           populace        rozloha
count  6.000000e+00       6.000000
mean   2.495292e+07  154091.000000
std    3.003943e+07  141686.364654
min    5.415949e+06   42916.000000
25%    6.474978e+06   56493.750000
50%    9.722936e+06   81374.000000
75%    3.149127e+07  255478.750000
max    8.071600e+07  357168.000000

<br>

Metoda `describe` je pou≈æiteln√° jak v p≈ô√≠padƒõ sloupc≈Ø, tak tabulek.

In [42]:
zeme_evropa_df['populace'].describe()

count    6.000000e+00
mean     2.495292e+07
std      3.003943e+07
min      5.415949e+06
25%      6.474978e+06
50%      9.722936e+06
75%      3.149127e+07
max      8.071600e+07
Name: populace, dtype: float64

In [45]:
zeme_evropa_df.populace.describe()

count    6.000000e+00
mean     2.495292e+07
std      3.003943e+07
min      5.415949e+06
25%      6.474978e+06
50%      9.722936e+06
75%      3.149127e+07
max      8.071600e+07
Name: populace, dtype: float64

<br>

#### Metody `head()` a `tail()`

---

Obƒõ metody pracuj√≠ jako n√°hledov√© metody. K lep≈°√≠mu pohledu na konkr√©tn√≠ ≈ô√°dky.

1. `head`, prozkoum√° **prvn√≠ch pƒõt ≈ô√°dk≈Ø** (defaultnƒõ),
2. `tail`, prozkoum√° **posledn√≠ch pƒõt ≈ô√°dk≈Ø** (defaultnƒõ),

In [46]:
zeme_evropa_df.head(3)  # truncate,

                 populace  rozloha
Dansko            5655750    42916
Ceska_republika  10513209    78870
Nemecko          80716000   357168

In [47]:
zeme_evropa_df.tail(4)

           populace  rozloha
Nemecko    80716000   357168
Polsko     38483957   312679
Slovensko   5415949    49035
Rakousko    8932664    83878

In [49]:
zeme_evropa_df['rozloha']

Dansko              42916
Ceska_republika     78870
Nemecko            357168
Polsko             312679
Slovensko           49035
Rakousko            83878
Name: rozloha, dtype: int64

In [53]:
zeme_evropa_df.sort_values(by=['rozloha'], ascending=False)

                 populace  rozloha
Nemecko          80716000   357168
Polsko           38483957   312679
Rakousko          8932664    83878
Ceska_republika  10513209    78870
Slovensko         5415949    49035
Dansko            5655750    42916

<br>

**üß† CVIƒåEN√ç üß†, dikt√°t s pandama.**

**Nahraj zadan√Ω soubor do promƒõnn√© `hry_df`**

In [56]:
from pandas import read_csv, DataFrame

In [59]:
hry_df = read_csv('../onsite/games.csv')

In [62]:
# hry_df.info()

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
hry_df = read_csv("../onsite/lesson02/games.csv")
```
</details>

<br>

**Vytvo≈ô promƒõnnou `jen_souhrn`, kter√° obsahuje pouze sloupec `Summary`**

In [64]:
jen_souhrn = hry_df['Summary']

In [65]:
type(jen_souhrn)

pandas.core.series.Series

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    souhrn = hry_df.Summary
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvni_souhrn`, kter√° obsahuje pouze prvn√≠ ≈ô√°dek ze sloupce `Summary`**

In [70]:
prvni_souhrn = hry_df.loc[0, 'Summary']

In [71]:
prvni_souhrn

'Elden Ring is a fantasy, action and open world game with RPG elements such as stats, weapons and spells. Rise, Tarnished, and be guided by grace to brandish the power of the Elden Ring and become an Elden Lord in the Lands Between.'

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_radek = hry_df.Summary.iloc[0]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvni_radek_tab`, kter√° obsahuje cel√Ω prvn√≠ z√°znam z tabulky, z `hry_df`**

In [73]:
prvni_radek_tab = hry_df.iloc[0]

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_radek_tab = hry_df.iloc[0]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvnich_deset_souhrnu`, kam naƒçti prvn√≠ch deset ≈ô√°dk≈Ø z vybran√©ho sloupeƒçku `Summary`**

In [94]:
# hry_df.info()

In [93]:
prvnich_deset_souhrnu = hry_df.iloc[:10]['Summary']

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvni_souhrny = hry_df.Summary.iloc[:10]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `vzorek_indexu`, kam naƒçti z√°znamy z index≈Ø **2, 4, 5, 6, 7** a **9** z cel√© tabulky**

In [104]:
vzorek_indexu = hry_df.iloc[[2, 4, 5, 6, 7, 9]]

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    vzorek_indexu = hry_df.loc[[2, 4, 5, 6, 7, 9]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `hodnoceni`, naƒçti z√°znamy z index≈Ø **1, 5, 10, 100, 1000** z cel√© tabulky a vyber pouze sloupeƒçky `Title`, `Rating`, `Release Date`, `Number of Reviews`**

In [117]:
hodnoceni = hry_df.iloc[[1, 5, 10, 100, 1000]][['Title', 'Rating', 'Release Date', 'Number of Reviews']]

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    hodnoceni = hry_df.loc[[1, 5, 10, 100, 1000], ["Title", "Rating", "Release Date", "Number of Reviews"]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `prvnich_sto`, kter√° obsahuje pouze sloupeƒçky `Title`a `Rating`. D√°le pot≈ôebuje≈° ulo≈æit pouze **prvn√≠ch 100 index≈Ø****

In [124]:
prvnich_sto = hry_df.iloc[:100][['Title', 'Rating']]

In [131]:
# hry_df.loc[:99][['Title', 'Rating']]

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    prvnich_sto = hry_df.loc[:99, ["Title", "Rating"]]
    ```
</details>

<br>

**Vytvo≈ô promƒõnnou `vyber`, kter√° obsahuje dva sloupeƒçky `Title` a `Rating`, kde ve sloupeƒçku `rating` chce≈° z√≠skat pouze takov√© tituly, kter√© maj√≠ hodnocen√≠ vƒõt≈°√≠ nebo rovnou `4.6`**

In [142]:
vyber = hry_df[hry_df['Rating'] >= 4.6][['Title', 'Rating']]

                                           Title  Rating
28                  Disco Elysium: The Final Cut     4.6
43                                   Outer Wilds     4.6
139                                Disco Elysium     4.6
252                 Umineko: When They Cry Chiru     4.6
297                  Bloodborne: The Old Hunters     4.6
354                 Disco Elysium: The Final Cut     4.6
369                                  Outer Wilds     4.6
428                                Disco Elysium     4.6
539                 Umineko: When They Cry Chiru     4.6
717                Hitman World of Assassination     4.6
804                 Disco Elysium: The Final Cut     4.6
819                                  Outer Wilds     4.6
894                                Disco Elysium     4.6
957                 Final Fantasy XIV: Endwalker     4.6
991              Metal Gear Solid 3: Subsistence     4.6
1035                 Bloodborne: The Old Hunters     4.6
1073           Final Fantasy XIV: Shadowbringers     4.6
1090           The Great Ace Attorney 2: Resolve     4.6
1104    Sekiro: Shadows Die Twice - GOTY Edition     4.6
1138                             Half-Life: Alyx     4.6
1153                              Dwarf Fortress     4.6
1198  Metal Gear Solid 3: Snake Eater HD Edition     4.6
1252           Elden Ring: Shadow of the Erdtree     4.8
1286                                 Tokyo Necro     4.6
1322        Bloodborne: Game of the Year Edition     4.6

In [132]:
hry_df.iloc[:100][['Title', 'Rating']]

                                      Title  Rating
0                                Elden Ring     4.5
1                                     Hades     4.3
2   The Legend of Zelda: Breath of the Wild     4.4
3                                 Undertale     4.2
4                             Hollow Knight     4.4
..                                      ...     ...
95                 Metroid Prime Remastered     4.5
96                            Halo Infinite     3.3
97                    Batman: Arkham Asylum     3.9
98                     Super Mario Sunshine     3.7
99                                 Mother 3     4.5

[100 rows x 2 columns]

In [ ]:
# Pro pokroƒçil√© - odstranit duplicity z v√Ωsledku

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```
    vyber_her = hry_df[hry_df["Rating"] >= 4.6]
    ```

</details>

---