# Python, Data, 2025

---

* [Agregace](),
* [Pivot tabulky](),
* [ƒåasov√© ≈ôady](#ƒåasov√©-≈ôady),
    - [√∫vodn√≠ motivace](#√övod),
    - [z√°kladn√≠ objekty](#Z√°kladn√≠-objekty),
    - [indexov√°n√≠ ƒçasov√Ωmi √∫daji](#Indexov√°n√≠-s-ƒçasem),
    - [funkce to_datetime](#Funkce-TO_DATETIME),
    - [funkce date_range](#Funkce-DATE_RANGE),
    - [resampling](#Resampling),
    - [zp≈ôes≈àov√°n√≠](#Zp≈ôes≈àov√°n√≠)

---

## Agregace

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.HtBtNx6dodlNptXV1QGHWQHaG0%26pid%3DApi&f=1&ipt=3a4d1dfa14a495127b4ece5cf689f00ed0c9e0836853358412e18161ae7c505f&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>


*Seskupov√°n√≠* neboli **agregace** jsou procesy, kter√© pat≈ô√≠ k z√°kladn√≠ efektivn√≠ anal√Ωze dat.

### Jednoduch√° agregace

---

P≈ôesto, ≈æe ve≈°ker√© z√°kladn√≠ **statistick√© √∫daje** prakticky nab√≠z√≠ metoda `describe()`, m≈Ø≈æe≈° ocenit, kdy≈æ stejnou statistiku m≈Ø≈æe≈° aplikovat **na tebou vybran√© objekty**.

Mezi nejjednodu≈°≈°√≠ postupy, jak data analyzovat pat≈ô√≠ metody jako:
* `sum()`,
* `mean()`,
* `median()`,
* `min()`,
* `max()`.

V≈°echny tyto metody umo≈æn√≠ z√≠skat jedno samotn√© ƒç√≠slo, kter√© ti umo≈æn√≠ prohl√©dnout podstatu zadan√©ho datasetu.

In [ ]:
from pandas import read_csv, DataFrame

In [ ]:
nemovitosti_df = read_csv("../onsite/housing.csv")

In [ ]:
nemovitosti_df.head()

In [ ]:
nemovitosti_df.info()

In [ ]:
nemovitosti_df.describe()

<br>

Prvnƒõ vyberu sloupec, se kter√Ωm chci pracovat:

In [ ]:
nemovitosti_df.loc[:, "price"]

In [ ]:
nemovitosti_df.loc[:, "price"].sum()

<br>

ƒåasto ale nen√≠ dostaƒçuj√≠c√≠, prozkoumat data pouze jednoduch√Ωch agregaƒçn√≠ch funkc√≠.

Dal≈°√≠ operace, kter√© je pot≈ôeba pochopit jsou seskupov√°n√≠ dat podle zadan√Ωch parametr≈Ø.

<br>

### Slo≈æitƒõj≈°√≠ agregace, seskupov√°n√≠ GROUPBY

---

Metoda `groupby`, p≈Øvodnƒõ operace z SQL jazyka, je v r√°mci knihovny `pandas` v≈°estran√Ω pomocn√≠k pro seskupov√°n√≠ dat na z√°kladƒõ r≈Øzn√Ωch krit√©ri√≠.

In [ ]:
from pandas import DataFrame

In [ ]:
pokus_s_cisly_df = DataFrame(
    {'kl√≠ƒç': ['A', 'B', 'C', 'A', 'B', 'C'],
     'ƒç√≠seln√° hodnota': range(6)},
)

In [ ]:
pokus_s_cisly_df

#### Klasick√© seskupen√≠ podle sloupeƒçku

---

In [ ]:
# pokus_s_cisly_df.groupby?

In [ ]:
pokus_s_cisly_df.groupby("kl√≠ƒç")

Jde opƒõt o tzv. *lazy evaluation* proces, samotn√Ω nic neprovede, pouze ƒçek√° na pokyn u≈æivatele, kter√Ω samotnou agregaci spust√≠.

In [ ]:
type(pokus_s_cisly_df.groupby("kl√≠ƒç"))

Metoda standardnƒõ vrac√≠ `DataFrameGroupBy`.

In [ ]:
pokus_s_cisly_df

In [ ]:
pokus_s_cisly_df.groupby("kl√≠ƒç").max()
# max_pokus_s_cisly
# count_pokus_s_cisly

Metoda `sum()` je pouze jednou z mo≈ænost√≠, se kterou m≈Ø≈æe≈° pracovat.

<br>

#### Sloupeƒçkov√© oznaƒçov√°n√≠

---

Stejnƒõ jako `DataFrame` m≈Ø≈æe≈° oznaƒçovat tak√© *GroupBy* objekty.

In [ ]:
pokus_s_cisly_df

In [ ]:
pokus_s_cisly_df.groupby("kl√≠ƒç")

In [ ]:
pokus_s_cisly_df.groupby("kl√≠ƒç")["ƒç√≠seln√° hodnota"]

In [ ]:
pokus_s_cisly_df.groupby("kl√≠ƒç")["ƒç√≠seln√° hodnota"].sum()

<br>

V uplynul√© uk√°zce je zadan√° seskupov√°n√≠ podle sloupeƒçku `kl√≠ƒç`.

D√°le je vybran√Ω pouze konkr√©tn√≠ sloupeƒçek, na kter√Ω chce≈° spustit metodu `sum`.

<br>

Pokud pot≈ôebuje≈° nad vybran√Ωm objektem prov√°dƒõt nƒõkter√© procesy ruƒçnƒõ, m≈Ø≈æe≈° p≈ôes *GroupBy* objekt **iterovat**:

In [ ]:
for (klic, hodnota) in pokus_s_cisly_df.groupby("kl√≠ƒç"):
    print(f"Klic: {klic}; Hodnota={hodnota}")

<br>

### Agregace s metodami

---

Kromƒõ jednoduch√Ωch agregac√≠, nab√≠z√≠ *GroupBy* ≈ôadu dal≈°√≠ funkcionality.

Jde o metody:
* `aggregate`,
* `filter`,
* `transform`,
* `apply`.

#### Metoda AGGREGATE

---

In [ ]:
import numpy

In [ ]:
rng = numpy.random.RandomState(0)

In [ ]:
from pandas import DataFrame

In [ ]:
pokus_s_cisly_df = DataFrame(
    {'kl√≠ƒç': ['A', 'B', 'C', 'A', 'B', 'C', 'C'],
     'data_1': range(7),
     'data_2': rng.randint(0, 10, 7)}
)

In [ ]:
pokus_s_cisly_df

Statistick√© metody urƒçitƒõ nab√≠z√≠ spousty pom≈Øcek.

Objekt typu *GroupBy* um√≠ pracovat tak√© s funkcemi, stringy a cel√Ωmi listy.

In [ ]:
pokus_s_cisly_df.groupby("kl√≠ƒç").aggregate("sum")  # .sum()

In [ ]:
pokus_s_cisly_df.groupby("kl√≠ƒç").aggregate(numpy.median)

In [ ]:
pokus_s_cisly_df.groupby("kl√≠ƒç").aggregate(["min", numpy.median, max])

<br>

Metoda `aggregate`umo≈æn√≠ vytvo≈ôit tzv. *podsloupce*.

Tak√© umo≈æn√≠ elegantnƒõ spojit r≈Øzn√© matematick√© funkce (p≈ô. `min`, `"min"`, `numpy.min`).

<br>

Pokud neulo≈æ√≠m novƒõ seskupenou tabulku/sloupec, potom data neuchov√°m.

Metoda `groupby` **neupravuje zdrojov√° data**.

In [ ]:
pokus_s_cisly_df

M≈Ø≈æe≈° ≈ô√≠ct, ≈æe metoda `aggregate` se pou≈æ√≠v√° k aplikaci **jedn√© nebo v√≠ce agregaƒçn√≠ch funkc√≠ na seskupen√° data**.

| pobocka | ovoce | prodane_mnozstvi | cena |
| :- | :- | :- | :- |
| A | apple | 10 | 20 |
| A | banana | 15 | 12 |
| B | apple | 8 | 22 |
| B | banana | 30 | 10 |
| C | apple | 20 | 18 |
| C | banana | 25 | 15 |

In [ ]:
ovoce_data = {
    'pobocka': ['A', 'A', 'B', 'B', 'C', 'C'],
    'ovoce': ['jablko', 'banan', 'jablko', 'banan', 'jablko', 'banan'],
    'prodane_mnozstvi': [10, 15, 8, 30, 20, 25],
    'cena': [20, 12, 22, 10, 18, 15]
}

In [ ]:
ovoce_data.keys()

In [ ]:
ovoce_df = DataFrame(ovoce_data)

In [ ]:
ovoce_df.head(6)

In [ ]:
ovoce_df.groupby('pobocka').aggregate({'prodane_mnozstvi': ["min", numpy.median, max]})

Pro jednodu≈°≈°√≠ anal√Ωzu staƒç√≠ vybrat sloupec:

In [ ]:
ovoce_df.groupby('pobocka')['prodane_mnozstvi'].sum()

<br>

Je nutn√© v≈ædy ovƒõ≈ôit v√Ωstup po agregaci, jestli jsem spr√°vnƒõ vybral metody:

In [ ]:
ovoce_df.groupby('pobocka').sum()

In [ ]:
ovoce_df.groupby('pobocka').aggregate({'prodane_mnozstvi': sum, 'cena': 'mean'})

1. Nejprve jsou hodnoty seskupen√≠ podle sloupce `pobocka`,
2. pot√© specifikuje≈° pomoc√≠ `aggregate` funkce a sloupce,
3. .. tedy sumarizovat hodnoty v `prodane_mnozstvi` a z√≠skat pr≈Ømƒõr `cena` pro ka≈ædou poboƒçku.

### Metoda FILTER

---

Filtrov√°n√≠ ti umo≈æn√≠ zahodit takov√© √∫daje, kter√© nespl≈àuj√≠ zadanou podm√≠nku.

Metoda `filter` se pou≈æ√≠v√° k vybr√°n√≠ **seskupen√Ωch dat** podle splnƒõn√≠ **urƒçit√© podm√≠nky**.

P≈ôedstavme si, ≈æe m√°me n√°sleduj√≠c√≠ dataset s informacemi o prodeji ovoce v r≈Øzn√Ωch obchodech:

```
pobocka,ovoce,prodane_mnozstvi,cena
A,apple,10,20
A,banana,15,12
B,apple,8,22
B,banana,30,10
C,apple,20,18
C,banana,25,15
```

In [ ]:
ovoce_data = {
    'pobocka': ['A', 'A', 'B', 'B', 'C', 'C'],
    'ovoce': ['jablko', 'banan', 'jablko', 'banan', 'jablko', 'banan'],
    'prodane_mnozstvi': [10, 15, 8, 30, 20, 25],
    'cena': [20, 12, 22, 10, 18, 15]
}

In [ ]:
ovoce_df = DataFrame(ovoce_data)

In [ ]:
ovoce_df

In [ ]:
    def vyber_s_prodejem_nad_limit(data, limit=30):
        return data['prodane_mnozstvi'].sum() > limit

<br>

Funkce `vyber_s_prodejem_nad_limit`, tedy **filtrovac√≠ funkce**, mus√≠ vracet **boolean** datov√Ω typ.

In [ ]:
vyfiltrovane_df = ovoce_df.groupby('pobocka').filter(vyber_s_prodejem_nad_limit)

In [ ]:
vyfiltrovane_df.groupby('pobocka')['prodane_mnozstvi'].sum()

1. Nejprve seskup√≠≈° data podle sloupce `pobocka` pomoc√≠ `groupby`,
2. d√°le pou≈æije≈° metodu `filter`, kter√° umo≈æ≈àuje pou≈æ√≠t u≈æivatelem definovanou funkci (`vyber_pouze_pobocky_s_prodejem_nad_limit`),
3. definuje≈° funkci, kter√° vybere pouze poboƒçky s vƒõt≈°√≠m prodejem ne≈æ je parametr `limit`,
4. metoda `filter` pak vybere pouze ty ≈ô√°dky, kter√© spl≈àuj√≠ tuto podm√≠nku.

In [ ]:
ovoce_df[ovoce_df['prodane_mnozstvi'] > 19]  # Boolean porovn√°v√°n√≠

### Metoda TRANSFORM

---

Zat√≠mco p≈ôedchoz√≠ v√Ωsledky *agregace* pomoc√≠ `groupby` vraceli redukovan√© mno≈æstv√≠ dat.

Transformace obvykle vrac√≠ data o stejn√©m rozsahu jako vstupn√≠ data. Jenom upraven√°.

Metoda `transform` se pou≈æ√≠v√° k aplikaci urƒçit√© **transformaƒçn√≠ funkce** na ka≈æd√Ω prvek seskupen√Ωch dat.

In [ ]:
ovoce_df

In [ ]:
def vrat_procenta_z_celkoveho_prodeje(udaj):
    return round(udaj / udaj.sum() * 100, 1)

<br>

Vytvo≈ôen√≠ nov√©ho sloupeƒçku `vrat_procenta_z_celkoveho_prodeje`:

In [ ]:
ovoce_df['Procento z celkoveho prodeje'] = \
    ovoce_df.groupby('pobocka')['prodane_mnozstvi'].transform(
        vrat_procenta_z_celkoveho_prodeje
    )

In [ ]:
# ovoce_df

1. Nejprve seskup√≠≈° data podle sloupce `pobocka` pomoc√≠ `groupby`,
2. d√°le pou≈æije≈° metodu `transform`, kter√° umo≈æ≈àuje pou≈æ√≠t u≈æivatelem definovanou funkci,
3. definuje≈° funkci, kter√° vybere vypoƒç√≠t√° procentu√°ln√≠ vyj√°d≈ôen√≠ prodan√©ho zbo≈æ√≠ pro poboƒçku,
4. p≈ôid√°≈° nov√Ω sloupeƒçek `'Procento z celkoveho prodeje'`.

### Metoda `APPLY`

---

Metoda `apply` ti tak√© dovol√≠, pou≈æ√≠vat u≈æivatelem definovan√© funkce na seskupen√° data.

N√°slednƒõ vrac√≠ objekt knihovny `pandas` (buƒè `DataFrame`, nebo `Series`, a nebo skal√°rn√≠ hodnota).

In [ ]:
ovoce_df

In [ ]:
def vypocitej_vydelek_za_artikl(seskupene):
    seskupene['vydelek_za_artikl'] = seskupene['prodane_mnozstvi'] * seskupene['cena']
    return seskupene

<br>

Metoda `apply` je **obecnƒõj≈°√≠ a flexibilnƒõj≈°√≠** ne≈æ `transform`.

`apply` umo≈æ≈àuje pou≈æ√≠t u≈æivatelem definovanou funkci na ka≈ædou skupinu po seskupen√≠ dat pomoc√≠ `groupby`.

V√Ωsledek metody `apply` m≈Ø≈æe m√≠t jin√Ω tvar ne≈æ p≈Øvodn√≠ data.

In [ ]:
ovoce_df.groupby('pobocka').apply(vypocitej_vydelek_za_artikl)

In [ ]:
ovoce_df.groupby('pobocka', group_keys=False).apply(vypocitej_vydelek_za_artikl)

In [ ]:
# ovoce_df.groupby?

Od posledn√≠ch verz√≠ frameworku (`1.5.0` a vy≈°≈°√≠) plat√≠, ≈æe pokud bude v√Ωsledkem `DataFrame` nebo `Series` mus√≠≈° uv√©st argument pro `group_keys=True`).

<br>

In [ ]:
vystup = ovoce_df.groupby('pobocka', group_keys=True).apply(vypocitej_vydelek_za_artikl)

In [ ]:
vystup

In [ ]:
ovoce_df

Na prvn√≠ pohled vypadaj√≠ metody `apply` a `transform` docela podobnƒõ.

Metoda `transform` je trochu omezenƒõj≈°√≠ ne≈æ `apply`.

Slou≈æ√≠ k aplikaci u≈æivatelem definovan√© nebo vestavƒõn√© funkce **na ka≈æd√Ω prvek** skupiny po seskupen√≠ s `groupby`.

`transform` mus√≠ vracet hodnotu stejn√©ho tvaru jako vstupn√≠ data.

### Souhrn k metod√°m APPLY a TRANSFORM

---

V√Ωsledek metody `transform` **m√° stejn√Ω tvar jako p≈Øvodn√≠ data**.

#### Apply
* pot≈ôebuje≈° v√Ωsledek, kter√Ω **m√° jin√Ω tvar ne≈æ p≈Øvodn√≠ data**,
* um√≠ zpracovat **v√≠ce sloupeƒçk≈Ø souƒçasnƒõ**.

#### Transform
* pot≈ôebuje≈° v√Ωsledek, kter√Ω **m√° stejn√Ω tvar jako p≈Øvodn√≠ data**,
* um√≠ zpracovat **pouze jeden sloupeƒçek**.

In [ ]:
df_rozdily = DataFrame({
    'KLIC': ['A','B','C'] * 3,
    'A': numpy.arange(9),
    'B': [1,2,3] * 3,
})

In [ ]:
df_rozdily

#### `transform` vrac√≠ v√Ωsledky ve stejn√©m tvaru

---

In [ ]:
def vypocitej_sumu(data):
    return data.sum()

In [ ]:
seskup_df_rozdily_apply = df_rozdily.groupby('KLIC')['A'].apply(vypocitej_sumu)

In [ ]:
seskup_df_rozdily_apply

In [ ]:
seskup_df_rozdily_trans = df_rozdily.groupby('KLIC')['A'].transform(vypocitej_sumu)

In [ ]:
seskup_df_rozdily_trans

#### `apply` um√≠ pracovat s v√≠ce sloupeƒçky, `transform` jen s jedn√≠m

---

In [ ]:
df_rozdily

In [ ]:
def vypocitej_rozdil(data):
    return data['B'] - data['A']

In [ ]:
df_rozdily.groupby('KLIC').apply(vypocitej_rozdil)

In [ ]:
# df_rozdily.groupby('KLIC').transform(vypocitej_rozdil)

---

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si funkc√≠ GroupBy a agregaƒçn√≠ funkce**

M√°≈° zadan√Ω takov√Ω datov√Ω set.

N√°slednƒõ:
1. Pomoc√≠ metody `filter` vyber prodejny, kter√© prodaly **alespo≈à 30 produkt≈Ø**,
2. na filtrovan√©m datasetu pou≈æijte metodu `apply` pro v√Ωpoƒçet **celkov√©ho p≈ô√≠jmu z prodeje pro ka≈æd√Ω obchod**.

In [ ]:
from pandas import DataFrame

In [ ]:
df_prodej_hardware = DataFrame({
    'prodejna_id': (5, 4, 1, 5, 5, 1, 4, 2, 5, 1, 3, 1, 3, 4, 2, 1, 5, 4, 1, 5),
    'transakce_id': (1278, 1216, 1866, 1872, 1797, 1272, 1880, 1061, 1595, 1879, 1728,
       1341, 1396, 1698, 1018, 1176, 1611, 1395, 1444, 1232),
    'predmet_prodeje': ('grafick√°_karta', 'SSD', 'RAM', 'procesor', 'grafick√°_karta',
       'z√°kladn√≠_deska', 'SSD', 'SSD', 'grafick√°_karta', 'RAM',
       'grafick√°_karta', 'procesor', 'grafick√°_karta', 'SSD',
       'grafick√°_karta', 'RAM', 'z√°kladn√≠_deska', 'HDD', 'grafick√°_karta',
       'RAM'),
    'pocet_prodanych_ks': (1,  5,  6,  6,  3,  7,  9, 10,  8,  6,  8,  5,  8, 10,  4, 10,  8,
       10,  2,  5),
    'cena_predmetu': (19500.69874949, 19731.10951735, 14114.15342339, 10953.87914371,
        6535.78851758, 16369.00288429, 13852.2578648 ,  3671.03031723,
       18263.08009763, 16539.476237  , 19021.09830919, 14651.53041357,
       12461.59632075,  8655.73920767, 18688.2054254 , 17388.24584526,
        1381.76406707,  1014.1560027 ,  7841.03565412, 16305.78995025)
})

In [ ]:
df_prodej_hardware.head(7)

In [ ]:
df_prodej_hardware.groupby('prodejna_id')['pocet_prodanych_ks'].sum()

In [ ]:
# S filtrem:
def vyber_prodejny_s_prodejem_pres_tricet_ks(data_prodej,
                                             jmeno_sl='pocet_prodanych_ks',
                                             limit=30):
    if jmeno_sl not in data_prodej.columns:
        return None
    else:
        return data_prodej[jmeno_sl].sum() > limit

In [ ]:
vyfiltr_df = df_prodej_hardware.groupby('prodejna_id').filter(vyber_prodejny_s_prodejem_pres_tricet_ks)

In [ ]:
vyfiltr_df.head()

In [ ]:
vyfiltr_df['predmet_prodeje'].unique()

In [ ]:
vyfiltr_df.groupby('prodejna_id')

In [ ]:
df_prodej_hardware.head(2)

In [ ]:
# Bez filtru:

In [ ]:
seskupene_prodeje = df_prodej_hardware.groupby('prodejna_id')['pocet_prodanych_ks'].sum()

In [ ]:
type(seskupene_prodeje)

In [ ]:
seskupene_prodeje[seskupene_prodeje > 30]

In [ ]:
def vypocti_celkovy_prijem_obchodu(df_prodej_hardware):
    return round(df_prodej_hardware['pocet_prodanych_ks']
                 * df_prodej_hardware['cena_predmetu'], 2)

In [ ]:
vyfiltr_df['Celkov√© prodeje'] = \
    vyfiltr_df.groupby('prodejna_id', group_keys=False).apply(vypocti_celkovy_prijem_obchodu)

In [ ]:
type(vyfiltr_df.groupby('prodejna_id')['Celkov√© prodeje'].sum())

<br>

Pokud bude pot≈ôebn√©, se≈ôadit sestupnƒõ podle celkov√©ho v√Ωdƒõlku prodejny:

In [ ]:
vyfiltr_df \
    .groupby('prodejna_id')['Celkov√© prodeje'] \
    .sum() \
    .sort_values(ascending=False)

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
def vyber_prodejny_s_vice_nez_triceti_produkty(
    data: DataFrame, limit: int = 30
):
    return data['pocet_prodanych_ks'].sum() >= limit

hledane_prodejny = df_prodej_hardware.groupby('prodejna_id').filter(
    vyber_prodejny_s_vice_nez_triceti_produkty
)

agregovano = df_prodej_hardware.groupby('prodejna_id')['pocet_prodanych_ks'].sum()
odfiltrovano = agregovano[agregovano > 30]

print(odfiltrovano)
```
</details>

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.P16hnt14CM-mJ5eAKykxLAHaHa%26pid%3DApi&f=1&ipt=27e3f5b23fe44567ad0730192d5dcb13c7c23aa6e87579d16df05e27461dc12c&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

## Pivot tabulky

---

*Pivot tabulky* (*kontingenƒçn√≠ tabulky*) jsou u≈æiteƒçn√© pro p≈ôehledn√© zobrazen√≠ a anal√Ωzu dat z tabulkov√Ωch zdroj≈Ø.

Pomoc√≠ pivot tabulek m≈Ø≈æe≈° **seskupit data podle urƒçit√Ωch kategori√≠** a prov√©st agregaci hodnot.

Nejprve si p≈ôedstav situaci bez pivot tabulek, pomoc√≠ uk√°zky n√≠≈æe:

In [ ]:
# !pip install seaborn

In [ ]:
import seaborn

<br>

V t√©to ukazce pou≈æije≈° vzorov√° data t√Ωkaj√≠c√≠ se [nehody lodi Titanic](https://en.wikipedia.org/wiki/Sinking_of_the_Titanic):

In [ ]:
df_titanic = seaborn.load_dataset('titanic')

In [ ]:
df_titanic.info()

<br>

Pro jakoukoliv pokroƒçilou anal√Ωzu dat, pot≈ôebuje≈° √∫daj seskupit.

Tak jak jsi do prov√°dƒõl doposud, pomoc√≠ `groupby`:

In [ ]:
df_titanic.head()

<br>

Pokud pot≈ôebuje≈° identifikovat v≈°echny unik√°tn√≠ hodnoty ve sloupci, vyber sloupec a pou≈æij metodu `unique()`:

In [ ]:
df_titanic["sex"].unique()

<br>

Pro n√°sleduj√≠c√≠ rozbor seskup√≠m data podle pohlav√≠:

In [ ]:
df_titanic.groupby('sex')

<br>

Pot≈ôebuje≈° pr≈Ømƒõrnou hodnotu, a≈• je na sloupeƒçku `survived` vidƒõt pomƒõr p≈ôe≈æiv≈°√≠ch:

In [ ]:
df_titanic.head(3)

In [ ]:
df_titanic.groupby('sex')['survived'].mean()

<br>

Pro lep≈°√≠ ƒçitelnost **zaokrouhl√≠m v√Ωsledek na dvƒõ desetinn√© ƒç√≠sla**:

In [ ]:
# round(df_titanic.)

In [ ]:
df_titanic.groupby('sex')['survived'].mean().round(2)

Zaokrouhlit je mo≈æn√© nejenom pomoc√≠ Pythonu a funkce `round()` ale tak√© metoda `round()`.

Takov√Ω pr≈Øzkum z t√©to studie ti d√° jasn√Ω pohled na vƒõc:
* 3 ze 4 ≈æen p≈ôe≈æily,
* 1 z 5 mu≈æ≈Ø p≈ôe≈æil.

<br>

Pokud bude≈° pot≈ôebovat detailnƒõj≈°√≠ anal√Ωzy, bude≈° pot≈ôebovat v√≠ce dat.

T≈ôeba situaci, kde kromƒõ pohlav√≠, bere≈° v potaz **t≈ô√≠du cestuj√≠c√≠ch** `class`:

In [ ]:
df_titanic.head(2)

In [ ]:
df_titanic["class"].unique()

In [ ]:
type(df_titanic.groupby(['sex', 'class'])['survived'].mean())

In [ ]:
type(df_titanic.groupby(['sex', 'class'])[['survived']].mean())

In [ ]:
df_titanic.groupby(['sex', 'class'])[['survived']].mean()

In [ ]:
df_titanic.groupby(['sex', 'class'])[['survived']].mean().round(2)

<br>

Metodou `unstack` si m≈Ø≈æe≈° vytvo≈ôit nov√© sloupeƒçky, kter√© jsou postaven√© na nov√©m Indexu, nebo Indexech (*Multiindex*):

In [ ]:
df_titanic.groupby(['sex', 'class'])['survived'].mean().round(2).unstack()

Takov√Ω pr≈Øzkum ti d√° skuteƒçnƒõ lep≈°√≠ pohled na vƒõc.

Souƒçasnƒõ ale roste **n√°roƒçnost ohl√°≈°en√≠**.

Z√°pis "bobtn√°" a **st√°v√° se n√°roƒçnƒõj≈°√≠m na p≈ôeƒçten√≠ a pochopen√≠**.

<br>

### Pivot tabulka

---

Podobn√© ≈ôe≈°en√≠ ti nab√≠z√≠ funkce `pivot_table`:

In [ ]:
df_titanic.groupby(['sex', 'class'])['survived'].mean().round(2).unstack()

In [ ]:
df_titanic.pivot_table('survived', index='sex', columns='class').round(2)

In [ ]:
pivot_df = df_titanic.pivot_table('survived', index='sex', columns='class').round(2)

In [ ]:
df_titanic.index

In [ ]:
pivot_df.index

Z√°s√°dn√≠m rozd√≠lem je ov≈°em **ƒçitelnost**, kterou m√°≈° pro tuto variantu z√°pisu.

```
Clarity beats purity
```

Pomoc√≠ vhodn√Ωch argument≈Ø, m≈Ø≈æe≈° doplnit vysvƒõtlivky tam, kde funkce `groupby` nemohla.

Stejnƒõ plat√≠, ≈æe pokud bude≈° pot≈ôebovat **dal≈°√≠ Index**, m≈Ø≈æe≈° si pomoci funkc√≠ `cut`:

In [ ]:
df_titanic.head(2)

In [ ]:
df_titanic['age'].describe()

In [ ]:
from pandas import cut

In [ ]:
age = cut(df_titanic['age'], [0, 40, 60, 70])

In [ ]:
age  # < xxx , xxx )

In [ ]:
vystup_vek_df = df_titanic.pivot_table('survived',
                                       index=['sex', age],
                                       columns='class').round(2)

In [ ]:
vystup_vek_df

In [ ]:
vystup_vek_df.index

Pomoc√≠ funkce `cut` dopln√≠≈° tabulku na **MultiIndex**.

Ten nyn√≠ vytvo≈ô√≠ i rozsah pro vƒõkovou kategorii.

<br>

#### üß† CVIƒåEN√ç üß†, procviƒç si pivot tabulky

---

Ze zadan√©ho datasetu vytvo≈ô **pivot tabulku**, kter√° zobraz√≠ **poƒçet prodan√Ωch kus≈Ø ovoce** pro **ka≈æd√Ω obchod** a **druh ovoce**.

In [ ]:
ovoce_data = {
    'pobocka': ['A', 'A', 'B', 'B', 'C', 'C'],
    'ovoce': ['jablko', 'banan', 'jablko', 'banan', 'jablko', 'banan'],
    'prodane_mnozstvi': [10, 15, 8, 30, 20, 25],
    'cena': [20, 12, 22, 10, 18, 15]
}

In [ ]:
# pivot_table()
#              prodane_mnozstvi      jablko banan
# Pobocka
#    A 
#    B
#    C

In [ ]:
ovoce_data_df = DataFrame(ovoce_data)

In [ ]:
ovoce_data_df['ovoce'].unique()

In [ ]:
ovoce_data_df.head()

In [ ]:
ovoce_data_df.pivot_table('prodane_mnozstvi', index='pobocka', columns='ovoce')

In [ ]:
ovoce_data_df['cena'].min()

In [ ]:
cenovy_intervaly = cut(ovoce_data_df['cena'],
                       [ovoce_data_df['cena'].min(),
                        15, ovoce_data_df['cena'].max()], include_lowest=True)

In [ ]:
cenovy_intervaly

In [ ]:
ovoce_data_df.pivot_table('prodane_mnozstvi',
                          index=['pobocka', cenovy_intervaly], columns='ovoce')

In [ ]:
ovoce_data_df

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
pivot_tabulka = df_ovoce.pivot_table(values="prodane_mnozstvi", index="pobocka", columns="ovoce")
```
</details>

In [ ]:
# !pip install openpyxl

In [ ]:
from pandas import read_excel

In [ ]:
data_df = read_excel('../onsite/RESULT_LIST_ANONYM_CAPACITY_MARKET_FCR_2025-05-20_2025-05-20.xlsx')

In [ ]:
data_df.info()

In [ ]:
data_df.head(3)

#### 1. P≈ôevedeme data ve sloupc√≠ch

---

In [ ]:
data_df.columns

In [ ]:
soucasne_poradi_sloupcu = tuple(data_df.columns)

In [ ]:
soucasne_poradi_sloupcu

In [ ]:
nove_poradi_sloupcu = (
     'DATE_FROM',
     'DATE_TO',
     'TYPE_OF_RESERVES',
     'PRODUCT',
     'OFFERED_CAPACITY_PRICE_[EUR/MW]',
     'OFFERED_CAPACITY_PRICE_NEW',
     'OFFERED_CAPACITY_[MW]',
     'ALLOCATED_CAPACITY_[MW]',
     'COUNTRY',
     'SETTLEMENTCAPACITY_PRICE_[EUR/MW]',
     'SETTLEMENTCAPACITY_PRICE_NEW',
     'NOTE'
)

In [ ]:
data_df['OFFERED_CAPACITY_PRICE_NEW'] = data_df['OFFERED_CAPACITY_PRICE_[EUR/MW]'] / 4

In [ ]:
data_df['SETTLEMENTCAPACITY_PRICE_NEW'] = data_df['SETTLEMENTCAPACITY_PRICE_[EUR/MW]'] / 4

In [ ]:
data_df.tail(2)

<br>

Pro zmƒõnu po≈ôad√≠ sloupc≈Ø, nachyst√°me novou tabulku, s nov√Ωm po≈ôad√≠m:

In [ ]:
from pandas import DataFrame

In [ ]:
novy_df = DataFrame(data_df, columns=nove_poradi_sloupcu)

In [ ]:
novy_df.tail(2)

#### 2. Agregace podle nƒõkter√Ωch sloupc≈Ø

---

Nech√°me si vypsat unik√°tn√≠ hodnoty pro hledan√© sloupce:

In [ ]:
novy_df['PRODUCT'].unique()

In [ ]:
novy_df['COUNTRY'].unique()

In [ ]:
novy_df.head(2)

In [ ]:
novy_df.groupby('COUNTRY')

In [ ]:
zkraceny_novy_df = novy_df[['COUNTRY', 'OFFERED_CAPACITY_PRICE_NEW']]

<br>

Opatrnƒõ na seskupov√°n√≠, tak aby data d√°vala nƒõjak√Ω smysl:

In [ ]:
zkraceny_novy_df.groupby('COUNTRY').max()

In [ ]:
dalsi_zkraceny_novy_df = novy_df[['COUNTRY', 'PRODUCT', 'OFFERED_CAPACITY_PRICE_NEW', 'SETTLEMENTCAPACITY_PRICE_NEW']]

In [ ]:
dalsi_zkraceny_novy_df

In [ ]:
vystup = dalsi_zkraceny_novy_df.pivot_table(values='OFFERED_CAPACITY_PRICE_NEW',
                                   index='COUNTRY', columns='PRODUCT').round(1).unstack()

In [ ]:
vystup.index

In [ ]:
import numpy as np

In [ ]:
agregacni_predpis = {'OFFERED_CAPACITY_PRICE_NEW': np.median}

In [ ]:
dalsi_zkraceny_novy_df.pivot_table(values='OFFERED_CAPACITY_PRICE_NEW',
                                   index='COUNTRY', columns='PRODUCT',
                                   aggfunc=agregacni_predpis).round(1)

---


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.odqbr-09dxxBQjF7x7NyBAHaII%26pid%3DApi&f=1&ipt=5b4a03c1dd38b52108237102ebb350595a5d6ea6a50572f5897ca89fbf5b5445&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

<br>

## ƒåasov√© ≈ôady

---

ƒå√°st *frameworku* byla vyvinuta za √∫ƒçelem **finanƒçn√≠ho modelov√°n√≠**.

Proto je v√≠ce ne≈æ dob≈ôe vybavena sadou n√°stroj≈Ø, kter√© um√≠ pracovat **s daty, ƒçasem a ƒçasov√Ωmi objekty**.

<br>

Uplatnƒõn√≠:
* **Anal√Ωza a predikce**: ƒåasov√© ≈ôady umo≈æ≈àuj√≠ analyzovat v√Ωvoj hodnot v ƒçase a p≈ôedpov√≠dat budouc√≠ trendy nebo sez√≥nn√≠ zmƒõny. To je kl√≠ƒçov√© v oblastech jako finance, ekonomika, prodej, poƒças√≠ a mnoho dal≈°√≠ch.

* **Efektivn√≠ manipulace s ƒçasem**: Pandas poskytuje n√°stroje pro efektivn√≠ pr√°ci s ƒçasov√Ωmi ≈ôadami, co≈æ zjednodu≈°uje √∫koly, jako je agregace, interpolace nebo ƒçasov√© posuny. D√≠ky integrovan√Ωm funkc√≠m m≈Ø≈æete snadno pracovat s daty r≈Øzn√Ωch ƒçasov√Ωch frekvenc√≠ a konvertovat mezi nimi.

* **ƒåasovƒõ z√°visl√© anal√Ωzy**: ƒåasov√© ≈ôady umo≈æ≈àuj√≠ prov√°dƒõt ƒçasovƒõ z√°visl√© anal√Ωzy, jako je detekce zmƒõn v trendech, identifikace sez√≥nn√≠ch vliv≈Ø nebo identifikace ƒçasov√Ωch z√°vislost√≠ mezi promƒõnn√Ωmi.

* **Flexibiln√≠ indexace**: Pandas podporuje flexibiln√≠ indexaci ƒçasov√Ωch ≈ôad, co≈æ usnad≈àuje filtrov√°n√≠, ≈ôazen√≠ a v√Ωbƒõr dat na z√°kladƒõ ƒçasov√Ωch znaƒçek nebo rozsah≈Ø.

* **Kompatibilita s dal≈°√≠mi knihovnami**: Pandas je kompatibiln√≠ s mnoha dal≈°√≠mi knihovnami pro anal√Ωzu ƒçasov√Ωch ≈ôad, jako je statsmodels nebo scikit-learn. To usnad≈àuje integraci a roz≈°√≠≈ôen√≠ va≈°ich anal√Ωz s pokroƒçilej≈°√≠mi metodami a algoritmy.
    
<br>

Jde nap≈ô√≠klad o √∫daje typu:
* *timestampy*, √∫daj odkazuj√≠c√≠ na konkr√©tn√≠ **ƒçasov√Ω okam≈æik** (nap≈ô. `26. ƒçervence 2024 v 14:36 hod.`),
* *ƒçasov√© intervaly*, tedy obdob√≠ odkazuj√≠ na d√©lku ƒçasu **mezi konkr√©tn√≠m zaƒç√°tkem a koncem** (nap≈ô. intervaly ze dne na den),
* *time delta* objekty, tedy p≈ôesn√© d√©lky ƒçasu (nap≈ô. 22,22 sekundy).

#### Data a ƒças v Pythonu

---

Standardn√≠ v√Ωbavou Pythonu jsou knihovny `datetime`:

In [ ]:
from datetime import datetime

In [ ]:
datetime(year=2023, month=4, day=5)

<br>

Nebo knihovna `dateutil` pro parsov√°n√≠ datov√Ωch typ≈Ø z r≈Øzn√Ωch stringov√Ωch zad√°n√≠:

In [ ]:
from dateutil import parser

In [ ]:
date = parser.parse("26th of november, 2024")

In [ ]:
date

Kde pomoc√≠ metody `strftime` m≈Ø≈æe≈° vypsat den:

In [ ]:
date.strftime("%A")

#### Data a ƒças v numpy

---

Nƒõkter√© nedostatky uvnit≈ô knihoven `datetime` a `dateutil` vedli ke vzniku sady n√°stroj≈Ø.

Tyto dopl≈àky vznikly pod hlaviƒçkou knihovny `numpy`.

In [ ]:
import numpy as np
from numpy import array, arange

In [ ]:
date = array('2023-04-05', dtype=np.datetime64)

In [ ]:
date

<br>

Pokud pot≈ôebuje≈° pole n√°sleduj√≠c√≠ch 7 dn√≠:

In [ ]:
date + arange(7)

<br>

Vzhledem k jednotn√©mu datovu typu v poli pro **numpy** `datetime64` m≈Ø≈æe tento typ operace
prov√°dƒõt mnohem rychleji, ne≈æ p≈ô√≠mo v Pythonu `datetime` objekty, zejm√©na kdy≈æ objekty nab√Ωvaj√≠ na velikosti.

#### Data a ƒças v pand√°ch

---

Jde o kombinace objekt≈Ø z obou p≈ôedchoz√≠ch podkapitol.

Ty d√°vaj√≠ dohromady to nejlep≈°√≠ prost≈ôedky pro zach√°zen√≠ s ƒçasem.

In [ ]:
from pandas import to_datetime

In [ ]:
date = to_datetime("5th of April, 2023")

In [ ]:
date

In [ ]:
date.strftime("%A")

## ƒåasov√© ≈ôady

---

V podstatƒõ jde o hlavn√≠ n√°stroj, kter√Ω tato knihovna dovede nab√≠dnout.

#### Indexov√°n√≠ ƒçasem
---
`DatetimeIndex` obsahuje ƒçasov√© znaƒçky (*timestamp*), kter√© jsou ulo≈æeny ve form√°tu `datetime64` s nanosekundovou p≈ôesnost√≠.

Tento objekt umo≈æ≈àuje efektivn√≠ pr√°ci s ƒçasov√Ωmi ≈ôadami a poskytuje mnoho funkc√≠ pro manipulaci s daty a ƒçasy.

V√Ωhody pr√°ce s `DatetimeIndex` objektem:
* ƒåasov√© z√≥ny,
* frekvence,
* ƒçasovƒõ z√°visl√© selekce,
* atributy ƒçasov√Ωch znaƒçek,
* operace s ƒçasem.

In [ ]:
from pandas import DatetimeIndex, Series, to_datetime

In [ ]:
datumy = ["2023-04-05", "2022-04-05", "2021-04-05", "2020-04-05"]

In [ ]:
indexy = DatetimeIndex(datumy)

In [ ]:
hodnoty = [to_datetime(den).strftime("%A") for den in datumy]

In [ ]:
hodnoty

In [ ]:
hodnoty_sl = Series(hodnoty, index=indexy)

In [ ]:
hodnoty_sl

In [ ]:
hodnoty_sl.index

In [ ]:
type(indexy)

<br>

M≈Ø≈æe≈° vytvo≈ôit selektivn√≠ proces na z√°kladƒõ datumu pro index:

In [ ]:
hodnoty_sl[:'2021-04-05']

<br>

## Z√°kladn√≠ objekty

---

Mezi z√°kladn√≠ objekty pro pr√°ci s ƒçasem pat≈ô√≠:
* `Timestamp` typ (souvisej√≠c√≠ struktura Indexu `DatetimeIndex`,
* `Period` typ (.. `PeriodIndex`),
* `Timedelta` typ (.. `TimedeltaIndex`).

#### Timestamp & DatetimeIndex

---

Nejƒçastƒõj≈°√≠ datov√© typy, kter√© lze vyvolat p≈ô√≠mo, ov≈°em bƒõ≈ænƒõj≈°√≠ je pracovat s funkc√≠ `to_datetime`.

Funkce `to_datetime` um√≠ parsovat r≈Øzn√© stringov√© form√°ty.

<br>

### Pr√°ce s jedn√≠m datumem

---

In [ ]:
datum_objekt = to_datetime("05/04/2023")  # DD/MM/RRRR, 5. duben 2023

<br>

Opatrnƒõ na specifick√Ω form√°t datumu:

In [ ]:
datum_objekt                              # MM/DD/RRRR

In [ ]:
type(datum_objekt)

In [ ]:
datum_objekt.month_name()

Pokud do funkce `to_datetime` vlo≈æ√≠≈° jedinou hodnotu, vrac√≠ objekty typu `Timestamp`.

<br>

#### Specifick√Ω form√°t

---

Pokud se *parser* ztrat√≠ nebo tvoje zad√°n√≠ neodpov√≠d√° jeho vyhotoven√≠:

In [ ]:
to_datetime("12-11-2010 00:00", format="%d-%m-%Y %H:%M")

In [ ]:
naformatovany_datum = to_datetime("05/04/2023", format='%d/%m/%Y')

In [ ]:
naformatovany_datum.month_name()

In [ ]:
naformatovany_datum.day_name()

Nespol√©hat na defaultn√≠ nastaven√≠ funkce `to_datetime`, ale umƒõt si form√°t upravit podle sv√Ωch pot≈ôeb.

<br>

### Pr√°ce s nƒõkolika datumy

---

In [ ]:
datumy = to_datetime([datetime(2023, 4, 5),
                      "5th of April 2023",
                      "2023-Apr-5",
                      "05-04-2023",
                      "20230405"])

In [ ]:
datumy

In [ ]:
type(datumy)

Zat√≠mco pole hodnot s datumy, kter√© funkce `to_datetime` zpracuje vrac√≠ objekt typu `DatetimeIndex`.

<br>

Objekt `DatetimeIndex` potom m≈Ø≈æe≈° konvertovat na `PeriodIndex` pomoc√≠ *metody* `to_period`:

In [ ]:
# datumy.to_period?

<br>

Tato metoda je u≈æiteƒçn√°, pokud chcete p≈ôev√©st ƒçasov√© ≈ôady **na urƒçit√© ƒçasov√© obdob√≠**.

Kdy≈æ bude≈° t≈ôeba pot≈ôebovat p≈ôev√©st hodnoty **z denn√≠ch dat na mƒõs√≠ƒçn√≠ data**.

<br>

#### Denn√≠ data

---

In [ ]:
datumy.to_period(freq="D")

<br>

#### Mƒõs√≠ƒçn√≠ data

---

In [ ]:
from pandas import DataFrame
import pandas as pd

In [ ]:
datumy.to_period(freq="M")

<br>

V r√°mci periody jsem schopen u ƒçasov√Ωch ≈ôad nastavovat, nebo mƒõnit ƒçasov√© intervaly (tzn. denn√≠, mƒõs√≠ƒçn√≠).

In [ ]:
# data = {'date': pd.date_range(start='2022-01-01', periods=10, freq='ME'),
#         'sales': [100, 102, 105, 107, 110, 112, 115, 117, 120, 122]}

<br>

Varianta frekvence `ME` lze pou≈æ√≠t ve verzi pandas 2.2.

Pro star≈°√≠ varianty je nutn√© pracovat s argumentem `M`.

In [ ]:
data = {'date': pd.date_range(start='2022-01-01', periods=10, freq='M'),
        'sales': [100, 102, 105, 107, 110, 112, 115, 117, 120, 122]}

In [ ]:
data_df = DataFrame(data)

In [ ]:
data_df

<br>

Index p≈Øvodn√≠ tabulky je nastaven√Ω implicitnƒõ jako interval `0-n` .

In [ ]:
data_df.set_index('date', inplace=True)

In [ ]:
data_df

In [ ]:
period_df = data_df.to_period(freq='M')

In [ ]:
period_df

<br>

### TimedeltaIndex

---

Jde o rozd√≠l v jednotk√°ch ƒçasu.

Nejƒçastƒõji se s t√≠mto objektem setk√°≈°, pokud pot≈ôebuje≈° z√≠skat **rozd√≠l mezi dvƒõma datumy**.

In [ ]:
from datetime import datetime

from pandas import to_datetime

In [ ]:
specialni_datumy = to_datetime([datetime(2022, 4, 5),
                                "5th of April 2021",
                                "2020-Apr-5",
                                "05-04-2019",
                                "20180405"])

In [ ]:
specialni_datumy

In [ ]:
datumy

In [ ]:
datumy - specialni_datumy

<br>

Rozd√≠l mezi datumy m≈Ø≈æe≈° poƒç√≠tat i pro jednotliv√© `Timestamp` hodnoty:

In [ ]:
datumy[0]

In [ ]:
specialni_datumy[0]

In [ ]:
datumy[0] - specialni_datumy[0]

In [ ]:
datovy_objekt = to_datetime('2022-04-05')

In [ ]:
datovy_objekt.tzname()

In [ ]:
aktualni_cas = pd.Timestamp('2017-01-01T12')

In [ ]:
aktualni_cas

<br>

Pokud chyb√≠ v objektu informace o p√°smu, je mo≈ænost ji doplnit:

In [ ]:
aktualni_cas = aktualni_cas.tz_localize('CET')

In [ ]:
aktualni_cas

In [ ]:
aktualni_cas.tzname()

In [ ]:
nova_hodnota = pd.Timestamp('2017-01-01 12:00:00+0200')

In [ ]:
nova_hodnota.tzname()

In [ ]:
nova_hodnota.tz

<br>

Pro p≈ôevod univerz√°ln√≠ hodnoty slou≈æ√≠ metoda `tz_convert`.

<br>

#### üß† CVIƒåEN√ç üß†, procviƒç si funkci `to_datetime`

---

In [ ]:
# P≈ôeveƒè datumy na form√°t RRRR-MM-DD
data = {"Name": ["Event A", "Event B", "Event C"],
        "Date": ["21-11-2024", "05-12-2024", "15-01-2025"]}

In [ ]:
data_df = DataFrame(data, index=data['Date'])

In [ ]:
data_df

In [ ]:
data_df['Date'] = to_datetime(data_df['Date'], format='%d-%m-%Y')

In [ ]:
data_df

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd

data = {
    "Name": ["Event A", "Event B", "Event C"],
    "Date": ["21-11-2024", "05-12-2024", "15-01-2025"],
}


df = pd.DataFrame(data)


def convert_dates(df):
    df["Date"] = pd.to_datetime(df["Date"], format="%d-%m-%Y")
    return df

converted_df = convert_dates(df)
print(converted_df)
print(converted_df.dtypes)
```
</details>

<br>

## Funkce `date_range`

---

Aby bylo zad√°n√≠ ≈ôady (sekvence) dat pohodlnƒõj≈°√≠, vyzkou≈°ej funkci `date_range`.

Obdobnƒõ potom pracuj√≠ souvisej√≠c√≠ funkce:
* `date_range`, timestampy,
* `period_range`, periody,
* `timedelta_range`, pro delty.

In [ ]:
from pandas import date_range

<br>

### Poƒçet period

---

In [ ]:
datumy_rada = date_range(start="01-01-1992", periods=5, freq='10min15s')

<br>

Specifikace hodnoty frekvence vych√°z√≠ v≈ædy z tabulky [offset≈Ø](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases).

In [ ]:
datumy_rada

<br>

## Frekvence

---

In [ ]:
datumy_mesicne_ind = date_range("01-01-1992", periods=12, freq="M")

In [ ]:
datumy_mesicne_ind

<br>

### Hodinov√© periody

---

In [ ]:
from pandas import timedelta_range

In [ ]:
hodinove_ind = timedelta_range(0, periods=12, freq='H')

In [ ]:
hodinove_ind

In [ ]:
# timedelta_range?

<br>

### Tabulka frekvenc√≠

---

ƒåasovou paletou frekvenc√≠, kterou framework `pandas` nab√≠z√≠ je tato tabulka:

| String | Popisek |
| :-: | :- |
| `D` | kalend√°≈ôn√≠ den |
| `W` | t√Ωden |
| `M` | konec mƒõs√≠ce |
| `Q` | konec ƒçtvrtlet√≠ |
| `A` | konec roku |
| `H` | hodiny |
| `T` | minuty |
| `S` | vte≈ôiny |
| `B` | pracovn√≠ den |
| `BM` | konec pracovn√≠ho mƒõs√≠ce |
| `BQ` | konec pracovn√≠ho ƒçtvrtlet√≠ |

#### Netradiƒçn√≠ frekvence

---

In [ ]:
timedelta_range(start='1H', periods=5, freq="1H15T")

<br>

### Resampling

---

*Resampling* nebo tak√© *p≈ôevzorkov√°n√≠* je proces, kter√Ω upravuje frekvenci ƒçasov√© ≈ôady.

*Resampling* se obvykle pou≈æ√≠v√° **pro sn√≠≈æen√≠ frekvence** (z hodinov√Ωch dat na denn√≠ data).

*Resampling* zahrnuje **agregaci dat**.

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, date_range

<br>

V `pandas` se k tomu pou≈æ√≠v√° metoda `resample`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st:

In [2]:
data = {'date': pd.date_range(start='2022-01-01', periods=60, freq='D'),
        'sales': np.random.randint(10, 100, size=60)}

In [3]:
data_df = pd.DataFrame(data)

In [5]:
data_df.head(7)

        date  sales
0 2022-01-01     77
1 2022-01-02     89
2 2022-01-03     78
3 2022-01-04     73
4 2022-01-05     24
5 2022-01-06     11
6 2022-01-07     27

Dostupn√© sloupce:

In [6]:
data_df.columns

Index(['date', 'sales'], dtype='object')

Dostupn√© indexy:

In [7]:
data_df.index

RangeIndex(start=0, stop=60, step=1)

<br>

Nastaven√≠ nov√©ho sloupce pro Index:

In [8]:
data_df.set_index('date', inplace=True)

In [9]:
data_df.head()

            sales
date
2022-01-01     77
2022-01-02     89
2022-01-03     78
2022-01-04     73
2022-01-05     24

<br>

Pomoc√≠ metody `resample` souƒçasnƒõ hodnoty agregujeme a sn√≠≈æ√≠me frekvenci:

In [13]:
pd.__version__

'2.0.3'

In [20]:
mesicni_data_df = data_df.resample('M').sum()  # 'M'/'ME' - end of the month

In [21]:
mesicni_data_df

            sales
date
2022-01-31   1564
2022-02-28   1760
2022-03-31     18

In [22]:
data_df.tail()

            sales
date
2022-02-25     96
2022-02-26     34
2022-02-27     85
2022-02-28     59
2022-03-01     18

<br>

Upravit p≈Øvodn√≠ vzorek dat na zam√Ω≈°lenou frekvenci, tedy `W`:

In [42]:
tydenni_data_df = data_df.resample('W').mean().round(1)

In [43]:
tydenni_data_df

            sales
date
2022-01-02   83.0
2022-01-09   44.3
2022-01-16   62.6
2022-01-23   41.4
2022-01-30   39.4
2022-02-06   67.0
2022-02-13   67.0
2022-02-20   60.7
2022-02-27   60.3
2022-03-06   38.5

In [26]:
from pandas import to_datetime

In [31]:
to_datetime('2022-01-02').day_name()

'Sunday'

<br>

### Zp≈ôes≈àov√°n√≠

---

Zahrnuje **zv√Ω≈°en√≠ frekvence ƒçasov√Ωch ≈ôad**.

P≈ôiƒçem≈æ se novƒõ vytvo≈ôen√© hodnoty obvykle interpoluj√≠ nebo dopl≈àuj√≠ nƒõjakou konstantou.

V pandas se k zp≈ôes≈àov√°n√≠ pou≈æ√≠v√° metoda `asfreq`, kter√° m√° jako parametr **novou frekvenci**, na kterou chcete data p≈ôev√©st.

In [44]:
data = {'date': pd.date_range(start='2022-01-01', end='2022-03-01', freq='D'),
        'sales': np.random.randint(10, 150, size=60)}  # Opatrnƒõ na d√©lky sekvenc√≠

In [45]:
dalsi_data_df = pd.DataFrame(data)

In [46]:
dalsi_data_df.head()

        date  sales
0 2022-01-01     40
1 2022-01-02    139
2 2022-01-03    113
3 2022-01-04    126
4 2022-01-05     40

In [47]:
dalsi_data_df.set_index('date', inplace=True)

In [50]:
dalsi_data_df.head(10)

            sales
date
2022-01-01     40
2022-01-02    139
2022-01-03    113
2022-01-04    126
2022-01-05     40
2022-01-06     85
2022-01-07     84
2022-01-08     71
2022-01-09     19
2022-01-10    144

In [48]:
denni_data = dalsi_data_df.asfreq('H')

<br>

Pokud nezad√°≈° hodnotu pro v√Ωpl≈àovac√≠ parametr, uvid√≠≈° pr√°zdn√© hodnoty `NaN`:

In [52]:
denni_data.head(25)

                     sales
date
2022-01-01 00:00:00   40.0
2022-01-01 01:00:00    NaN
2022-01-01 02:00:00    NaN
2022-01-01 03:00:00    NaN
2022-01-01 04:00:00    NaN
2022-01-01 05:00:00    NaN
2022-01-01 06:00:00    NaN
2022-01-01 07:00:00    NaN
2022-01-01 08:00:00    NaN
2022-01-01 09:00:00    NaN
2022-01-01 10:00:00    NaN
2022-01-01 11:00:00    NaN
2022-01-01 12:00:00    NaN
2022-01-01 13:00:00    NaN
2022-01-01 14:00:00    NaN
2022-01-01 15:00:00    NaN
2022-01-01 16:00:00    NaN
2022-01-01 17:00:00    NaN
2022-01-01 18:00:00    NaN
2022-01-01 19:00:00    NaN
2022-01-01 20:00:00    NaN
2022-01-01 21:00:00    NaN
2022-01-01 22:00:00    NaN
2022-01-01 23:00:00    NaN
2022-01-02 00:00:00  139.0

Metoda `asfreq` bere jako parametr novou frekvenci, na kterou chceme data p≈ôev√©st.

V p≈ô√≠padƒõ v√Ω≈°e jde o frekvenci `H`, co≈æ znamen√° **hodinov√° data**.

Proto≈æe p≈ôi zp≈ôes≈àov√°n√≠ se **vytvo≈ô√≠ chybƒõj√≠c√≠ hodnoty** (v d≈Øsledku zv√Ω≈°en√≠ frekvence), je pot≈ôeba zvolit metodu pro jejich doplnƒõn√≠.

In [53]:
denni_data_df = dalsi_data_df.asfreq('H', method='ffill')  # ffill, bfill

In [56]:
denni_data_df.head(26)

                     sales
date
2022-01-01 00:00:00     40
2022-01-01 01:00:00     40
2022-01-01 02:00:00     40
2022-01-01 03:00:00     40
2022-01-01 04:00:00     40
2022-01-01 05:00:00     40
2022-01-01 06:00:00     40
2022-01-01 07:00:00     40
2022-01-01 08:00:00     40
2022-01-01 09:00:00     40
2022-01-01 10:00:00     40
2022-01-01 11:00:00     40
2022-01-01 12:00:00     40
2022-01-01 13:00:00     40
2022-01-01 14:00:00     40
2022-01-01 15:00:00     40
2022-01-01 16:00:00     40
2022-01-01 17:00:00     40
2022-01-01 18:00:00     40
2022-01-01 19:00:00     40
2022-01-01 20:00:00     40
2022-01-01 21:00:00     40
2022-01-01 22:00:00     40
2022-01-01 23:00:00     40
2022-01-02 00:00:00    139
2022-01-02 01:00:00    139

V√Ω≈° jde o metodu `forward fill` (parametr `method='ffill'`), kter√° kop√≠ruje p≈ôedchoz√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

Dal≈°√≠ mo≈ænost√≠ je pou≈æ√≠t metodu `'back fill'` (parametr `method='bfill'`), kter√° kop√≠ruje n√°sleduj√≠c√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

In [57]:
denni_data = dalsi_data_df.asfreq('H', method='bfill')

In [58]:
denni_data.head(25)

                     sales
date
2022-01-01 00:00:00     40
2022-01-01 01:00:00    139
2022-01-01 02:00:00    139
2022-01-01 03:00:00    139
2022-01-01 04:00:00    139
2022-01-01 05:00:00    139
2022-01-01 06:00:00    139
2022-01-01 07:00:00    139
2022-01-01 08:00:00    139
2022-01-01 09:00:00    139
2022-01-01 10:00:00    139
2022-01-01 11:00:00    139
2022-01-01 12:00:00    139
2022-01-01 13:00:00    139
2022-01-01 14:00:00    139
2022-01-01 15:00:00    139
2022-01-01 16:00:00    139
2022-01-01 17:00:00    139
2022-01-01 18:00:00    139
2022-01-01 19:00:00    139
2022-01-01 20:00:00    139
2022-01-01 21:00:00    139
2022-01-01 22:00:00    139
2022-01-01 23:00:00    139
2022-01-02 00:00:00    139

In [81]:
nova_rada_prodeju = (102,
 72,
 118,
 108,
 87,
 140,
 122,
 110,
 10,
 102,
 10,
 139,
 148,
 86,
 37,
 66,
 84,
 127,
 24,
 114,
 20,
 102,
 66,
 29,
 141,
 50,
 36,
 60,
 137,
 104,
 145,
 147,
 117,
 118,
 10,
 112,
 55,
 43,
 16,
 112,
 69,
 136,
 25,
 91,
 111,
 59,
 13,
 114,
 34,
 63,
 91,
 82,
 30,
 77,
 145,
 133,
 48,
 61,
 103)

In [62]:
data = {'date': pd.date_range(start='2022-01-01', end='2022-03-01', freq='D'),
        'sales': nova_rada_prodeju}

In [64]:
data_df = DataFrame(data)

In [65]:
data_df.set_index('date', inplace=True)

In [66]:
data_df.head()

            sales
date
2022-01-01  102.0
2022-01-02    NaN
2022-01-03   72.0
2022-01-04  118.0
2022-01-05  108.0

In [77]:
tuple(pd.date_range(start='2022-01-01', end='2022-03-01', freq='D'))

(Timestamp('2022-01-01 00:00:00'),
 Timestamp('2022-01-02 00:00:00'),
 Timestamp('2022-01-03 00:00:00'),
 Timestamp('2022-01-04 00:00:00'),
 Timestamp('2022-01-05 00:00:00'),
 Timestamp('2022-01-06 00:00:00'),
 Timestamp('2022-01-07 00:00:00'),
 Timestamp('2022-01-08 00:00:00'),
 Timestamp('2022-01-09 00:00:00'),
 Timestamp('2022-01-10 00:00:00'),
 Timestamp('2022-01-11 00:00:00'),
 Timestamp('2022-01-12 00:00:00'),
 Timestamp('2022-01-13 00:00:00'),
 Timestamp('2022-01-14 00:00:00'),
 Timestamp('2022-01-15 00:00:00'),
 Timestamp('2022-01-16 00:00:00'),
 Timestamp('2022-01-17 00:00:00'),
 Timestamp('2022-01-18 00:00:00'),
 Timestamp('2022-01-19 00:00:00'),
 Timestamp('2022-01-20 00:00:00'),
 Timestamp('2022-01-21 00:00:00'),
 Timestamp('2022-01-22 00:00:00'),
 Timestamp('2022-01-23 00:00:00'),
 Timestamp('2022-01-24 00:00:00'),
 Timestamp('2022-01-25 00:00:00'),
 Timestamp('2022-01-26 00:00:00'),
 Timestamp('2022-01-27 00:00:00'),
 Timestamp('2022-01-28 00:00:00'),
 Timestamp('2022-01-29 00:00:00'),
 Timestamp('2022-01-30 00:00:00'),
 Timestamp('2022-01-31 00:00:00'),
 Timestamp('2022-02-01 00:00:00'),
 Timestamp('2022-02-02 00:00:00'),
 Timestamp('2022-02-03 00:00:00'),
 Timestamp('2022-02-04 00:00:00'),
 Timestamp('2022-02-05 00:00:00'),
 Timestamp('2022-02-06 00:00:00'),
 Timestamp('2022-02-07 00:00:00'),
 Timestamp('2022-02-08 00:00:00'),
 Timestamp('2022-02-09 00:00:00'),
 Timestamp('2022-02-10 00:00:00'),
 Timestamp('2022-02-11 00:00:00'),
 Timestamp('2022-02-12 00:00:00'),
 Timestamp('2022-02-13 00:00:00'),
 Timestamp('2022-02-14 00:00:00'),
 Timestamp('2022-02-15 00:00:00'),
 Timestamp('2022-02-16 00:00:00'),
 Timestamp('2022-02-17 00:00:00'),
 Timestamp('2022-02-18 00:00:00'),
 Timestamp('2022-02-19 00:00:00'),
 Timestamp('2022-02-20 00:00:00'),
 Timestamp('2022-02-21 00:00:00'),
 Timestamp('2022-02-22 00:00:00'),
 Timestamp('2022-02-23 00:00:00'),
 Timestamp('2022-02-24 00:00:00'),
 Timestamp('2022-02-25 00:00:00'),
 Timestamp('2022-02-26 00:00:00'),
 Timestamp('2022-02-27 00:00:00'),
 Timestamp('2022-02-28 00:00:00'),
 Timestamp('2022-03-01 00:00:00'))

In [79]:
from pandas import Timestamp

In [80]:
nova_casova_rada = (Timestamp('2022-01-01 00:00:00'),
 Timestamp('2022-01-03 00:00:00'),
 Timestamp('2022-01-04 00:00:00'),
 Timestamp('2022-01-05 00:00:00'),
 Timestamp('2022-01-06 00:00:00'),
 Timestamp('2022-01-07 00:00:00'),
 Timestamp('2022-01-08 00:00:00'),
 Timestamp('2022-01-09 00:00:00'),
 Timestamp('2022-01-10 00:00:00'),
 Timestamp('2022-01-11 00:00:00'),
 Timestamp('2022-01-12 00:00:00'),
 Timestamp('2022-01-13 00:00:00'),
 Timestamp('2022-01-14 00:00:00'),
 Timestamp('2022-01-15 00:00:00'),
 Timestamp('2022-01-16 00:00:00'),
 Timestamp('2022-01-17 00:00:00'),
 Timestamp('2022-01-18 00:00:00'),
 Timestamp('2022-01-19 00:00:00'),
 Timestamp('2022-01-20 00:00:00'),
 Timestamp('2022-01-21 00:00:00'),
 Timestamp('2022-01-22 00:00:00'),
 Timestamp('2022-01-23 00:00:00'),
 Timestamp('2022-01-24 00:00:00'),
 Timestamp('2022-01-25 00:00:00'),
 Timestamp('2022-01-26 00:00:00'),
 Timestamp('2022-01-27 00:00:00'),
 Timestamp('2022-01-28 00:00:00'),
 Timestamp('2022-01-29 00:00:00'),
 Timestamp('2022-01-30 00:00:00'),
 Timestamp('2022-01-31 00:00:00'),
 Timestamp('2022-02-01 00:00:00'),
 Timestamp('2022-02-02 00:00:00'),
 Timestamp('2022-02-03 00:00:00'),
 Timestamp('2022-02-04 00:00:00'),
 Timestamp('2022-02-05 00:00:00'),
 Timestamp('2022-02-06 00:00:00'),
 Timestamp('2022-02-07 00:00:00'),
 Timestamp('2022-02-08 00:00:00'),
 Timestamp('2022-02-09 00:00:00'),
 Timestamp('2022-02-10 00:00:00'),
 Timestamp('2022-02-11 00:00:00'),
 Timestamp('2022-02-12 00:00:00'),
 Timestamp('2022-02-13 00:00:00'),
 Timestamp('2022-02-14 00:00:00'),
 Timestamp('2022-02-15 00:00:00'),
 Timestamp('2022-02-16 00:00:00'),
 Timestamp('2022-02-17 00:00:00'),
 Timestamp('2022-02-18 00:00:00'),
 Timestamp('2022-02-19 00:00:00'),
 Timestamp('2022-02-20 00:00:00'),
 Timestamp('2022-02-21 00:00:00'),
 Timestamp('2022-02-22 00:00:00'),
 Timestamp('2022-02-23 00:00:00'),
 Timestamp('2022-02-24 00:00:00'),
 Timestamp('2022-02-25 00:00:00'),
 Timestamp('2022-02-26 00:00:00'),
 Timestamp('2022-02-27 00:00:00'),
 Timestamp('2022-02-28 00:00:00'),
 Timestamp('2022-03-01 00:00:00'))

In [82]:
data = {'date': nova_casova_rada,
        'sales': nova_rada_prodeju}

In [83]:
novy_df = DataFrame(data)

In [84]:
novy_df.set_index('date', inplace=True)

In [85]:
novy_df.head()

            sales
date
2022-01-01    102
2022-01-03     72
2022-01-04    118
2022-01-05    108
2022-01-06     87

In [93]:
mesicni_data_asfreq = novy_df.asfreq('H', method='ffill')  # fillna

In [95]:
mesicni_data_asfreq.head(10)

                     sales
date
2022-01-01 00:00:00    102
2022-01-01 01:00:00     50
2022-01-01 02:00:00     50
2022-01-01 03:00:00     50
2022-01-01 04:00:00     50
2022-01-01 05:00:00     50
2022-01-01 06:00:00     50
2022-01-01 07:00:00     50
2022-01-01 08:00:00     50
2022-01-01 09:00:00     50

<br>

Pokud mi nevyhovuj√≠ metody `bfill` a `ffill`, tak m≈Ø≈æu novƒõ vznikl√© z√°znamy vyplnit konstantou `fill_value`.

<br>

**üß† CVIƒåEN√ç üß†, procviƒç si ƒçasov√© ≈ôady**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Celkov√Ω prodej za ka≈æd√Ω mƒõs√≠c.
2. Pr≈Ømƒõrn√Ω prodej za ka≈æd√Ω den v t√Ωdnu.
3. Denn√≠ prodej za posledn√≠ t√Ωden.

In [96]:
import pandas as pd
import numpy as np

In [125]:
denni_datumy = pd.date_range(start='2022-01-01',
                             end='2022-12-31',
                             freq='D')
prodeje = np.random.randint(10, 100, size=(len(denni_datumy),))

In [126]:
df_prodeje = pd.DataFrame({'datumy': denni_datumy, 'prodeje': prodeje})

In [101]:
df_prodeje.set_index('datumy', inplace=True)

In [127]:
df_prodeje.head()

      datumy  prodeje
0 2022-01-01       58
1 2022-01-02       62
2 2022-01-03       49
3 2022-01-04       89
4 2022-01-05       77

In [110]:
r1 = df_prodeje.resample('M').sum().to_period(freq='M')

In [115]:
r1

         prodeje
datumy
2022-01     1601
2022-02     1429
2022-03     1964
2022-04     1995
2022-05     1800
2022-06     1768
2022-07     1563
2022-08     1733
2022-09     1533
2022-10     1552
2022-11     1587
2022-12     1747

In [120]:
df_prodeje

            prodeje
datumy
2022-01-01       59
2022-01-02       73
2022-01-03       53
2022-01-04       59
2022-01-05       82
...             ...
2022-12-27       88
2022-12-28       97
2022-12-29       18
2022-12-30       69
2022-12-31       87

[365 rows x 1 columns]

In [123]:
from pandas import to_datetime

In [138]:
to_datetime(df_prodeje['datumy']).dt.strftime('%Y/%m')

0      2022/01
1      2022/01
2      2022/01
3      2022/01
4      2022/01
        ...
360    2022/12
361    2022/12
362    2022/12
363    2022/12
364    2022/12
Name: datumy, Length: 365, dtype: object

In [139]:
# TODO: Doplnit p≈ôeveden√© do ≈ôe≈°en√≠.

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
monthly_sales = df.resample('M').sum()
print("Celkov√Ω prodej za ka≈æd√Ω mƒõs√≠c:")
print(monthly_sales)

df_prodeje['weekday'] = df_prodeje.index.weekday
average_weekday_sales = df_prodeje.groupby('weekday')['prodeje'].mean()
print("\nPr≈Ømƒõrn√Ω prodej za ka≈æd√Ω den v t√Ωdnu:")
print(average_weekday_sales)

last_week_sales = df.loc['2022-12-25':, 'sales']
print("\nDenn√≠ prodej za posledn√≠ t√Ωden:")
print(last_week_sales)
```
</details>

---